<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서 Date/time-picker(Prop)</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
  <script src="js/html5.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <!-- timepicker library -->
  <link rel="stylesheet" type="text/css" href="../../assets/lib/jquery.timepicker.min.css">
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li class="active"><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">

                  <!-- Datepicker -->
                  <div class="box tool datetime-picker" style="top:50px;left:50px;width:200px;height:50px;">
                    <div class="mui-datepicker">
                      <input type="text" class="mui-datepicker-input" placeholder="yyyy/mm/dd">
                      <button class="mu-btn mu-btn-default mui-datepicker-button">
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                  </div>
                  <!-- // Datepicker -->

                  <!-- Datepicker: 박스 클릭 시 사이즈 조절 박스 활성화 -->
                  <div class="box tool datetime-picker active" style="top:50px;left:300px;width:200px;height:50px;">
                    <div class="mu-datepicker">
                      <input type="text" class="mu-input hasDatepicker" value="yyyy/mm/dd">
                      <button class="mu-btn mu-btn-default">
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Datepicker: 박스 클릭 시 사이즈 조절 박스 활성화 -->

                  <!-- Datepicker: 대상으로 설정 가능한 상태 -->
                  <span style="position:absolute;top:120px;left:50px;">대상으로 설정 가능한 상태 <span class="highlight">.deselect</span></span>
                  <div class="box tool datetime-picker deselect" style="top:140px;left:50px;width:200px;height:30px;">
                    <div class="mu-datepicker">
                      <input type="text" class="mu-input hasDatepicker" value="yyyy/mm/dd">
                      <button class="mu-btn mu-btn-default">
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                    <div class="mu-checkbox">
                      <input type="checkbox" id="button01_ckb">
                      <label for="button01_ckb"></label>
                    </div>
                  </div>
                  <!-- // Datepicker: 대상으로 설정 가능한 상태 -->

                  <!-- Datepicker: 대상으로 설정된 상태 -->
                  <span style="position:absolute;top:120px;left:300px;">대상으로 설정된 상태 <span class="highlight">.select</span></span>
                  <div class="box tool datetime-picker select" style="top:140px;left:300px;width:200px;height:30px;">
                    <div class="mu-datepicker">
                      <input type="text" class="mu-input hasDatepicker" value="yyyy/mm/dd">
                      <button class="mu-btn mu-btn-default">
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                    <div class="mu-checkbox">
                      <input type="checkbox" id="button02_ckb" checked>
                      <label for="button02_ckb"></label>
                    </div>
                  </div>
                  <!-- // Datepicker: 대상으로 설정된 상태 -->

                  <!-- Datepicker: 객체 최소 사이즈 (40x30) -->
                  <span style="position:absolute;top:30px;left:550px;">객체 최소 사이즈 (40x30)</span>
                  <div class="box tool datetime-picker" style="top:50px;left:550px;width:30px;height:30px;">
                    <div class="mu-datepicker">
                      <input type="text" class="mu-input hasDatepicker" value="yyyy/mm/dd">
                      <button class="mu-btn mu-btn-default">
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                  </div>
                  <!-- // Datepicker: 객체 최소 사이즈 (40x30) -->

                  <!-- Timepicker: Open -->
                  <span style="position:absolute;top:30px;left:820px;">Timepicker Open</span>
                  <div class="box tool datetime-picker active" style="top:50px;left:800px;width:120px;height:30px;">
                    <div class="mu-timepicker">
                      <input type="text" class="mu-input ui-timepicker-input" id="" autocomplete="off" placeholder="hh:mm" value="02:00">
                      <button class="mu-btn mu-btn-default">
                        <i class="iriscon clock"></i>
                      </button>
                      <div class="ui-timepicker-wrapper" style="position: absolute; top: 30px;left:0;">
                        <ul class="ui-timepicker-list">
                          <li class="ui-timepicker-am">00:00</li>
                          <li class="ui-timepicker-am">00:30</li>
                          <li class="ui-timepicker-am">01:00</li>
                          <li class="ui-timepicker-am">01:30</li>
                          <li class="ui-timepicker-am ui-timepicker-selected">02:00</li>
                          <li class="ui-timepicker-am">02:30</li>
                          <li class="ui-timepicker-am">03:00</li>
                          <li class="ui-timepicker-am">03:30</li>
                          <li class="ui-timepicker-am">04:00</li>
                          <li class="ui-timepicker-am">04:30</li>
                        </ul>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Timepicker: Open -->

                  <!-- Datepicker: Open -->
                  <div class="box tool datetime-picker" style="top:300px;left:800px;width:120px;height:30px;">
                    <div class="mu-datepicker">
                      <input type="text" class="mu-input" value="yyyy/mm/dd">
                      <button class="mu-btn mu-btn-default">
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                  </div>
                  <!-- // Datepicker: Open -->
                </div>
                <!-- //canvas 영역 -->
              </div>
              <!-- 우측 패널 -->
              <div class="report-panel">
                <ul class="mu-tab">
                  <li><a>속성</a></li>
                  <li><a>항목</a></li>
                  <li class="active"><a>객체</a></li>
                </ul>
                <!-- 속성 -->
                <div class="mu-tab-body object">
                  <div class="mu-tabCont">
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel mu-formbox-inner">
                        <div class="mu-panel-head">
                          <span class="mu-title">크기</span>
                        </div>
                        <div class="mu-panel-body">
                          <table class="mu-formbox">
                            <colgroup>
                              <col width="90px">
                            </colgroup>
                            <tbody>
                              <tr>
                                <th>가로</th>
                                <td>
                                  <input class="mu-input" value="200">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="mu-panel mu-formbox-inner">
                        <div class="mu-panel-head">
                          <span class="mu-title">위치</span>
                        </div>
                        <div class="mu-panel-body">
                          <table class="mu-formbox">
                            <colgroup>
                              <col width="90px">
                            </colgroup>
                            <tbody>
                              <tr>
                                <th>X</th>
                                <td>
                                  <input class="mu-input" value="170">
                                </td>
                              </tr>
                              <tr>
                                <th>Y</th>
                                <td>
                                  <input class="mu-input" value="30">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="mu-panel-head">
                        <span class="mu-title">테두리</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i>꾸미기 옵션</button>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i></button>
                        <!-- option 활성화시 active 추가 -->
                        <button class="mu-btn mu-btn-icon disabled" disabled="disabled"><i class="mu-icon setting"></i></button><!-- disabled -->
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>스타일</th>
                              <td>
                                  <div class="border"></div>
                                  <!-- 테두리 두께 -->
                                  <span>3</span>
                                  <!-- //테두리 두께 -->
                                </td>
                            </tr>
                            <tr>
                              <th>라운드</th>
                              <td>10</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="mu-panel mu-formbox-inner">
                        <div class="mu-panel-head">
                          <span class="mu-title">채우기</span>
                        </div>
                        <div class="mu-panel-body">
                          <table class="mu-formbox">
                            <colgroup>
                              <col width="90px">
                            </colgroup>
                            <tbody>
                              <tr>
                                <th>색상</th>
                                <td>
                                  <span class="color-preview-option" style="border: 1px solid rgb(206, 211, 217);background-color: rgb(83, 173, 250);"></span>
                                </td>
                              </tr>
                              <tr>
                                <th>투명도</th>
                                <td>
                                  <div class="mu-item-group">
                                    <div class="mu-btn-group">
                                      <span>0%</span>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="mu-panel mu-formbox-inner">
                            <div class="mu-panel-head">
                              <span class="mu-title">그림자</span>
                            </div>
                            <div class="mu-panel-body">
                              <table class="mu-formbox">
                                <colgroup>
                                  <col width="90px">
                                </colgroup>
                                <tbody>
                                  <tr>
                                    <th>그림자</th>
                                    <td>
                                      <ul>
                                        <li class="shadow-align">
                                          <i class="icon-shadow"></i> 그림자 없음
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- // 단일값 속성 -->

                          </div>
                        </div>
                        <!-- //객체 -->
                      </div>
                      <!-- //우측 패널 -->
                    </div>
                  </div>
                </div>
                <!-- //속성 -->
              </div>
              <!-- //우측 패널 -->
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <!-- 날짜 / 시간 설정 다이얼로그: 날짜 설정 -->
  <div class="mu-dialog mu-tab-inner type1 mui-dialog-sm" style="top:280px;left:28px;">
    <div class="mu-dialog-head">
      <span class="title">날짜 / 시간 설정</span>
      <button type="button" class="mu-btn mu-btn-icon mu-btn-bg-non"><i class="mu-icon-img"></i></button>
    </div>
    <div class="mu-dialog-body">
      <ul class="mu-tab mu-tab-vertical">
        <li class="active"><a href="">달력 표시 날짜</a></li>
        <li><a href="">초기 날짜</a></li>
      </ul>
      <div class="mu-tab-body">
        <div class="mu-tabCont">
          <table class="mu-formbox">
            <colgroup>
              <col width="92px">
            </colgroup>
            <tbody>
              <tr>
                <th>사용 여부<button class="mu-btn mu-btn-icon">
                </th>
                <td>
                  <div class="mu-checkbox">
                    <input id="ckbtbl1" checked="checked" type="checkbox">
                    <label for="ckbtbl1">사용</label>
                  </div>
                </td>
              </tr>
              <tr>
                <th>시작 날짜</th>
                <td>
                  <div class="mu-datepicker">
                    <input type="text" class="mu-input" value="yyyy/mm/dd">
                    <button class="mu-btn mu-btn-default">
                      <i class="iriscon calendar"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <th>종료 날짜</th>
                <td>
                  <div class="mu-item-group">
                    <div class="mu-datepicker">
                      <input type="text" class="mu-input" value="yyyy/mm/dd" disabled>
                      <button class="mu-btn mu-btn-default" disabled>
                        <i class="iriscon calendar"></i>
                      </button>
                    </div>
                    <div class="mu-checkbox">
                      <input id="currentDate" checked="checked" type="checkbox" disabled>
                      <label for="currentDate">현재 날짜 선택</label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- 날짜 / 시간 설정 다이얼로그: 시간 설정 -->
  <div class="mu-dialog mu-tab-inner type1 mui-dialog-sm" style="top:480px;left:28px;">
    <div class="mu-dialog-head">
      <span class="title">날짜 / 시간 설정</span>
      <button type="button" class="mu-btn mu-btn-icon mu-btn-bg-non"><i class="mu-icon-img"></i></button>
    </div>
    <div class="mu-dialog-body">
      <ul class="mu-tab mu-tab-vertical">
        <li><a href="">시간 선택 간격</a></li>
        <li class="active"><a href="">초기 시간</a></li>
      </ul>
      <div class="mu-tab-body">
        <div class="mu-tabCont">
          <table class="mu-formbox">
            <colgroup>
              <col width="92px">
            </colgroup>
            <tbody>
              <tr>
                <th>시간</th>
                <td>
                  <div class="mu-item-group">
                    <div class="mui-input-number">
                      <input type="number" class="mui-input-number-input" max="12" min="00" step="1" placeholder="hh" value="00" disabled>
                    </div>
                    <span>:</span>
                    <div class="mui-input-number">
                      <input type="number" class="mui-input-number-input" max="60" min="00" step="1" placeholder="hh" value="00">
                    </div>
                    <div class="mu-checkbox">
                      <input id="currentTime" checked="checked" type="checkbox" disabled>
                      <label for="currentTime">현재 시간 선택</label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Datepicker: Open - calendar panel -->
  <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="position: absolute; top: 414px; left: 816px; display: block;">
    <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all ui-state-disabled" title="이전달"><span class="ui-icon ui-icon-circle-triangle-w">이전달</span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="다음달"><span class="ui-icon ui-icon-circle-triangle-e">다음달</span></a>
      <div class="ui-datepicker-title"><span class="ui-datepicker-year">2019</span>년&nbsp;<span class="ui-datepicker-month">8월</span></div>
    </div>
    <table class="ui-datepicker-calendar">
      <thead>
        <tr>
          <th class="ui-datepicker-week-end"><span title="일요일">일</span></th>
          <th><span title="월요일">월</span></th>
          <th><span title="화요일">화</span></th>
          <th><span title="수요일">수</span></th>
          <th><span title="목요일">목</span></th>
          <th><span title="금요일">금</span></th>
          <th class="ui-datepicker-week-end"><span title="토요일">토</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
            &nbsp;</td>
          <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
          <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
          <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">1</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">2</span></td>
          <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">3</span></td>
        </tr>
        <tr>
          <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">4</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">5</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">6</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">7</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">8</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">9</span></td>
          <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">10</span></td>
        </tr>
        <tr>
          <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">11</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">12</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">13</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">14</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">15</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">16</span></td>
          <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">17</span></td>
        </tr>
        <tr>
          <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">18</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">19</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">20</span></td>
          <td class=" ui-datepicker-unselectable ui-state-disabled "><span class="ui-state-default">21</span></td>
          <td class=" ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default ui-state-highlight ui-state-active ui-state-hover" href="#">22</a></td>
          <td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">23</a></td>
          <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">24</a></td>
        </tr>
        <tr>
          <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">25</a></td>
          <td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">26</a></td>
          <td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">27</a></td>
          <td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">28</a></td>
          <td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">29</a></td>
          <td class=" " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">30</a></td>
          <td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="7" data-year="2019"><a class="ui-state-default" href="#">31</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- // Datepicker: Open - calendar panel -->


  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>