<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서: 텍스트 - 객체</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../../assets/lib/spectrum.css">
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="buttozn" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li class="active"><i class="mu-icon-img textarea"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                  <div class="box tool text" style="top:50px;left:50px;width:200px;height:150px;">
                    <textarea class="mu-area" style="width:100%;height:100%;">Textarea</textarea>
                  </div>
                  <div class="box tool text active" style="top:50px;left:300px;width:200px;height:150px;">
                    <!-- 
                      각 서체별 text-area요소에 적용될 인라인 스타일
                      Arial: style="font-family: arial, sans-serif";
                      Courier: style="font-family: "Courier New", Courier, monospace";
                      Georgia: style="font-family: Georgia, serif";
                      Noto Sans: style="font-family: notokr";
                      Times New Roman: style="font-family:"Times New Roman", Times, serif";
                      Verdana: style="font-family:Verdana, Geneva, sans-serif";
                    -->
                    <div class="box tool text" style="width:200px;height:150px;">
                      <textarea class="mu-area" style="width:100%;height:100%;">Textarea</textarea>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>

                </div>
                <!-- //canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li class="active"><a href="">데이터</a></li>
                  <li><a href="">속성</a></li>
                  <li><a href="">객체</a></li>
                </ul>
                <!-- 서식 지우기 버튼 -->
                <!-- <div class="report-panel-tab-btn">
                  <button class="mu-btn mu-btn-link">
                    <div class="mu-btn-link-box">서식 지우기</div>
                  </button>
                </div> -->
                <!-- // 서식 지우기 버튼 -->
                <!-- 텍스트 설정 - 속성 -->
                <div class="mu-tab-body">
                  <div class="mu-tabCont">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">설정할 변수/값</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-area-wrap has-link-button">
                          <textarea class="mu-area"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">REST ful API 설정</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-grid-header">
                          <button class="mu-btn mu-btn-icon" type="button">
                            <i class="mu-icon setting"></i><span>트리거 설정</span>
                          </button>
                        </div>
                        <table class="mu-grid mu-grid-border mu-grid-strip select-width100">
                          <colgroup>
                            <col>
                            <col width="104">
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th>대상 오브젝트 ID</th>
                              <th>이벤트</th>
                              <th>삭제</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="3">
                                <div class="mui-message info">
                                  <i class="mu-icon info"></i><span class="mui-message-text">데이터가 없습니다</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>