<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서-IMA-데이터</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
                <li class="active"><i class="mu-icon-img ima"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
               <!-- canvas 영역 -->
               <div class="canvas" style="width:1920px;height:1080px;">
                <div class="tool ima" style="top:50px;left:50px;width:200px;height:150px;">
                  <div style="width:100%;height:100%;"></div>
                </div>
                <div class="tool ima active" style="top:50px;left:260px;width:200px;height:150px;">
                  <div style="width:100%;height:100%;"></div>
                   <!-- 크기 조절 상자 -->
                   <span class="tl"></span>
                   <span class="tc"></span>
                   <span class="tr"></span>
                   <span class="cl"></span>
                   <span class="cr"></span>
                   <span class="bl"></span>
                   <span class="bc"></span>
                   <span class="br"></span>
                   <!-- //크기 조절 상자 -->
                </div>
                <div class="tool ima" style="top:220px;left:50px;width:300px;height:550px;">
                  <!-- 레이어 이름 요소 -->
                  <div class="layer-name-wrap">
                    <span class="layer-name">layer name</span>
                  </div>
                  <!-- //레이어 이름 요소 -->
                  <!-- 객체 이동 버튼: 지도 이동, 객체 이동 토글 -->
                  <!-- 지도이동 -->
                  <div class="map-btn-move-wrap">
                    <button type="button" class="mu-btn mu-btn-default map-btn-move">
                      <i class="map"></i>
                    </button>
                  </div>
                  <!-- // 지도이동 -->
                  <!-- 객체이동 -->
                  <div class="map-btn-move-wrap" style="bottom: 160px;">
                    <button type="button" class="mu-btn mu-btn-default map-btn-move">
                      <i class="object"></i>
                    </button>
                  </div>
                  <!-- //객체이동 -->
                  <!-- // 객체 이동 버튼: 지도 이동, 객체 이동 토글 -->
                </div>
               </div>
               <!-- //canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li class="active"><a href="">데이터</a></li>
                  <li><a href="">시각화</a></li>
                  <li><a href="">속성</a></li>
                  <li><a href="">객체</a></li>
                </ul>
                <div class="mu-tab-body has-btn-play">
                  <!-- default 속성 -->
                  <div class="mu-tabCont" style="display: block;">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">Map 템플릿 선택</span>
                      </div>
                      <div class="mu-panel-body datamodel">
                        <div class="mu-selectbox on" title="Map 템플릿을 선택해주세요">
                          <button class="mu-value">서울시 성범죄 현황</button>
                          <ul class="mu-list">
                            <li value="1" title="서울시 성범죄 현황">서울시 성범죄 현황</li>
                            <li value="1" title="데이터모델명01-view"></i>데이터모델명01-view</li>
                            <li value="1" title="데이터모델명02">데이터모델명02</li>
                            <li value="1" title="데이터모델명02-view"></i>데이터모델명02-view</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">시각화 레이어 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>레이어</th>
                              <td>
                                <div class="mu-selectbox">
                                  <button class="mu-value" title="레이어를 선택해주세요">SEOUL_POLYGON</button>
                                  <ul class="mu-list">
                                    <li class="active">SEOUL_POLYGON</li>
                                    <li>Layer 01</li>
                                    <li>Layer 02</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>스냅샷</th>
                              <td>
                                <div class="mu-selectbox">
                                  <button class="mu-value" title="스냅샷을 선택해주세요">기본</button>
                                  <ul class="mu-list">
                                    <li class="active">기본</li>
                                    <li>Layer 01</li>
                                    <li>Layer 02</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">스냅샷 설정 변수</span>
                      </div>
                      <div class="mu-panel-body">
                        <input type="text" class="mu-input">
                      </div>
                    </div>
                    <!-- 필요시 주석해제 -->
                    <!--<div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">변수 값 트리거 설정</span>
                      </div>
                      <div class="mu-panel-body trigger-list">
                        <div class="mu-grid-header">
                          <button class="mu-btn mu-btn-icon" type="button">
                            <i class="mu-icon setting"></i><span>트리거 설정</span>
                          </button>
                        </div>
                        <table class="mu-grid mu-grid-border">
                          <colgroup>
                            <col>
                            <col width="104">
                          </colgroup>
                          <thead>
                            <tr>
                              <th>대상 오브젝트 ID</th>
                              <th>이벤트</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="2">
                                <div class="mui-message info">
                                  <i class="mu-icon info"></i><span class="mui-message-text">데이터가 없습니다</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>-->
                    <!-- // 필요시 주석해제 -->
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">기간</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>시작 날짜</th>
                              <td>2020/08/18</td>
                            </tr>
                            <tr>
                              <th>종료 날짜</th>
                              <td>2020/08/18</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">컬럼</span>
                        <button type="button" class="mu-btn mu-btn-sm mu-btn-default">미리보기</button>
                      </div>
                      <div class="mu-panel-body">
                        <textarea class="mu-area ng-pristine ng-valid ng-empty ng-touched" name="" id="" readonly>*
                          {% if check_annual == 1%}
                          WORK_GUBUN!='104' WORK_GUBUN!='105'
                          {% endif %}
                          | join DailyTask_VIEW_USER_INFO EMP_CD = DailyTask_VIEW_USER_INFO.EMPCD
                          | fields ent_date as 날짜,  DailyTask_VIEW_USER_INFO_deptNm as 부서, DailyTask_VIEW_USER_INFO_deptCD as 팀코드, DailyTask_VIEW_USER_INFO_empNM as 이름, DailyTask_VIEW_USER_INFO_empCD as 개인코드, work_title as 업무명, work_time as 업무시간
                          | time2sec 업무시간 "HH:mm"
                          | calculate 업무시간_to_seconds / 3600 as totalTime
                          | stats sum(totalTime) as sumTime by 팀코드, 부서, 개인코드, 이름 | sort 팀코드, 부서, 개인코드, 이름</textarea>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">데이터 필터</span>
                        <button type="button" class="mu-btn mu-btn-sm mu-btn-default">미리보기</button>
                      </div>
                      <div class="mu-panel-body">
                        <textarea class="mu-area ng-pristine ng-valid ng-empty ng-touched" name="" id="" readonly>
                          {% if check_annual == 1%}
                          WORK_GUBUN!='104' WORK_GUBUN!='105'
                          {% endif %}
                          | join DailyTask_VIEW_USER_INFO EMP_CD = DailyTask_VIEW_USER_INFO.EMPCD
                          | fields ent_date as 날짜,  DailyTask_VIEW_USER_INFO_deptNm as 부서, DailyTask_VIEW_USER_INFO_deptCD as 팀코드, DailyTask_VIEW_USER_INFO_empNM as 이름, DailyTask_VIEW_USER_INFO_empCD as 개인코드, work_title as 업무명, work_time as 업무시간
                          | time2sec 업무시간 "HH:mm"
                          | calculate 업무시간_to_seconds / 3600 as totalTime
                          | stats sum(totalTime) as sumTime by 팀코드, 부서, 개인코드, 이름 | sort 팀코드, 부서, 개인코드, 이름
                        </textarea>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">데이터 실행방법 설정</span>
                      </div>
                      <div class="mu-panel-body trigger-list">
                        <div class="mu-grid-header">
                          <button class="mu-btn mu-btn-icon" type="button">
                            <i class="mu-icon setting"></i><span>트리거 설정</span>
                          </button>
                          <div class="mu-checkbox ml-auto">
                            <input type="checkbox" id="ckb1">
                            <label for="ckb1">자동 실행</label>
                          </div>
                        </div>
                        <table class="mu-grid mu-grid-border mu-grid-strip select-width100">
                          <colgroup>
                            <col>
                            <col width="104">
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th>대상 오브젝트 ID</th>
                              <th>이벤트</th>
                              <th>삭제</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="3">
                                <div class="mui-message info">
                                  <i class="mu-icon info"></i><span class="mui-message-text">데이터가 없습니다</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="map-auto-search">
                          <span class="map-auto-search__text">
                            지도 이동 시 데이터 재 검색
                          </span>
                          <span class="fr bx-btn-toggle">
                            <button type="button" class="btn-toggle"></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- // default 속성 -->
                  <!-- 베이스맵 속성 -->
                  <div class="mu-tabCont" style="display: none;">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">Map 템플릿 선택</span>
                      </div>
                      <div class="mu-panel-body datamodel">
                        <div class="mu-selectbox on" title="Map 템플릿을 선택해주세요">
                          <button class="mu-value">서울시 성범죄 현황</button>
                          <ul class="mu-list">
                            <li value="1" title="서울시 성범죄 현황">서울시 성범죄 현황</li>
                            <li value="1" title="데이터모델명01-view">데이터모델명01-view</li>
                            <li value="1" title="데이터모델명02">데이터모델명02</li>
                            <li value="1" title="데이터모델명02-view">데이터모델명02-view</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">시각화 레이어 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>레이어</th>
                              <td>
                                <div class="mu-selectbox">
                                  <button class="mu-value" title="레이어를 선택해주세요">베이스맵</button>
                                  <ul class="mu-list">
                                    <li class="active">베이스맵</li>
                                    <li>Layer 01</li>
                                    <li>Layer 02</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mutitle">베이스맵</span>
                      </div>
                      <div class="mu-panel-body">
                        <span class="mui-message-text">Open Street Map 01</span>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">기본 값 설정</span>
                        <div class="fr" ng-click="setDefault()">
                          <button class="mu-btn mu-btn-link">
                            <div class="mu-btn-link-box">현재 지도값으로 설정</div>
                          </button>
                        </div>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>위도</th>
                              <td><input type="number" class="mu-input"></td>
                            </tr>
                            <tr>
                              <th>경도</th>
                              <td><input type="number" class="mu-input"></td>
                            </tr>
                            <tr>
                              <th>줌레벨</th>
                              <td><input type="number" class="mu-input"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">변수 값 설정</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>위도</th>
                              <td><input type="text" class="mu-input" placeholder="${map_1.map_clicked_lat}"></td>
                            </tr>
                            <tr>
                              <th>경도</th>
                              <td><input type="text" class="mu-input" placeholder="${map_1.map_clicked_lat}"></td>
                            </tr>
                            <tr>
                              <th>줌레벨</th>
                              <td><input type="text" class="mu-input" placeholder="${map_1.map_clicked_lat}"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- todo : 추후 기획 협의 후 주석해제 -->
                    <!--<div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">변수 값 트리거 설정</span>
                      </div>
                      <div class="mu-panel-body trigger-list">
                        <div class="mu-grid-header">
                          <button class="mu-btn mu-btn-icon" type="button">
                            <i class="mu-icon setting"></i><span>트리거 설정</span>
                          </button>
                        </div>
                        <table class="mu-grid mu-grid-border mu-grid-strip select-width100">
                          <colgroup>
                            <col>
                            <col width="104">
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th>대상 오브젝트 ID</th>
                              <th>이벤트</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="3">
                                <div class="mui-message info">
                                  <i class="mu-icon info"></i><span class="mui-message-text">데이터가 없습니다</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>-->
                    <!-- // todo : 추후 기획 협의 후 주석 해제 -->
                  </div>
                  <!-- // 베이스맵 속성 -->
                </div>
                <!-- //속성 -->
                <div class="bx-btn-play">
                  <button type="button" class="mu-btn btn-play"><i class="mu-icon-img play2"></i>실행</button>
                  <!--<button type="button" class="mu-btn btn-play"><i class="mu-icon-img stop3"></i>중지</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <!-- 컬럼, 데이터 필터 미리보기 다이얼로그 -->
  <div class="mu-dialog mui-dialog-xs" style="position: absolute; top: 470px; right: 310px;">
    <div class="mu-dialog-body">
      <pre class="line-break">
      {% if check_annual == 1%}
                          WORK_GUBUN!='104' WORK_GUBUN!='105'
                          {% endif %}
                          | join DailyTask_VIEW_USER_INFO EMP_CD = DailyTask_VIEW_USER_INFO.EMPCD
                          | fields ent_date as 날짜,  DailyTask_VIEW_USER_INFO_deptNm as 부서, DailyTask_VIEW_USER_INFO_deptCD as 팀코드, DailyTask_VIEW_USER_INFO_empNM as 이름, DailyTask_VIEW_USER_INFO_empCD as 개인코드, work_title as 업무명, work_time as 업무시간
                          | time2sec 업무시간 "HH:mm"
                          | calculate 업무시간_to_seconds / 3600 as totalTime
                          | stats sum(totalTime) as sumTime by 팀코드, 부서, 개인코드, 이름 | sort 팀코드, 부서, 개인코드, 이름
  </div>
  <div class="mu-dialog-foot">
    <button type="button" class="mu-btn mu-btn-default fr">닫기</button>
    <button type="button" class="mu-btn mu-btn-default fr mr10">복사</button>
  </div>
</div>
<!-- // 컬럼, 데이터 필터 미리보기 다이얼로그 -->
<!-- confirm 다이얼로그 -->
<div class="mu-alert etc" style="top:730px;left: 520px;">
  <div class="mu-alert-head">
    <i class="mu-icon exclamation"></i>
  </div>
  <div class="mu-alert-body">
    <span>Map 템플릿을 변경하게 되면 지금까지의 모든 작업 <br>내용이 초기화 됩니다. 계속하시겠습니까?</span>
  </div>
  <div class="mu-alert-foot">
    <button type="button" class="mu-btn">무시하고 계속</button>
    <button type="button" class="mu-btn cancel">취소</button>
  </div>
</div>
<!-- //confirm 다이얼로그 -->

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>