<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서-맵-데이터</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li class="active"><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                  <div class="tool map" style="top:50px;left:50px;width:200px;height:150px;">
                    <div style="width:100%;height:100%;"></div>
                  </div>
                  <div class="tool map active" style="top:50px;left:260px;width:200px;height:150px;">
                    <div style="width:100%;height:100%;"></div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <div class="tool map" style="top:220px;left:50px;width:300px;height:550px;">
                    <!-- 레이어 이름 요소 -->
                    <!-- <div class="layer-name-wrap">
                      <span class="layer-name">layer name</span>
                    </div> -->
                    <!-- // 레이어 이름 요소 -->
                    <!-- 객체 이동 버튼: 지도 이동, 객체 이동 토글 -->
                    <div class="map-btn-move-wrap">
                      <button type="button" class="mu-btn mu-btn-default map-btn-move">
                        <i class="mu-icon globe"></i>지도 이동
                      </button>
                    </div>
                    <div class="map-btn-move-wrap" style="top: 40px;">
                      <button type="button" class="mu-btn mu-btn-default map-btn-move">
                        <i class="mu-icon objects"></i>객체 이동
                      </button>
                    </div>
                    <!-- // 객체 이동 버튼: 지도 이동, 객체 이동 토글 -->
                    <!-- MAP 레이어 보기/숨기기 -->
                    <div class="leaflet-top leaflet-left">
                      <div class="leaflet-layers on leaflet-control" style="top:100px;left:10px;">
                        <button type="button" class="leaflet-view-layers"></button>
                        <div class="map-layers-popup">
                          <ul class="mu-list">
                            <div class="format-rule-delete">
                              <button type="button" class="mu-btn mu-btn-icon">
                                <i class="mu-icon cancel"></i>
                              </button>
                            </div>
                            <li>
                              <span class="mu-list-text ellipsis-end">Layer 01 Layer 01 LayerLayerLayerLayerLayer</span>
                              <button class="mu-btn-icon" type="button" title="표시">
                                <i class="mu-icon eye"></i>
                              </button>
                            </li>
                            <li>
                              <span class="mu-list-text ellipsis-end">Layer 01</span>
                              <button class="mu-btn-icon" type="button" title="표시">
                                <i class="mu-icon eye-slash"></i>
                              </button>
                            </li>
                            <li>
                              <span class="mu-list-text ellipsis-end">Layer 01</span>
                              <button class="mu-btn-icon" type="button" title="표시">
                                <i class="mu-icon eye-slash"></i>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- //MAP 레이어 보기/숨기기 -->
                    <!-- Map 색상에 대한 범례 -->
                    <div class="leaflet-bottom leaflet-left" style="position: absolute; bottom: 0;left: 0;">
                      <div class="mu-formbox leaflet-control linear">
                        <table class="linear-border">
                          <tbody>
                            <tr>
                              <td colspan="2" class="mu-formbox-gradient">&nbsp;</td>
                            </tr>
                            <tr>
                              <td class="mu-formbox-min">최소값</td>
                              <td class="mu-formbox-max">최대값</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="mu-formbox leaflet-control">
                        <ul class="mu-cqi-box">
                          <li>
                            <div class="cqi-1"></div>
                            <span>CQI&nbsp;&lt;=&nbsp;&nbsp;3.8</span>
                          </li>
                          <li>
                            <div class="cqi-2"></div>
                            <span>CQI&nbsp;&lt;=&nbsp;&nbsp;4</span>
                          </li>
                          <li>
                            <div class="cqi-3"></div>
                            <span>CQI&nbsp;&lt;=&nbsp;&nbsp;4.5</span>
                          </li>
                          <li>
                            <div class="cqi-4"></div>
                            <span>CQI&nbsp;&lt;=&nbsp;&nbsp;최대값</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- //Map 색상에 대한 범례 -->
                  </div>

                  <div class="tool map" style="top:800px;left:50px;width:300px;height:150px;">
                    <!-- 레이어 이름 요소 -->
                    <div class="layer-name-wrap">
                      <span class="layer-name">layer name</span>
                    </div>
                    <!-- // 레이어 이름 요소 -->
                    <!-- 객체 이동 버튼: 지도 이동, 객체 이동 토글 -->
                    <div class="map-btn-move-wrap">
                      <button type="button" class="mu-btn mu-btn-default map-btn-move">
                        <i class="mu-icon globe"></i>지도 이동
                      </button>
                    </div>
                    <div class="map-btn-move-wrap" style="top: 40px;">
                      <button type="button" class="mu-btn mu-btn-default map-btn-move">
                        <i class="mu-icon objects"></i>객체 이동
                      </button>
                    </div>
                    <!-- // 객체 이동 버튼: 지도 이동, 객체 이동 토글 -->
                    <!-- Notification -->
                    <!-- Notification(닫기 기능) -->
                    <p></p>
                    <div class="map-error-noti-wrap">
                      <div class="mui-noti mui-noti-error mui-noti-closable">
                        <i class="mu-icon err-circle mui-noti-icon"></i>
                        <p class="mui-noti-text ellipsis-end" title="error message">error message error message error
                          message</p>
                        <button type="button" class="mui-noti-close-btn">
                          <i class="iriscon cancel-thin mui-noti-close-icon"></i>
                        </button>
                      </div>
                      <div class="mui-noti mui-noti-error mui-noti-closable">
                        <i class="mu-icon err-circle mui-noti-icon"></i>
                        <p class="mui-noti-text ellipsis-end" title="error message">error message error message error
                          message</p>
                        <button type="button" class="mui-noti-close-btn">
                          <i class="iriscon cancel-thin mui-noti-close-icon"></i>
                        </button>
                      </div>
                      <div class="mui-noti mui-noti-error mui-noti-closable">
                        <i class="mu-icon err-circle mui-noti-icon"></i>
                        <p class="mui-noti-text ellipsis-end" title="error message">error message error message error
                          message</p>
                        <button type="button" class="mui-noti-close-btn">
                          <i class="iriscon cancel-thin mui-noti-close-icon"></i>
                        </button>
                      </div>
                    </div>
                    <!-- // Notification(닫기 기능) -->
                    <div style="width:100%;height:100%;"></div>
                  </div>
                </div>
                <!-- //canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li class="active"><a href="">데이터</a></li>
                  <li><a href="">속성</a></li>
                  <li><a href="">불러오기</a></li>
                </ul>
                <!-- 속성 -->
                <div class="mu-tab-body has-btn-play">
                  <div class="mu-tabCont">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">레이어</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i></button>
                        <button class="mu-btn mu-btn-icon" disabled="disabled"><i class="mu-icon setting"></i></button>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-selectbox" mu-select-v2="report_edit.area.panel.database"
                          select-model="formData.selDataBase" select-change="changeDataBase()">
                          <button class="mu-value ng-binding" title="">Layer map(지도)</button>
                          <ul class="mu-list">
                            <li class="active">Layer map(지도)</li>
                            <li>Layer 01</li>
                            <li>Layer 02</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">지도 API</span>
                      </div>
                      <div class="mu-panel-body">
                        <ul class="map-api-type">
                          <li class="active">
                            <button type="button" class="btn-item map-openstreet">Open
                              Street Map</button>
                          </li>
                          <li class="disabled">
                            <button type="button" class="btn-item map-google">Google Maps
                              Platform</button>
                          </li>
                          <li class="hover">
                            <button type="button" class="btn-item map-naver">
                              Naver Map</button>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">지도 URL</span><button class="mu-btn mu-btn-icon"><i
                            class="mu-icon question-circle"></i></button>
                      </div>
                      <div class="mu-panel-body">
                        <input type="text" class="mu-input">
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">기본</span>
                        <div class="fr" ng-click="setDefault()">
                          <button class="mu-btn mu-btn-link">
                            <div class="mu-btn-link-box">현재 지도값으로 설정</div>
                          </button>
                        </div>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>위도</th>
                              <td><input type="text" class="mu-input"></td>
                            </tr>
                            <tr>
                              <th>경도</th>
                              <td><input type="text" class="mu-input"></td>
                            </tr>
                            <tr>
                              <th>줌레벨</th>
                              <td>
                                <div class="mui-input-number"><input type="number" class="mui-input-number-input"
                                    max="10" min="1" step="1"></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">데이터 실행방법 설정</span>
                      </div>
                      <div class="mu-panel-body trigger-list">
                        <div class="mu-grid-header">
                          <button class="mu-btn mu-btn-icon" type="button">
                            <i class="mu-icon setting"></i><span>트리거 설정</span>
                          </button>
                          <div class="mu-checkbox ml-auto">
                            <input type="checkbox" id="ckb1">
                            <label for="ckb1">자동 실행</label>
                          </div>
                        </div>
                        <table class="mu-grid mu-grid-border mu-grid-strip select-width100">
                          <colgroup>
                            <col>
                            <col width="104">
                            <col>
                          </colgroup>
                          <thead>
                            <tr>
                              <th>대상 오브젝트 ID</th>
                              <th>이벤트</th>
                              <th>삭제</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="3">
                                <div class="mui-message info">
                                  <i class="mu-icon info"></i><span class="mui-message-text">데이터가 없습니다</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="map-auto-search">
                          <span class="map-auto-search__text">
                            지도 이동 시 데이터 재 검색
                          </span>

                          <span class="fr bx-btn-toggle">
                            <button type="button" class="btn-toggle" ng-class="{on: formData.selLayer.isAutoRun}"
                              ng-click="toggleAutoRun()"></button>
                          </span>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
                <!-- //속성 -->
                <div class="bx-btn-play">
                  <button type="button" class="mu-btn btn-play"><i class="mu-icon-img play2"></i>실행</button>
                  <!--<button type="button" class="mu-btn btn-play"><i class="mu-icon-img stop3"></i>중지</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

  <!-- 레이어 관리 다이얼로그 -->
  <div class="mu-dialog mui-dialog-sm" style="position: absolute; top: 110px; left: 520px;">
    <div class="mu-dialog-head">
      <span class="title">레이어 관리</span>
      <button type="button" class="mu-btn mu-btn-icon mu-btn-bg-non"><i class="mu-icon-img"></i></button>
    </div>
    <div class="mu-dialog-body">
      <div>
        <button type="button" class="mu-btn mu-btn-default mb5">
          <i class="mu-icon-img add2"></i>새 레이어
        </button>
        <button class="mu-btn mu-btn-ghost fr" type="button" title="모두 삭제">
          <i class="mu-icon trash2"></i>모두 삭제
        </button>
        <div class="mu-grid-scroll">
          <table class="mu-grid mu-grid-border">
            <colgroup>
              <col width="44px">
              <col width="314px">
              <col width="44px">
              <col width="*">
            </colgroup>
            <thead>
              <tr>
                <th class="none">순서</th>
                <th class="none">이름</th>
                <th class="none">표시</th>
                <th class="none">제거</th>
              </tr>
            </thead>
          </table>
          <div class="mu-scroll-v" style="max-height: 160px;">
            <table class="mu-grid mu-grid-border mu-grid-strip mu-grid-item mu-grid-hover">
              <colgroup>
                <col width="44px">
                <col width="314px">
                <col width="44px">
                <col width="*">
              </colgroup>
              <tbody>
                <tr class="odd">
                  <td>
                    <div class="mui-btn-group-vertical">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-up"></i>
                      </button>
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="tl">
                    <input type="text" class="mu-input" placeholder="레이어 이름을 입력해 주세요">
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="표시">
                      <i class="mu-icon eye"></i>
                    </button>
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="제거">
                      <i class="mu-icon trash2"></i>
                    </button>
                  </td>
                </tr>
                <tr class="odd">
                  <td>
                    <div class="mui-btn-group-vertical">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-up"></i>
                      </button>
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="tl">
                    <input type="text" class="mu-input" placeholder="레이어 이름을 입력해 주세요">
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="미표시">
                      <i class="mu-icon eye-slash"></i>
                    </button>
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="제거">
                      <i class="mu-icon trash2"></i>
                    </button>
                  </td>
                </tr>
                <tr class="odd">
                  <td></td>
                  <td class="tl">
                    <span>layer map(지도)</span><button class="mu-btn mu-btn-icon"><i
                        class="mu-icon question-circle"></i></button>
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="해지">
                      <i class="mu-icon eye"></i>
                    </button>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="mu-dialog-foot">
      <button type="button" class="mu-btn mu-btn-default">취소</button>
      <button type="button" class="mu-btn mu-btn-primary fr">저장</button>
      <div class="mui-dialog-foot-messge">
        <div class="mui-message error">
          <i class="mu-icon err-circle"></i>
          <span class="mui-message-text">동일한 레이어 이름이 있습니다</span>
        </div>
      </div>
    </div>
  </div>
  <!-- // 레이어 관리 다이얼로그 -->
  <!-- 레이어 관리 다이얼로그 191126 수정 -->
  <div class="mu-dialog mui-dialog-sm" style="position: absolute; top: 410px; left: 520px;">
    <div class="mu-dialog-head">
      <span class="title">레이어 관리</span>
      <button type="button" class="mu-btn mu-btn-icon mu-btn-bg-non"><i class="mu-icon-img"></i></button>
    </div>
    <div class="mu-dialog-body">
      <div>
        <button type="button" class="mu-btn mu-btn-default mb5">
          <i class="mu-icon-img add2"></i>새 레이어
        </button>
        <button class="mu-btn mu-btn-ghost fr" type="button" title="모두 삭제">
          <i class="mu-icon trash2"></i>모두 삭제
        </button>
        <div class="mu-grid-scroll">
          <table class="mu-grid mu-grid-border">
            <colgroup>
              <col width="44px">
              <col width="314px">
              <col width="44px">
              <col width="*">
            </colgroup>
            <thead>
              <tr>
                <th class="none">순서</th>
                <th class="none">이름</th>
                <th class="none">표시</th>
                <th class="none">제거</th>
              </tr>
            </thead>
          </table>
          <div class="mu-scroll-v" style="max-height: 160px;">
            <table class="mu-grid mu-grid-border mu-grid-strip mu-grid-item mu-grid-hover">
              <colgroup>
                <col width="44px">
                <col width="314px">
                <col width="44px">
                <col width="*">
              </colgroup>
              <tbody>
                <tr class="odd">
                  <td>
                    <div class="mui-btn-group-vertical">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-up"></i>
                      </button>
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="tl">
                    <input type="text" class="mu-input" placeholder="레이어 이름을 입력해 주세요">
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="표시">
                      <i class="mu-icon eye"></i>
                    </button>
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="제거">
                      <i class="mu-icon trash2"></i>
                    </button>
                  </td>
                </tr>
                <tr class="odd">
                  <td>
                    <div class="mui-btn-group-vertical">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-up"></i>
                      </button>
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="tl">
                    <input type="text" class="mu-input" placeholder="레이어 이름을 입력해 주세요">
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="미표시">
                      <i class="mu-icon eye-slash"></i>
                    </button>
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="제거">
                      <i class="mu-icon trash2"></i>
                    </button>
                  </td>
                </tr>
                <tr class="odd">
                  <td>
                    <div class="mui-btn-group-vertical">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-up"></i>
                      </button>
                      <button type="button" class="mu-btn mu-btn-icon">
                        <i class="mu-icon caret-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="tl">
                    <input type="text" class="mu-input" placeholder="레이어 이름을 입력해 주세요">
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="미표시">
                      <i class="mu-icon eye"></i>
                    </button>
                  </td>
                  <td>
                    <button class="mu-btn-icon" type="button" title="제거">
                      <i class="mu-icon trash2"></i>
                    </button>
                  </td>
                </tr>
                <tr class="odd">
                  <td></td>
                  <td class="tl">
                    <span>layer map(지도)</span>
                    <button class="mu-btn mu-btn-icon">
                      <i class="mu-icon question-circle"></i>
                    </button>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="mu-dialog-foot">
      <div class="bx-btn-toggle fl" style="padding-top: 3px;">
        <label>데이터 보기/숨기기 기능</label>
        <button type="button" class="btn-toggle"></button>
      </div>
      <button type="button" class="mu-btn mu-btn-primary fr">닫기</button>
      <div class="mui-dialog-foot-messge">
        <div class="mui-message error">
          <i class="mu-icon err-circle"></i>
          <span class="mui-message-text">동일한 레이어 이름이 있습니다</span>
        </div>
      </div>
    </div>
  </div>
  <!-- // 레이어 관리 다이얼로그 191126 수정 -->
  <!-- popup layer -->
  <div class="mu-tooltip bottom" mu-tooltip="tt3" style="top:310px; left:495px;">
    <div class="arrow"></div>
    <div class="mu-tooltip-inner">
      <span>layer map은 화면에 지도 이미지를 출력하는 지도 레이어를 말합니다. <br>이 레이어는 항상 최하단에 위치하면서 지도 정보만을 표현합니다.</span>
    </div>
  </div>
  <!-- //popup layer -->

  <!-- confirm 다이얼로그 -->
  <div class="mu-alert etc" style="top:730px;left: 520px;">
    <div class="mu-alert-head">
      <i class="mu-icon exclamation"></i>
    </div>
    <div class="mu-alert-body">
      <span>"layer name"레이어를 삭제합니다. <br>레이어를 삭제하면 입력한 내용이 모두 사라집니다. <br>진행하시겠습니까?</span>
    </div>
    <div class="mu-alert-foot">
      <button type="button" class="mu-btn">확인</button>
      <button type="button" class="mu-btn cancel">취소</button>
    </div>
  </div>
  <!-- //confirm 다이얼로그 -->

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>