<!DOCTYPE html>
<html lang="ko">

<head>
	<title>보고서-새보고서</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
	<!-- 보고서 -->
	<div class="mu-container">
		<section>
			<div class="mu-content content-re data-add report">
				<div class="mu-panel">
					<div class="mu-panel-head">
						<div class="mu-hgroup fl report-title">
							<h3 class="mu-title report-title-text">보고서</h3>
							<!-- 수정 버튼 -->
							<button class="mu-btn mu-btn-icon">
								<i class="mu-icon-img edit-title"></i>
							</button>
							<!-- 수정 확인 버튼 -->
							<button class="mu-btn mu-btn-icon">
								<i class="mu-icon check"></i>
							</button>
						</div>
						<div class="mu-hgroup fr">
							<button type="button" class="mu-btn mu-btn-default">목록으로</button>
							<button type="button" class="mu-btn mu-btn-default">보기</button>
							<button type="button" class="mu-btn mu-btn-primary">저장</button>
							<button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
							<button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
							<button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
						</div>
					</div>
					<div class="mu-panel-body">
						<!-- 상단 메뉴바 -->
						<div class="report-menubar">
							<div class="mu-selectbox width150">
								<button class="mu-value">전체</button>
								<ul class="mu-list">
									<li>전체</li>
									<li class="active">데이터 시각화</li>
									<li>양식</li>
									<li>버튼</li>
									<li>기타</li>
								</ul>
							</div>
							<ul class="report-menu">
								<li><i class="mu-icon-img area"></i></li>
								<li><i class="mu-icon-img map"></i></li>
								<li><i class="mu-icon-img text"></i></li>
								<li><i class="mu-icon-img rectangle"></i></li>
								<li><i class="mu-icon-img ellipse"></i></li>
								<li><i class="mu-icon-img date"></i></li>
								<li><i class="mu-icon-img renew"></i></li>
								<li class="active"><i class="mu-icon-img list"></i></li>
								<li><i class="mu-icon-img tab"></i></li>
								<li><i class="mu-icon-img url"></i></li>
								<li><i class="mu-icon-img image"></i></li>
								<li><i class="mu-icon-img html"></i></li>
								<li><i class="mu-icon-img input"></i></li>
								<li><i class="mu-icon-img combo-box"></i></li>
								<li><i class="mu-icon-img check-and-radio"></i></li>
								<li><i class="mu-icon-img datetime"></i></li>
								<li><i class="mu-icon-img hidden-input"></i></li>
								<li><i class="mu-icon-img button"></i></li>
								<li><i class="mu-icon-img tree"></i></li>
							</ul>
							<div class="fr">
								<button class="mu-btn mu-btn-link" type="button">
									<span class="mu-btn-link-box">전체변수명보기</span>
								</button>
							</div>
						</div>
						<!-- //상단 메뉴바 -->
						<div class="report-cont">
							<div class="report-canvas">
								<!-- canvas 영역 -->
								<div class="canvas" style="width:1920px;height:1080px;">

									<span style="position:absolute;top:30px;left:50px;">트리뷰 - 버튼 모두 있는 경우</span>
									<div class="box tool list" style="top:50px;left:50px;width:200px;height:150px;">
										<div class="data-list">
											<!-- 타이틀 사용하지 않는 경우 remove-title 클래스 추가 / 검색창을 사용하지 않는 경우 remove-filter-group 클래스 추가  -->
											<div class="data-list-head">
												<h3 class="mu-type-omega ellipsis-end" title="입력한 트리 제목 출력">입력한 트리 제목 출력</h3>
												<div class="data-list-head-filter-group">
													<div class="mu-input-icon">
														<input type="text" placeholder="검색" class="mu-input">
														<i class="mu-icon search"></i>
													</div>
													<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only" title="트리뷰 정보 새로고침">
														<i class="mu-icon repeat"></i>
													</button>
													<div class="data-list-btn-group">
														<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon more-up"
																title="전체 접기"></i></button>
														<span class="division-line"></span>
														<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon more-down"
																title="전체 펼치기"></i></button>
													</div>
												</div>
											</div>
											<!-- 트리뷰가 들어가는 영역 -->
											<div class="data-list-body">
											</div>
											<!-- //트리뷰가 들어가는 영역 -->
										</div>

									</div>

									<span style="position:absolute;top:220px;left:260px;">트리뷰 - 전체 접기/펼치기 버튼만 있는 경우</span>
									<div class="box tool list active" style="top:240px;left:260px;width:200px;height:150px;">
										<div class="data-list">
											<!-- 타이틀 사용하지 않는 경우 remove-title 클래스 추가 / 검색창을 사용하지 않는 경우 remove-filter-group 클래스 추가  -->
											<div class="data-list-head">
												<h3 class="mu-type-omega ellipsis-end" title="입력한 트리 제목 출력">입력한 트리 제목 출력</h3>
												<div class="data-list-head-filter-group">
													<div class="mu-input-icon">
														<input type="text" placeholder="검색" class="mu-input">
														<i class="mu-icon search"></i>
													</div>
													<div class="data-list-btn-group">
														<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon more-up"
																title="전체 접기"></i></button>
														<span class="division-line"></span>
														<button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon more-down"
																title="전체 펼치기"></i></button>
													</div>
												</div>
											</div>
											<!-- 트리뷰가 들어가는 영역 -->
											<div class="data-list-body">
											</div>
											<!-- //트리뷰가 들어가는 영역 -->
										</div>
									</div>

									<span style="position:absolute;top:30px;left:260px;">트리뷰 - 검색만 있는 경우</span>
									<div class="box tool list" style="top:50px;left:260px;width:200px;height:150px;">
										<div class="data-list">
											<!-- 타이틀 사용하지 않는 경우 remove-title 클래스 추가 / 검색창을 사용하지 않는 경우 remove-filter-group 클래스 추가  -->
											<div class="data-list-head">
												<h3 class="mu-type-omega ellipsis-end" title="입력한 트리 제목 출력">입력한 트리 제목 출력</h3>
												<div class="data-list-head-filter-group">
													<div class="mu-input-icon">
														<input type="text" placeholder="검색" class="mu-input">
														<i class="mu-icon search"></i>
													</div>
												</div>
											</div>
											<!-- 트리뷰가 들어가는 영역 -->
											<div class="data-list-body">
											</div>
											<!-- //트리뷰가 들어가는 영역 -->
										</div>
									</div>

									<span style="position:absolute;top:220px;left:50px;">트리뷰 - 새로고침 버튼만 있는 경우</span>
									<div class="box tool list" style="top:240px;left:50px;width:200px;height:150px;">
										<div class="data-list">
											<!-- 타이틀 사용하지 않는 경우 remove-title 클래스 추가 / 검색창을 사용하지 않는 경우 remove-filter-group 클래스 추가  -->
											<div class="data-list-head">
												<h3 class="mu-type-omega ellipsis-end" title="입력한 트리 제목 출력">입력한 트리 제목 출력</h3>
												<div class="data-list-head-filter-group">
													<div class="mu-input-icon">
														<input type="text" placeholder="검색" class="mu-input">
														<i class="mu-icon search"></i>
													</div>
													<button type="button" class="mu-btn mu-btn-icon mu-btn-icon-only" title="트리뷰 정보 새로고침">
														<i class="mu-icon repeat"></i>
													</button>
												</div>
											</div>
											<!-- 트리뷰가 들어가는 영역 -->
											<div class="data-list-body">
											</div>
											<!-- //트리뷰가 들어가는 영역 -->
										</div>
									</div>

								</div>
								<!-- //canvas 영역 -->
							</div>

							<div class="report-panel">
								<ul class="mu-tab">
									<li><a>데이터</a></li>
									<li class="active"><a>속성</a></li>
									<li><a>객체</a></li>
								</ul>
								<!-- 데이터 -->
								<div class="mu-tab-body">
									<div class="mu-tabCont">
										<div class="mu-panel">
											<div class="mu-panel-head">
												<span class="mu-title">트리 제목</span>
											</div>
											<div class="mu-panel-body">
												<input type="text" class="mu-input" placeholder="트리 제목을 입력하세요">
											</div>
										</div>

										<div class="mu-panel mu-formbox-inner">
											<div class="mu-panel-head">
												<span class="mu-title">필드 선택</span><button class="mu-btn mu-btn-icon"><i
														class="mu-icon question-circle"></i></button>
											</div>
											<div class="mu-panel-body">
												<table class="mu-formbox">
													<colgroup>
														<col width="90">
													</colgroup>
													<tbody>
														<tr>
															<th>ID</th>
															<td>
																<div class="mu-selectbox" mu-select-v2="report_edit.area.panel.value.field">
																	<button class="mu-value ng-binding" title="필드 명">필드 명</button>
																	<ul class="mu-list">
																		<li ng-repeat="valueField in valueFieldList" mu-option-v2="" title="--값 필드--"
																			ng-click="changeValueField(valueField)" class="ng-binding ng-scope">--값 필드--</li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr>
															<th>Parents</th>
															<td>
																<div class="mu-selectbox" mu-select-v2="report_edit.area.panel.value.field">
																	<button class="mu-value ng-binding" title="필드 명">필드 명</button>
																	<ul class="mu-list">
																		<li ng-repeat="valueField in valueFieldList" mu-option-v2="" title="--값 필드--"
																			ng-click="changeValueField(valueField)" class="ng-binding ng-scope">--값 필드--</li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr>
															<th>Label</th>
															<td>
																<div class="mu-selectbox" mu-select-v2="report_edit.area.panel.value.field">
																	<button class="mu-value ng-binding" title="필드 명">필드 명</button>
																	<ul class="mu-list">
																		<li ng-repeat="valueField in valueFieldList" mu-option-v2="" title="--값 필드--"
																			ng-click="changeValueField(valueField)" class="ng-binding ng-scope">--값 필드--</li>
																	</ul>
																</div>
															</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<div class="mu-panel mu-formbox-inner">
											<div class="mu-panel-head">
												<span class="mu-title">이벤트 값 전달 설정</span>
												<button class="mu-btn mu-btn-icon"><i class="mu-icon question-circle"></i></button>
											</div>

											<div class="mu-panel-body">
												<table class="mu-formbox">
													<colgroup>
														<col width="90">
													</colgroup>
													<tbody>
														<tr>
															<th>오브젝트 ID</th>
															<td>
																Object ID
															</td>
														</tr>
														<tr>
															<th>변수 명</th>
															<td>
																<input class="mu-input" type="text" placeholder="변수 명을 입력하세요">
															</td>
														</tr>
														<tr>
															<th>값 필드</th>
															<td>
																<div class="mu-selectbox">
																	<button class="mu-value" title="--값 필드--">--값 필드--</button>
																	<ul class="mu-list">
																		<li title="--값 필드--">--값 필드--</li>
																	</ul>
																</div>
															</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<div class="mu-panel">
											<div class="mu-panel-head">
												<span class="mu-title">트리거 설정 확인</span>
											</div>
											<div class="mu-panel-body">
												<!-- 데이터 없음 -->
												<table class="mu-grid mu-grid-border mu-grid-strip">
													<colgroup>
														<col width="90">
														<col>
													</colgroup>
													<thead>
														<tr>
															<th>이벤트</th>
															<th>적용 오브젝트 ID</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td colspan="2">
																<div class="mui-message info">
																	<i class="mu-icon info"></i><span class="mui-message-text">데이터가 없습니다</span>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
												<!-- // 데이터 없음 -->
											</div>
										</div>

										<div class="mu-panel mu-formbox-inner">
											<div class="mu-panel-head">
												<span class="mu-title">일반</span>
											</div>

											<div class="mu-panel-body">
												<table class="mu-formbox">
													<colgroup>
														<col width="90">
													</colgroup>
													<tbody>
														<tr>
															<th>기본 펼침</th>
															<td>
																1단계
															</td>
														</tr>
														<tr>
															<th>전체 접기/펼치기</th>
															<td>
																사용
															</td>
														</tr>
														<tr>
															<th>새로 고침</th>
															<td>
																사용
															</td>
														</tr>
														<tr>
															<th>Root</th>
															<td>
																사용
															</td>
														</tr>
														<tr>
															<th>Root명</th>
															<td>
																Root
															</td>
														</tr>
														<tr>
															<th>글꼴</th>
															<td>
																Noto Sans / 15 / 가
															</td>
														</tr>
														<tr>
															<th>배경색</th>
															<td>

															</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>

										<div class="mu-panel mu-formbox-inner">
											<div class="mu-panel-head">
												<span class="mu-title">아이콘 설정</span>
											</div>

											<div class="mu-panel-body">
												<table class="mu-formbox">
													<colgroup>
														<col width="100">
													</colgroup>
													<tbody>
														<tr>
															<th>1단계</th>
															<td>
																
															</td>
														</tr>
														<tr>
															<th>데이터센터</th>
															<td>
																
															</td>
														</tr>
														<tr>
															<th>Rack</th>
															<td>
																
															</td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">리스트 검색 기능</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-item-group" style="padding-bottom: 10px;">
                          <div class="mu-radio">
                            <input type="radio" id="r1_1" name="radio1" checked="checked">
                            <label for="r1_1">사용</label>
                          </div>
                          <div class="mu-radio">
                            <input type="radio" id="r1_2" name="radio1">
                            <label for="r1_2">미사용</label>
                          </div>
                        </div>
                      </div>
                    </div>

									</div>
								</div>
								<!-- //데이터 -->
							</div>


						</div>

						<div class="mu-tooltip top" mu-tooltip="report.edit.side-panel.title.tooltip" style="display: none;">
							<div class="arrow"></div>
							<div class="mu-tooltip-inner">
								<span>캔버스 설정의 객체 탭 안에서 보고서 제목<br>출력 선택 여부 설정 기능 추가</span>
							</div>
						</div>
					</div>

				</div>
			</div>

	</div>
	</section>
	</div>

	<link href="js/jquery-ui.css" rel="stylesheet">
	<script src="js/external/jquery/jquery.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>