<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li class="active"><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">

                  <span style="position:absolute;top:30px;left:50px;">Tab 가로형(빈 영역 / 탭 이름 없는 경우)</span>
                  <div class="box tool tab" style="top:50px;left:50px;width:200px;height:150px;">
                    <ul class="data-tab">
                      <li class="data-tab-item " style="width:100%;">
                        <div class="data-tab-text-box" role="tab">
                          <span title=""></span>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <span style="position:absolute;top:30px;left:260px;">Tab 가로형 - 선택시</span>
                  <div class="box tool tab active" style="top:50px;left:260px;width:200px;height:150px;">
                    <ul class="data-tab">
                      <li class="data-tab-item is-selected" style="width: calc(100%/3);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab1">tab1< is-selected</span> </div> </li> <li class="data-tab-item"
                              style="width: calc(100%/3);">
                              <div class="data-tab-text-box" role="tab">
                                <span title="tab2">tab2</span>
                              </div>
                      </li>
                      <li class="data-tab-item disabled" style="width: calc(100%/3);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab3 tab3 tab3">tab3 tab3 tab3</span>
                        </div>
                      </li>
                    </ul>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>

                  <span style="position:absolute;top:240px;left:50px;">Tab 세로형(빈 영역 / 탭 이름 없는 경우)</span>
                  <div class="box tool tab" style="top:260px;left:50px;width:30px;height:30px;">
                    <ul class="data-tab">
                      <li class="data-tab-item" style="width:100%;">
                        <div class="data-tab-text-box" role="tab">
                          <span title=""></span>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <span style="position:absolute;top:240px;left:260px;">Tab 세로형</span>
                  <div class="box tool tab" style="top:260px;left:260px;width:100px;height:300px;">
                    <ul class="data-tab vertical">
                      <li class="data-tab-item is-selected" style="height: calc(100% / 5);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab1">tab1 is-selected</span>
                        </div>
                      </li>
                      <li class="data-tab-item" style="height: calc(100% / 5);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab2">tab2</span>
                        </div>
                      </li>
                      <li class="data-tab-item disabled" style="height: calc(100% / 5);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab3 tab3 tab3">tab3 tab3 tab3</span>
                        </div>
                      </li>
                      <li class="data-tab-item disabled" style="height: calc(100% / 5);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab4">tab4</span>
                        </div>
                      </li>
                      <li class="data-tab-item disabled" style="height: calc(100% / 5);">
                        <div class="data-tab-text-box" role="tab">
                          <span title="tab5">tab5</span>
                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
                <!-- //canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li class="active"><a href="">데이터</a></li>
                  <li><a href="">속성</a></li>
                </ul>
                <!-- 탭 설정 - 데이터 -->
                <div class="mu-tab-body">
                  <div class="mu-tabCont" style="display:;">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">탭 추가</span>
                      </div>
                      <div class="mu-panel-body dynamic-form-wrap">
                        <ul class="dynamic-form">
                          <li class="dynamic-form-item">
                            <div class="handler-box">
                              <button type="button" class="mu-btn mu-btn-default handler-up">
                                <i class="mu-icon up"></i>
                              </button>
                              <button type="button" class="mu-btn mu-btn-default handler-down">
                                <i class="mu-icon down"></i>
                              </button>
                            </div>
                            <div class="mu-item-box">
                              <div class="mu-item-group">
                                <label class="mu-item-lable">탭 이름</label>
                                <input type="text" class="mu-input">
                              </div>
                              <div class="mu-item-group">
                                <label class="mu-item-lable">탭 값</label>
                                <input type="text" class="mu-input">
                              </div>
                            </div>
                            <div class="btn-delete-box">
                              <button class="mu-btn mu-btn-icon" type="button" title="삭제">
                                <i class="mu-icon cancel"></i>
                              </button>
                            </div>
                          </li>
                          <li class="dynamic-form-item">
                            <div class="handler-box">
                              <button type="button" class="mu-btn mu-btn-default handler-up">
                                <i class="mu-icon up"></i>
                              </button>
                              <button type="button" class="mu-btn mu-btn-default handler-down">
                                <i class="mu-icon down"></i>
                              </button>
                            </div>
                            <div class="mu-item-box">
                              <div class="mu-item-group">
                                <label class="mu-item-lable">tab name</label>
                                <input type="text" class="mu-input">
                              </div>
                              <div class="mu-item-group">
                                <label class="mu-item-lable">tab value</label>
                                <input type="text" class="mu-input">
                              </div>
                            </div>
                            <div class="btn-delete-box">
                              <button class="mu-btn mu-btn-icon" type="button" title="삭제">
                                <i class="mu-icon cancel"></i>
                              </button>
                            </div>
                          </li>
                        </ul>
                        <div class="dynamic-form-footer">
                          <button type="button" class="mu-btn mu-btn-default"><i class="mu-icon-img add2"></i>탭
                            추가</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //탭 설정 - 속성 -->
                <div class="bx-btn-play">
                  <button type="button" class="mu-btn btn-play"><i class="mu-icon-img play2"></i>실행</button>
                  <!--<button type="button" class="mu-btn btn-play"><i class="mu-icon-img stop3"></i>중지</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>