<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li class="active"><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">

                  <span style="position:absolute;top:30px;left:50px;">영역 안에서 HTML 코드를 입력</span>

                  <div class="box tool html active" style="top:50px;left:50px;width:300px;height:450px;">
                    <div class="html-view">
                      <!-- //html display -->
                      <div class="html-draw">
                        <div style="width:800px;height:430px;">
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System Design System Design System
                              Design System Design System Design System Design System Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                          <h4>
                            <div><span class="mu-type-strong">IRIS</span> Design System Design System Design System
                              Design System Design System Design System Design System Design System</div>
                          </h4>
                          <p> Style</p>
                          <b>Color</b>
                          <b>Typography</b>
                          <p>Components</p>
                          <b>Alert</b>
                          <b>Badge</b>
                        </div>
                      </div>
                      <div class="layer-button">

                        <!-- HTML 코드보기 : HTML 그리기, 버튼토글 -->
                        <button type="button" class="mu-btn mu-btn-default">
                          <i class="mu-icon-img htmlcode"></i> HTML 코드보기
                        </button>
                        <div style="top: 40px;">
                          <button type="button" class="mu-btn mu-btn-default">
                            <i class="mu-icon desktop"></i> HTML 그리기
                          </button>
                        </div>
                        <!-- HTML 코드보기 : HTML 그리기, 버튼토글 -->
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <span style="position:absolute;top:30px;left:360px;">HTML 코드보기 화면</span>
                  <div class="box tool html" style="top:50px;left:360px;width:300px;height:450px;">
                    <div class="html-view">
                      <!-- //html code view -->
                      <pre>
&lt;!DOCTYPE html&gt;
&lt;html lang="ko"&gt;

&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="ie=edge"&gt;
  &lt;link rel="stylesheet" type="text/css" href="../assets/css/styleguide/style.min.css"&gt;
  &lt;itle&gt;IRIS - Style Guide&lt;/itle&gt;
&lt;/head&gt;

&lt;body&gt;
  &lt;div class="wrap"&gt;
    &lt;!-- navigation --&gt;
    &lt;nav class="side-nav"&gt;
      &lt;div class="side-nav_top-container"&gt;
        &lt;a class="side-nav_logo mu-type-delta" href="/"&gt;&lt;span class="mu-type-strong"&gt;IRIS&lt;/span&gt; Design System&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class="side-nav_bottom-container"&gt;
        &lt;ul class="side-nav_main-nav"&gt;
          &lt;li class="main-nave-item"&gt;
            &lt;p class="main-nave-item_heading"&gt;Style&lt;/p&gt;
            &lt;ul class="main-nav_sub-nav"&gt;
              &lt;li class="sub-nav_item"&gt;
                &lt;a class="sub-nav_item-link" href="#page_color"&gt;Color&lt;/a&gt;
              &lt;/li&gt;
              &lt;li class="sub-nav_item"&gt;
                &lt;a class="sub-nav_item-link" href="#page_typoghraphy"&gt;Typography&lt;/a&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/nav&gt;
    

                      </pre>
                      <div class="layer-button">
                        <!-- HTML 코드보기 : HTML 그리기, 버튼토글 -->
                        <div>
                          <button type="button" class="mu-btn mu-btn-default">
                            <i class="mu-icon-img htmlcode"></i> HTML 코드보기
                          </button>
                        </div>
                        <div style="top: 40px;">
                          <button type="button" class="mu-btn mu-btn-default">
                            <i class="mu-icon desktop"></i> HTML 그리기
                          </button>
                        </div>
                        <!-- HTML 코드보기 : HTML 그리기, 버튼토글 -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //canvas 영역 -->
              </div>
              <div class="report-panel object">
                <ul class="mu-tab">
                  <li class="active"><a href="">데이터</a></li>
                  <li><a href="">속성</a></li>
                  <li><a href="">불러오기</a></li>
                </ul>
                <!-- 리스트 설정 - 데이터 -->
                <div class="mu-tab-body">
                  <div class="mu-tabCont">
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">크기</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>가로</th>
                              <td>
                                <input type="number" class="mu-input" value="400">
                              </td>
                            </tr>
                            <tr>
                              <th>세로</th>
                              <td>
                                <input type="number" class="mu-input" value="500">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">위치</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>X</th>
                              <td>
                                <input type="number" class="mu-input" value="400">
                              </td>
                            </tr>
                            <tr>
                              <th>Y</th>
                              <td>
                                <input type="number" class="mu-input" value="500">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">테두리</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i>꾸미기 옵션</button>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i></button>
                        <!-- option 활성화시 active 추가 -->
                        <button class="mu-btn mu-btn-icon disabled" disabled="disabled"><i
                            class="mu-icon setting"></i></button><!-- disabled -->
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>스타일</th>
                              <td>
                                  <div class="border"></div>
                                  <!-- 테두리 두께 -->
                                  <span>3</span>
                                  <!-- //테두리 두께 -->
                                </td>
                            </tr>
                            <tr>
                              <th>라운드</th>
                              <td>10</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- //우측 패널 -->
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">채우기</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>색상</th>
                              <td>
                                <span class="color-preview-option" style="border: 1px solid rgb(206, 211, 217); 
                                  background-color: rgb(83, 173, 250);"></span>
                              </td>
                            </tr>
                            <tr>
                              <th>투명도</th>
                              <td>
                                <div class="mu-item-group">
                                  <div class="mu-btn-group">
                                    <span>0%</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- //객체 -->
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">그림자</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>그림자</th>
                              <td>
                                <ul>
                                  <li class="shadow-align">
                                    <i class="icon-shadow"></i> 그림자 없음
                                  </li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- // 단일값 속성 -->

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>