<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li class="active"><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li class="active"><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                  <!-- Check-box 가로형 -->
                  <span style="position:absolute;top:30px;left:50px;">CheckBox 가로형</span>
                  <div class="box tool check-and-radio active" style="top:50px;left:50px;width:252px;height:30px;">
                    <div class="mu-checkbox-group col">
                      <div class="mu-checkbox">
                        <input id="ck_1" checked="checked" type="checkbox">
                        <label for="ck_1">check box01</label>
                      </div>
                      <div class="mu-checkbox">
                        <input id="ck_2" checked="" type="checkbox">
                        <label for="ck_2">check box02</label>
                      </div>
                    </div>

                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 가로형 -->

                  <!-- Check-box 세로형 -->
                  <span style="position:absolute;top:150px;left:50px;">CheckBox 세로형</span>
                  <div class="box tool check-and-radio active" style="top:170px;left:50px;width:105px;height:50px;">
                    <div class="mu-checkbox-group row">
                      <div class="mu-checkbox">
                        <input id="ck_1" checked="checked" type="checkbox">
                        <label for="ck_1">check box01</label>
                      </div>
                      <div class="mu-checkbox">
                        <input id="ck_2" checked="" type="checkbox">
                        <label for="ck_2">check box02</label>
                      </div>
                    </div>

                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 세로형 -->

                  <!-- Check-box 가로형(select) -->
                  <span style="position:absolute;top:30px;left:370px;">CheckBox 가로형 (select)</span>
                  <div class="box tool check-and-radio select" style="top:50px;left:370px;width:202px;height:30px;">
                    <div class="mu-checkbox-group col">
                      <div class="mu-checkbox">
                        <input id="ck_1" checked="checked" type="checkbox">
                        <label for="ck_1">check box01</label>
                      </div>
                      <div class="mu-checkbox">
                        <input id="ck_2" checked="" type="checkbox">
                        <label for="ck_2">check box02</label>
                      </div>
                    </div>
                    <div class="mu-checkbox ng-scope">
                      <input type="checkbox" checked="checked" id="_tab_ckb">
                      <label for="_tab_ckb"></label>
                    </div>

                    <!-- 크기 조절 상자 -->
                    <!-- 
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span> 
                    -->
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 가로형(select) -->

                  <!-- Check-box 세로형 (select) -->
                  <span style="position:absolute;top:150px;left:370px;">CheckBox 세로형 (select)</span>
                  <div class="box tool check-and-radio select" style="top:170px;left:370px;width:105px;height:50px;">
                    <div class="mu-checkbox-group row">
                      <div class="mu-checkbox">
                        <input id="ck_1" checked="checked" type="checkbox">
                        <label for="ck_1">check box01</label>
                      </div>
                      <div class="mu-checkbox">
                        <input id="ck_2" checked="" type="checkbox">
                        <label for="ck_2">check box02</label>
                      </div>
                    </div>
                    <div class="mu-checkbox ng-scope">
                      <input type="checkbox" checked="checked" id="_tab_ckb">
                      <label for="_tab_ckb"></label>
                    </div>

                    <!-- 크기 조절 상자 -->
                    <!-- 
                      <span class="tl"></span>
                      <span class="tc"></span>
                      <span class="tr"></span>
                      <span class="cl"></span>
                      <span class="cr"></span>
                      <span class="bl"></span>
                      <span class="bc"></span>
                      <span class="br"></span> 
                      -->
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 세로형 (select) -->

                  <!-- Check-box 가로형 (deselect) -->
                  <span style="position:absolute;top:30px;left:640px;">CheckBox 가로형 (deselect)</span>
                  <div class="box tool check-and-radio deselect" style="top:50px;left:640px;width:202px;height:30px;">
                    <div class="mu-checkbox-group col">
                      <div class="mu-checkbox">
                        <input id="ck_1" checked="checked" type="checkbox">
                        <label for="ck_1">check box01</label>
                      </div>
                      <div class="mu-checkbox">
                        <input id="ck_2" checked="" type="checkbox">
                        <label for="ck_2">check box02</label>
                      </div>
                    </div>
                    <div class="mu-checkbox ng-scope">
                      <input type="checkbox" id="_tab_ckb">
                      <label for="_tab_ckb"></label>
                    </div>

                    <!-- 크기 조절 상자 -->
                    <!-- 
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span> 
                    -->
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 가로형 (deselect) -->

                  <!-- Check-box 세로형 (deselect) -->
                  <span style="position:absolute;top:150px;left:640px;">CheckBox 세로형 (deselect)</span>
                  <div class="box tool check-and-radio deselect" style="top:170px;left:640px;width:105px;height:50px;">
                    <div class="mu-checkbox-group row">
                      <div class="mu-checkbox">
                        <input id="ck_1" checked="checked" type="checkbox">
                        <label for="ck_1">check box01</label>
                      </div>
                      <div class="mu-checkbox">
                        <input id="ck_2" checked="" type="checkbox">
                        <label for="ck_2">check box02</label>
                      </div>
                    </div>
                    <div class="mu-checkbox ng-scope">
                      <input type="checkbox" id="_tab_ckb">
                      <label for="_tab_ckb"></label>
                    </div>

                    <!-- 크기 조절 상자 -->
                    <!-- 
                      <span class="tl"></span>
                      <span class="tc"></span>
                      <span class="tr"></span>
                      <span class="cl"></span>
                      <span class="cr"></span>
                      <span class="bl"></span>
                      <span class="bc"></span>
                      <span class="br"></span> 
                      -->
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- //Check-box 세로형 (deselect) -->

                  <!-- Check-box 가로형 정렬 Top -->
                  <span style="position:absolute;top:30px;left:910px;">CheckBox 가로형 정렬 Top</span>
                  <div class="box tool check-and-radio active"
                    style="top: 50px; left: 910px; width: 252px; height: 175px;">
                    <div class="vertical-align-wrap">
                      <div class="mu-checkbox-group col ertical-align-inner top">
                        <div class="mu-checkbox">
                          <input id="ck_1" checked="checked" type="checkbox">
                          <label for="ck_1">check box01</label>
                        </div>
                        <div class="mu-checkbox">
                          <input id="ck_2" checked="" type="checkbox">
                          <label for="ck_2">check box02</label>
                        </div>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 가로형 정렬 Top -->

                  <!-- Check-box 가로형 정렬 middle -->
                  <span style="position:absolute;top:30px;left:1230px;">CheckBox 가로형 정렬 middle</span>
                  <div class="box tool check-and-radio active"
                    style="top: 50px; left: 1230px; width: 252px; height: 175px;">
                    <div class="vertical-align-wrap">
                      <div class="mu-checkbox-group col vertical-align-inner middle">
                        <div class="mu-checkbox">
                          <input id="ck_1" checked="checked" type="checkbox">
                          <label for="ck_1">check box01</label>
                        </div>
                        <div class="mu-checkbox">
                          <input id="ck_2" checked="" type="checkbox">
                          <label for="ck_2">check box02</label>
                        </div>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 가로형 정렬 middle -->

                  <!-- Check-box 가로형 정렬 bottom -->
                  <span style="position:absolute;top:30px;left:1550px;">CheckBox 가로형 정렬 bottom</span>
                  <div class="box tool check-and-radio active"
                    style="top: 50px; left: 1550px; width: 252px; height: 175px;">
                    <div class="vertical-align-wrap">
                      <div class="mu-checkbox-group col vertical-align-inner bottom">
                        <div class="mu-checkbox">
                          <input id="ck_1" checked="checked" type="checkbox">
                          <label for="ck_1">check box01</label>
                        </div>
                        <div class="mu-checkbox">
                          <input id="ck_2" checked="" type="checkbox">
                          <label for="ck_2">check box02</label>
                        </div>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Check-box 가로형 정렬 bottom -->

                  <!-- Radio-button 가로형 -->
                  <span style="position:absolute;top:270px;left:50px;">Radio-button 가로형</span>
                  <div class="box tool check-and-radio active" style="top:290px;left:50px;width:202px;height:30px;">
                    <div class="mu-radio-group col">
                      <div class="mu-radio">
                        <input id="ck_1" checked="checked" type="radio">
                        <label for="ck_1">radio btn01</label>
                      </div>
                      <div class="mu-radio">
                        <input id="ck_2" type="radio">
                        <label for="ck_2">radio btn02</label>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- Radio-button 가로형 -->

                  <!-- Radio-button 세로형 -->
                  <span style="position:absolute;top:390px;left:50px;">Radio-button 세로형</span>
                  <div class="box tool check-and-radio active" style="top:410px;left:50px;width:105px;height:50px;">
                    <div class="mu-radio-group row">
                      <div class="mu-radio">
                        <input id="ck_1" checked="checked" type="radio">
                        <label for="ck_1">radio btn01</label>
                      </div>
                      <div class="mu-radio">
                        <input id="ck_2" type="radio">
                        <label for="ck_2">radio btn02</label>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- Radio-button 세로형 -->

                  <!-- Radio-button 가로형 정렬 Top -->
                  <span style="position:absolute;top:270px;left:320px;">Radio-button 가로형 정렬 Top</span>
                  <div class="box tool check-and-radio active"
                    style="top: 290px; left: 320px; width: 252px; height: 175px;">
                    <div class="vertical-align-wrap">
                      <div class="mu-radio-group col vertical-align-inner top">
                        <div class="mu-radio">
                          <input id="ck_1" checked="checked" type="radio">
                          <label for="ck_1">radio btn01</label>
                        </div>
                        <div class="mu-radio">
                          <input id="ck_2" type="radio">
                          <label for="ck_2">radio btn02</label>
                        </div>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Radio-button 가로형 정렬 Top -->

                  <!-- Radio-button 가로형 정렬 middle -->
                  <span style="position:absolute;top:270px;left:640px;">Radio-button 가로형 정렬 middle</span>
                  <div class="box tool check-and-radio active"
                    style="top: 290px; left: 640px; width: 252px; height: 175px;">
                    <div class="vertical-align-wrap">
                      <div class="mu-radio-group col vertical-align-inner middle">
                        <div class="mu-radio">
                          <input id="ck_1" checked="checked" type="radio">
                          <label for="ck_1">radio btn01</label>
                        </div>
                        <div class="mu-radio">
                          <input id="ck_2" type="radio">
                          <label for="ck_2">radio btn02</label>
                        </div>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Radio-button 가로형 정렬 middle -->

                  <!-- Radio-button 가로형 정렬 bottom -->
                  <span style="position:absolute;top:270px;left:960px;">Radio-button 가로형 정렬 bottom</span>
                  <div class="box tool check-and-radio active"
                    style="top: 290px; left: 960px; width: 252px; height: 175px;">
                    <div class="vertical-align-wrap">
                      <div class="mu-radio-group col vertical-align-inner bottom">
                        <div class="mu-radio">
                          <input id="ck_1" checked="checked" type="radio">
                          <label for="ck_1">radio btn01</label>
                        </div>
                        <div class="mu-radio">
                          <input id="ck_2" type="radio">
                          <label for="ck_2">radio btn02</label>
                        </div>
                      </div>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // Radio-button 가로형 정렬 bottom -->

                </div>
                <!-- // canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li><a href="">데이터</a></li>
                  <li class="active"><a href="">속성</a></li>
                  <li><a href="">객체</a></li>
                </ul>
                <!-- 리스트 설정 - 데이터 -->
                <div class="mu-tab-body">
                  <div class="mu-tabCont" style="display:;">
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">이벤트 값 전달 설정</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>오브젝트 ID</th>
                              <td>Object id</td>
                            </tr>
                            <tr>
                              <th>변수 명</th>
                              <td>
                                <input class="mu-input" value="check-box01">
                              </td>
                            </tr>
                            <tr>
                              <th>구분자 입력</th>
                              <td>
                                <input class="mu-input">
                              </td>
                            </tr>
                            <tr>
                              <th>텍스트 한정자</th>
                              <td>
                                <input class="mu-input">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">유형 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-item-group">
                          <div class="mu-radio">
                            <input type="radio" id="r1_1" name="radio1" checked="checked">
                            <label for="r1_1">Check box</label>
                          </div>
                          <div class="mu-radio">
                            <input type="radio" id="r1_2" name="radio1">
                            <label for="r1_2">Radio Button</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">화면에 보여질 필드 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-selectbox">
                          <button class="mu-value">NAME</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                        <div class="mu-selectbox disabled">
                          <!-- 공유받은 시각화 일때 -->
                          <button class="mu-value">NAME</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">값으로 사용된 필드 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-selectbox">
                          <button class="mu-value">ID</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                        <div class="mu-selectbox disabled">
                          <!-- 공유받은 시각화 일때 -->
                          <button class="mu-value">ID</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">디폴트 값 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-selectbox">
                          <button class="mu-value">기본 항목을 선택하세요</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                        <div class="mu-selectbox disabled">
                          <!-- 공유받은 시각화 일때 -->
                          <button class="mu-value">기본 항목을 선택하세요</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">항목 배열 방향</span>
                      </div>
                      <div class="mu-panel-body">
                        <div class="mu-item-group">
                          <div class="mu-radio">
                            <input type="radio" id="r2_1" name="radio2" checked="checked">
                            <label for="r2_1">가로</label>
                          </div>
                          <div class="mu-radio">
                            <input type="radio" id="r2_2" name="radio2">
                            <label for="r2_2">세로</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">정렬</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>세로정렬</th>
                              <td>
                                <div class="mu-item-group">
                                  <div class="mu-btn-group">
                                    <button type="button" class="mu-btn active">
                                      <i class=" mu-icon-img align-top"></i>
                                    </button>
                                    <button type="button" class="mu-btn">
                                      <i class="mu-icon-img align-middle"></i>
                                    </button>
                                    <button type="button" class="mu-btn">
                                      <i class="mu-icon-img align-bottom"></i>
                                    </button>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //리스트 설정 - 데이터 -->
                <div class="bx-btn-play">
                  <button type="button" class="mu-btn btn-play"><i class="mu-icon-img play2"></i>실행</button>
                  <!--<button type="button" class="mu-btn btn-play"><i class="mu-icon-img stop3"></i>중지</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>