<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서 Button(Object)</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li class="active"><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                  <div class="box tool button" style="top:50px;left:50px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary" type="button">
                      mu-btn-primary
                    </button>
                  </div>
                  <!-- 박스 클릭 시 사이즈 조절 박스 활성화 -->
                  <div class="box tool button active" style="top:50px;left:300px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary" type="button">
                      mu-btn-primary
                    </button>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                  <!-- // 박스 클릭 시 사이즈 조절 박스 활성화 -->
                  <!-- 대상으로 설정 가능한 상태 -->
                  <span style="position:absolute;top:120px;left:50px;">대상으로 설정 가능한 상태 <span
                      class="highlight">.deselect</span></span>
                  <div class="box tool button deselect" style="top:140px;left:50px;width:200px;height:30px;">
                    <button class="mu-btn mu-btn-primary" type="button">
                      button 01
                    </button>
                    <div class="mu-checkbox">
                      <input type="checkbox" id="button01_ckb">
                      <label for="button01_ckb"></label>
                    </div>
                  </div>
                  <!-- //대상으로 설정 가능한 상태 -->
                  <!-- 대상으로 설정된 상태 -->
                  <span style="position:absolute;top:120px;left:300px;">대상으로 설정된 상태 <span
                      class="highlight">.select</span></span>
                  <div class="box tool button select" style="top:140px;left:300px;width:200px;height:30px;">
                    <button class="mu-btn mu-btn-primary" type="button">
                      button 02
                    </button>
                    <div class="mu-checkbox">
                      <input type="checkbox" id="button02_ckb" checked>
                      <label for="button02_ckb"></label>
                    </div>
                  </div>
                  <!-- //대상으로 설정된 상태 -->
                  <!-- 객체 최소 사이즈 (30x30) -->
                  <span style="position:absolute;top:30px;left:550px;">객체 최소 사이즈 (30x30)</span>
                  <div class="box tool button" style="top:50px;left:550px;width:30px;height:30px;">
                    <button class="mu-btn mu-btn-primary" type="button">
                      button 02
                    </button>
                  </div>
                  <!-- //객체 최소 사이즈 (30x30) -->

                  <div class="box tool button" style="top:200px;left:50px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary"
                      style="border:3px solid #56637C; opacity:50%; border-radius: 3px; box-shadow: 3px 3px 3px #c7c7c7"
                      type="button">
                      btn-border-solid
                    </button>
                  </div>

                  <div class="box tool button" style="top:200px;left:300px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary" type="button"
                      style="border: 3px dotted #56637C;border-radius: 3px; box-shadow: 0px 3px 3px #c7c7c7;">
                      btn-border-dotted
                    </button>
                  </div>

                  <div class="box tool button" style="top:200px;left:550px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary"
                      style="border:3px dashed #56637C;border-radius: 3px; box-shadow: -3px 3px 3px #c7c7c7;"
                      type="button">
                      btn-border-dashed
                    </button>
                  </div>

                  <div class="box tool button" style="top:270px;left:50px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary"
                      style="border:3px solid #56637C; border-radius: 3px; box-shadow: 3px 0px 3px #c7c7c7"
                      type="button">
                      btn-border-solid
                    </button>
                  </div>

                  <div class="box tool button" style="top:270px;left:300px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary" type="button"
                      style="border: 3px dotted #56637C;border-radius: 3px; box-shadow: 0px 0px 5px #b3b3b3;">
                      btn-border-dotted
                    </button>
                  </div>

                  <div class="box tool button" style="top:270px;left:550px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary"
                      style="border:3px dashed #56637C;border-radius: 3px; box-shadow: -3px 0px 3px #c7c7c7;"
                      type="button">
                      btn-border-dashed
                    </button>
                  </div>

                  <div class="box tool button" style="top:340px;left:50px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary"
                      style="border:3px solid #56637C; border-radius: 3px; box-shadow: 3px -3px 3px #c7c7c7"
                      type="button">
                      btn-border-solid
                    </button>
                  </div>

                  <div class="box tool button" style="top:340px;left:300px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary" type="button"
                      style="border: 3px dotted #56637C;border-radius: 3px; box-shadow: 0px -3px 3px #c7c7c7;">
                      btn-border-dotted
                    </button>
                  </div>

                  <div class="box tool button" style="top:340px;left:550px;width:200px;height:50px;">
                    <button class="mu-btn mu-btn-primary"
                      style="border:3px dashed #56637C;border-radius: 3px; box-shadow: -3px -3px 3px #c7c7c7;"
                      type="button">
                      btn-border-dashed
                    </button>
                  </div>

                </div>

                <!-- //canvas 영역 -->
              </div>
              <!-- 우측 패널 -->
              <div class="report-panel">
                <ul class="mu-tab">
                  <li><a>속성</a></li>
                  <li class="active"><a>객체</a></li class="active">
                </ul>
                <!-- 객체 -->

                <div class="mu-tab-body">
                  <div class="mu-tabCont">
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">크기</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>가로</th>
                              <td>
                                <input class="mu-input" type="number">
                              </td>
                            </tr>
                            <tr>
                              <th>세로</th>
                              <td>
                                <input class="mu-input" type="number">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">위치</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>X</th>
                              <td>
                                <input class="mu-input" type="number">
                              </td>
                            </tr>
                            <tr>
                              <th>Y</th>
                              <td>
                                <input class="mu-input" type="number">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">테두리</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i>꾸미기 옵션</button>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i></button>
                        <!-- option 활성화시 active 추가 -->
                        <button class="mu-btn mu-btn-icon disabled" disabled="disabled"><i
                            class="mu-icon setting"></i></button><!-- disabled -->
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>스타일</th>
                              <td>
                                <div>
                                  <div class="border">
                                  </div>
                                  <!-- 테두리 두께 -->
                                  <span>3</span>
                                  <!-- //테두리 두께 -->
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>라운드</th>
                              <td>10</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">채우기</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>색상</th>
                              <td>
                                <span class="color-preview-option" style="border: 1px solid rgb(206, 211, 217); 
                                  background-color: rgb(83, 173, 250); margin-right: 5px;"></span>

                                <span class="color-preview-option slash" style="border: 1px solid rgb(206, 211, 217); 
                                background-color: rgba(255, 255, 255, 0), 0.021);"></span>

                              </td>
                            </tr>
                            <tr>
                              <th>투명도</th>
                              <td>
                                <div class="mu-item-group">
                                  <div class="mu-btn-group">
                                    <span>0%</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- //객체 -->
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">그림자</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>그림자</th>
                              <td>
                                <ul>
                                  <li class="shadow-align">
                                    <i class="icon-shadow"></i> 그림자 없음
                                  </li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- // 단일값 속성 -->

                      <!-- //우측 패널 -->
                    </div>
                  </div>
                </div>

                <!-- //객체 -->
              </div>
              <!-- //우측 패널 -->
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>