<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
  <script src="js/html5.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li class="active"><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
                <li><i class="mu-icon-img tree"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                </div>
                <!-- //canvas 영역 -->
              </div>

              <div class="report-panel">
                <ul class="mu-tab">
                  <li><a>데이터</a></li>
                  <li class="active"><a>속성</a></li>
                  <li><a>객체</a></li>
                </ul>
                <!-- 데이터 -->
                <div class="mu-tab-body">
                  <div class="mu-tabCont">
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">일반</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i>시각화 옵션</button>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="95">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>서체</th>
                              <td>
                                Noto Sans
                              </td>
                            </tr>

                            <tr>
                              <th>글꼴 크기</th>
                              <td>
                                <div class="mu-hgroup">
                                  <span>15px</span>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <th>글꼴 스타일</th>
                              <td>
                                <!-- 2020-05-26 mu-preview-box 생성 -->
                                <div class="mu-hgroup">
                                  <!-- bold -->
                                  <span class="mu-preview-box bold active">
                                    <i class="mu-icon bold"></i>
                                  </span>
                                  <!-- underline -->
                                  <span class="mu-preview-box underline active">
                                    <i class="mu-icon underline"></i>
                                  </span>
                                  <!-- italic -->
                                  <span class="mu-preview-box italic">
                                    <i class="mu-icon italic"></i>
                                  </span>
                                  <!-- line-through -->
                                  <span class="mu-preview-box strickthrough">
                                    <i class="mu-icon strickthrough"></i>
                                  </span>
                                </div>
                                <!-- 2020-05-26 mu-preview-box 생성 끝 -->
                              </td>
                            </tr>

                            <tr>
                              <th>글꼴 색상</th>
                              <td>
                                <div class="mu-hgroup">
                                  <span class="color-preview-option" style="background-color: rgb(83, 173, 250);"></span>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <th>마우스오버글꼴</th>
                              <td>
                                15px
                              </td>
                            </tr>
                            <tr>
                              <th>Root</th>
                              <td>
                                사용
                              </td>
                            </tr>
                            <tr>
                              <th>배경</th>
                              <td>
                                <span class="color-preview-option" style="background-color: rgb(83, 173, 250);"></span>
                              </td>
                            </tr>
                            <tr>
                              <th>마우스오버배경</th>
                              <td>
                                <span class="color-preview-option" style="background-color: rgb(83, 173, 250);"></span>
                              </td>
                            </tr>
                            <tr>
                              <th>가로 정렬</th>
                              <td>
                                <i class="mu-icon align-right p5"></i>
                                <i class="mu-icon align-left p5"></i>
                                <i class="mu-icon align-center p5"></i>
                              </td>
                            </tr>
                            <tr>
                              <th>세로 정렬</th>
                              <td>
                                <i class="mu-icon-img align-top"></i>
                                <i class="mu-icon-img align-bottom"></i>
                                <i class="mu-icon-img align-middle"></i>
                              </td>
                            </tr>
                            <tr>
                              <th>텍스트 정렬</th>
                              <td>
                                <i class="mu-icon-img text-top-to-down"></i>
                                <i class="mu-icon-img text-left-to-right"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">조건부 서식</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="95">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>조건</th>
                              <td>
                                ${xxx} > 90
                              </td>
                            </tr>

                            <tr>
                              <th>글꼴 크기</th>
                              <td>
                                <div class="mu-hgroup">
                                  <span>15px</span>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <th>글꼴 스타일</th>
                              <td>
                                <!-- 2020-05-26 mu-preview-box 생성 -->
                                <div class="mu-hgroup">
                                  <!-- bold -->
                                  <span class="mu-preview-box bold active">
                                    <i class="mu-icon bold"></i>
                                  </span>
                                  <!-- underline -->
                                  <span class="mu-preview-box underline active">
                                    <i class="mu-icon underline"></i>
                                  </span>
                                  <!-- italic -->
                                  <span class="mu-preview-box italic">
                                    <i class="mu-icon italic"></i>
                                  </span>
                                  <!-- line-through -->
                                  <span class="mu-preview-box strickthrough">
                                    <i class="mu-icon strickthrough"></i>
                                  </span>
                                </div>
                                <!-- 2020-05-26 mu-preview-box 생성 끝 -->
                              </td>
                            </tr>

                            <tr>
                              <th>글꼴 색상</th>
                              <td>
                                <div class="mu-hgroup">
                                  <span class="color-preview-option" style="background-color: rgb(83, 173, 250);"></span>
                                </div>
                              </td>
                            </tr>


                            <tr>
                              <th>배경</th>
                              <td>
                                <span class="color-preview-option" style="background-color: rgb(83, 173, 250);"></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //데이터 -->
              </div>
            </div>
            <div class="mu-tooltip top" mu-tooltip="report.edit.side-panel.title.tooltip" style="display: none;">
              <div class="arrow"></div>
              <div class="mu-tooltip-inner">
                <span>캔버스 설정의 객체 탭 안에서 보고서 제목<br>출력 선택 여부 설정 기능 추가</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>