<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서-IMA-속성</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
                <li class="active"><i class="mu-icon-img ima"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                </div>
                <!-- //canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li><a href="">데이터</a></li>
                  <li><a href="">시각화</a></li>
                  <li class="active"><a href="">속성</a></li>
                  <li><a href="">객체</a></li>
                </ul>
                <div class="mu-tab-body has-btn-play">
                  <!-- default 속성 -->
                  <div class="mu-tabCont" style="display: block;">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">Map 템플릿 선택</span>
                      </div>
                      <div class="mu-panel-body datamodel">
                        <div class="mu-selectbox on" title="Map 템플릿을 선택해주세요">
                          <button class="mu-value">서울시 성범죄 현황</button>
                          <ul class="mu-list">
                            <li value="1" title="서울시 성범죄 현황">서울시 성범죄 현황</li>
                            <li value="1" title="데이터모델명01-view">데이터모델명01-view</li>
                            <li value="1" title="데이터모델명02">데이터모델명02</li>
                            <li value="1" title="데이터모델명02-view">데이터모델명02-view</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">시각화 레이어 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>레이어</th>
                              <td>
                                <div class="mu-selectbox">
                                  <button class="mu-value" title="레이어를 선택해주세요">SEOUL_POLYGON</button>
                                  <ul class="mu-list">
                                    <li class="active">SEOUL_POLYGON</li>
                                    <li>Layer 01</li>
                                    <li>Layer 02</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>스냅샷</th>
                              <td>
                                <div class="mu-selectbox">
                                  <button class="mu-value" title="스냅샷을 선택해주세요">기본</button>
                                  <ul class="mu-list">
                                    <li class="active">기본</li>
                                    <li>Layer 01</li>
                                    <li>Layer 02</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">이벤트 값 전달 설정</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon question-circle"></i></button>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>오브젝트 ID</th>
                              <td>
                                chart-2
                              </td>
                            </tr>
                            <tr>
                              <th>Layer ID</th>
                              <td>
                                layer01
                              </td>
                            </tr>
                            <tr>
                              <th>변수 명</th>
                              <td>
                                <input class="mu-input" type="text" placeholder="변수 명을 입력하세요">
                              </td>
                            </tr>
                            <tr>
                              <th>값 필드</th>
                              <td>
                                <div class="mu-selectbox mu-selectbox-right on">
                                  <button class="mu-value">다중선택(2)</button>
                                  <ul class="mu-list">
                                    <li>
                                      <div class="mu-checkbox indeterminate">
                                        <input type="checkbox" id="ckb_select-all" checked="">
                                        <label for="ckb_select-all">전체</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_no" checked="">
                                        <label for="ckb_no">no</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_agent_id" checked="">
                                        <label for="ckb_agent_id">agent_id</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_host_name">
                                        <label for="ckb_host_name">host_name</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_status">
                                        <label for="ckb_status">status</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_cpu">
                                        <label for="ckb_cpu">cpu</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_mem">
                                        <label for="ckb_mem">mem</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="mu-checkbox">
                                        <input type="checkbox" id="ckb_img">
                                        <label for="ckb_img">ohter</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- // default 속성 -->
                  <!-- 베이스맵 속성 -->
                  <div class="mu-tabCont" style="display:none">
                    <div class="mu-panel">
                      <div class="mu-panel-head">
                        <span class="mu-title">Map 템플릿 선택</span>
                      </div>
                      <div class="mu-panel-body datamodel">
                        <div class="mu-selectbox on" title="Map 템플릿을 선택해주세요">
                          <button class="mu-value">서울시 성범죄 현황</button>
                          <ul class="mu-list">
                            <li value="1" title="서울시 성범죄 현황">서울시 성범죄 현황</li>
                            <li value="1" title="데이터모델명01-view">데이터모델명01-view</li>
                            <li value="1" title="데이터모델명02">데이터모델명02</li>
                            <li value="1" title="데이터모델명02-view">데이터모델명02-view</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">시각화 레이어 선택</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="100px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>레이어</th>
                              <td>
                                <div class="mu-selectbox">
                                  <button class="mu-value" title="레이어를 선택해주세요">베이스맵</button>
                                  <ul class="mu-list">
                                    <li class="active">베이스맵</li>
                                    <li>Layer 01</li>
                                    <li>Layer 02</li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- // 베이스맵 속성 -->
                </div>
                <!-- //속성 -->
                <div class="bx-btn-play">
                  <button type="button" class="mu-btn btn-play"><i class="mu-icon-img play2"></i>실행</button>
                  <!--<button type="button" class="mu-btn btn-play"><i class="mu-icon-img stop3"></i>중지</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>


  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>