<!DOCTYPE html>
<html lang="ko">

<head>
  <title>보고서-새보고서</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css">
</head>

<body>
  <!-- 보고서 -->
  <div class="mu-container">
    <section>
      <div class="mu-content content-re data-add report">
        <div class="mu-panel">
          <div class="mu-panel-head">
            <div class="mu-hgroup fl report-title">
              <h3 class="mu-title report-title-text">보고서</h3>
              <!-- 수정 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon-img edit-title"></i>
              </button>
              <!-- 수정 확인 버튼 -->
              <button class="mu-btn mu-btn-icon">
                <i class="mu-icon check"></i>
              </button>
            </div>
            <div class="mu-hgroup fr">
              <button type="button" class="mu-btn mu-btn-default">목록으로</button>
              <button type="button" class="mu-btn mu-btn-default">보기</button>
              <button type="button" class="mu-btn mu-btn-primary">저장</button>
              <button type="button" class="mu-btn mu-btn-secondary">새로저장</button>
              <button type="button" class="mu-btn mu-btn-default" disabled="disabled">접근 권한</button>
              <button type="button" class="mu-btn mu-btn-danger">전체삭제</button>
            </div>
          </div>
          <div class="mu-panel-body">
            <!-- 상단 메뉴바 -->
            <div class="report-menubar">
              <div class="mu-selectbox width150">
                <button class="mu-value">전체</button>
                <ul class="mu-list">
                  <li>전체</li>
                  <li class="active">데이터 시각화</li>
                  <li>양식</li>
                  <li>버튼</li>
                  <li>기타</li>
                </ul>
              </div>
              <ul class="report-menu">
                <li><i class="mu-icon-img area"></i></li>
                <li><i class="mu-icon-img map"></i></li>
                <li><i class="mu-icon-img text"></i></li>
                <li><i class="mu-icon-img rectangle"></i></li>
                <li><i class="mu-icon-img ellipse"></i></li>
                <li><i class="mu-icon-img date"></i></li>
                <li><i class="mu-icon-img renew"></i></li>
                <li><i class="mu-icon-img list"></i></li>
                <li><i class="mu-icon-img tab"></i></li>
                <li><i class="mu-icon-img url"></i></li>
                <li><i class="mu-icon-img image"></i></li>
                <li><i class="mu-icon-img html"></i></li>
                <li><i class="mu-icon-img input"></i></li>
                <li class="active"><i class="mu-icon-img combo-box"></i></li>
                <li><i class="mu-icon-img check-and-radio"></i></li>
                <li><i class="mu-icon-img datetime"></i></li>
                <li><i class="mu-icon-img hidden-input"></i></li>
                <li><i class="mu-icon-img button"></i></li>
              </ul>
              <div class="fr">
                <button class="mu-btn mu-btn-link" type="button">
                  <span class="mu-btn-link-box">전체변수명보기</span>
                </button>
              </div>
            </div>
            <!-- //상단 메뉴바 -->
            <div class="report-cont">
              <div class="report-canvas">
                <!-- canvas 영역 -->
                <div class="canvas" style="width:1920px;height:1080px;">
                  <div class="box tool button active" style="top:50px;left:50px;width:80px;height:26px;">
                    <div class="mu-selectbox">
                      <button class="mu-value">값 01</button>
                      <ul class="mu-list">
                        <li class="tl active">값 01</li>
                        <li class="tl">값 02</li>
                        <li class="tl">값 03</li>
                      </ul>
                    </div>
                    <!-- 크기 조절 상자 -->
                    <span class="tl"></span>
                    <span class="tc"></span>
                    <span class="tr"></span>
                    <span class="cl"></span>
                    <span class="cr"></span>
                    <span class="bl"></span>
                    <span class="bc"></span>
                    <span class="br"></span>
                    <!-- //크기 조절 상자 -->
                  </div>
                </div>
                <!-- //canvas 영역 -->
              </div>
              <div class="report-panel">
                <ul class="mu-tab">
                  <li><a href="">데이터</a></li>
                  <li><a href="">속성</a></li>
                  <li class="active"><a href="">객체</a></li>
                </ul>
                <!-- 리스트 설정 - 데이터 -->
                <div class="mu-tab-body">
                  <div class="mu-tabCont">
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">크기</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>가로</th>
                              <td>
                                <input type="number" class="mu-input" value="400">
                              </td>
                            </tr>
                            <tr>
                              <th>세로</th>
                              <td>
                                <input type="number" class="mu-input" value="500">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">위치</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>X</th>
                              <td>
                                <input type="number" class="mu-input" value="400">
                              </td>
                            </tr>
                            <tr>
                              <th>Y</th>
                              <td>
                                <input type="number" class="mu-input" value="500">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">테두리</span>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i>꾸미기 옵션</button>
                        <button class="mu-btn mu-btn-icon"><i class="mu-icon setting"></i></button>
                        <!-- option 활성화시 active 추가 -->
                        <button class="mu-btn mu-btn-icon disabled" disabled="disabled"><i
                            class="mu-icon setting"></i></button><!-- disabled -->
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>스타일</th>
                              <td>
                                  <div class="border"></div>
                                  <!-- 테두리 두께 -->
                                  <span>3</span>
                                  <!-- //테두리 두께 -->
                                </td>
                            </tr>
                            <tr>
                              <th>라운드</th>
                              <td>10</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- //우측 패널 -->
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">채우기</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>색상</th>
                              <td>
                                <span class="color-preview-option" style="border: 1px solid rgb(206, 211, 217); 
                                  background-color: rgb(83, 173, 250);"></span>
                              </td>
                            </tr>
                            <tr>
                              <th>투명도</th>
                              <td>
                                <div class="mu-item-group">
                                  <div class="mu-btn-group">
                                    <span>0%</span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- //객체 -->
                    </div>
                    <div class="mu-panel mu-formbox-inner">
                      <div class="mu-panel-head">
                        <span class="mu-title">그림자</span>
                      </div>
                      <div class="mu-panel-body">
                        <table class="mu-formbox">
                          <colgroup>
                            <col width="90px">
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>그림자</th>
                              <td>
                                <ul>
                                  <li class="shadow-align">
                                    <i class="icon-shadow"></i> 그림자 없음
                                  </li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- // 단일값 속성 -->

                    </div>

                  </div>
                </div>

              </div>
            </div>
            <!-- //리스트 설정 - 데이터 -->
          </div>
        </div>
      </div>
  </div>

  </div>
  </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet">
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>