<!DOCTYPE html>
<html lang="ko">
  <head>
    <style type="text/css">
      @charset "UTF-8";
    </style>
    <title>Studio</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- ag-grid -->
    <link rel="stylesheet" type="text/css" href="lib/ag-grid/ag-grid.css" />

    <!-- color picker lib -->
    <link rel="stylesheet" type="text/css" href="lib/spectrum.css" />

    <!-- web-chart -->
    <link rel="stylesheet" type="text/css" href="lib/mobius/d3.slider.css" />
    <!-- Map 관련 css -->
    <link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css" />

    <!-- time picker -->
    <link
      rel="stylesheet"
      type="text/css"
      href="lib/jquery.timepicker.min.css"
    />

    <!-- quill editor -->
    <link rel="stylesheet" type="text/css" href="lib/quill/quill.snow.css" />

    <!-- sass file -->
    <link
      href="/studio/css/studio/style.min-925aa4c7c59edeca6af88a20c89205c8.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="/studio/css/studio/issue-fix-51a44821c4b3910e5b7840eed6cf5054.css"
      rel="stylesheet"
      type="text/css"
		/>
		
		<link
		rel="stylesheet"
		type="text/css"
		href="../../dist/css/sherman/style.min.css"
	/>


  </head>
  <body
    style="background-color: #ffffff; min-height: 240px; margin: 0;"
  >
    <input type="hidden" id="userId" value="root" autocomplete="off" />
    <input type="hidden" id="groupId" value="" autocomplete="off" />
    <input type="hidden" id="userAuth" value="" autocomplete="off" />
    <input
      type="hidden"
      id="supportLocales"
      value="ko,en,zh,ja"
      autocomplete="off"
    />
    <input
      type="hidden"
      id="supportMapTypes"
      value="leaflet,naver"
      autocomplete="off"
    />
    <input
      type="hidden"
      id="supportMapOsmUrl"
      value="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      autocomplete="off"
    />

    <!-- uiView: -->
    <div class="mu-container" ui-view="">
      <section>
        <div class="mu-content content-re data-add report report-preview">
          <div class="mu-panel">
            <div
              class="mu-panel-head">
              <div class="mu-hgroup fl">
                <h3 class="mu-title">Untitled (1) : 보고서 PDF or image로 저장하는 기능 Report 예제</h3>
							</div>

            </div>
            <div class="mu-panel-body">
              <div
                class="preview-wrap"
                style="background-color: rgb(255, 255, 255);"
							>

							<div class="mu-hgroup report-save-button">
								<button type="button" class="mu-btn mu-btn-default">
									<i class="mu-icon-img saveas"></i>
								</button>

						</div>

                <!-- 시각화 쌓이는 부분 -->
                <div
                  id="preview-container"
                  style="
                    position: relative;
                    width: 1920px;
                    height: 1080px;
                    background-color: rgb(255, 255, 255);
                  "
								>	

							</div>
              </div>
            </div>
          </div>
          <!-- 팝업 레이어 -->
        </div>
        <div
          class="mu-tooltip left"
          style="z-index: 745; display: none;"
          popup-layer="report_edit.opt.com_period"
        >
          <div class="arrow"></div>
          <div class="mu-tooltip-head">
            <span class="title">비교 기간</span>
            <button
              type="button"
              class="mu-btn mu-btn-icon mu-btn-bg-non"
              popup-layer-close="report_edit.opt.com_period"
            >
              <i class="mu-icon-img"></i>
            </button>
          </div>
          <div class="filter-wrap">
            <datetime-picker
              name="report_edit.tp.com_period"
              change-datetime="changeDatetime(start, end, preset)"
              start="startDate"
              end="endDate"
              option="dateTimeOption"
            >
              <div
                class="mu-accordion"
                only-one=""
              >
                <div
                  class="mu-accordion-item accordion-item1"
                >
                  <div class="mu-accordion-head active" mu-accordion-head="">
                    <a><span>미리 설정</span></a>
                  </div>
                  <div
                    class="mu-accordion-body"
                    style="display: block;"
                  >
                    <a class="all-time" >전체 시간</a>
                    <ul class="time">
                      <!--최근-->
                      <li ><a>최근 1 분</a></li>
                      <li ><a>최근 10 분</a></li>
                      <li ><a>최근 30 분</a></li>
                      <li><a>최근 60 분</a></li>
                      <li 4h><a>최근 4 시간</a></li>
                      <li 24h>
                        <a>최근 24 시간</a>
                      </li>
                      <li 7d><a>최근 7 일</a></li>
                      <li 2w><a>최근 2주</a></li>
                      <li 3w><a>최근 3주</a></li>
                      <li 4w><a>최근 4주</a></li>
                      <li 3M><a>최근 3개월</a></li>
                      <li 6M><a>최근 6개월</a></li>
                      <li 1y><a>최근 1년</a></li>
                      <li 3y><a>최근 3년</a></li>
                    </ul>
                    <ul class="day">
                      <!--지난-->
                      <li >
                        <a>지난 1 분</a>
                      </li>
                      <li >
                        <a>지난 10 분</a>
                      </li>
                      <li >
                        <a>지난 60 분</a>
                      </li>
                      <li ><a>오늘</a></li>
                      <li ><a>어제</a></li>
                      <li >
                        <a>이번 주</a>
                      </li>
                      <li>
                        <a>이전 주</a>
                      </li>
                      <li >
                        <a>이번 달</a>
                      </li>
                      <li >
                        <a>이전 달</a>
                      </li>
                      <li >
                        <a>이번 분기</a>
                      </li>
                      <li >
                        <a>이전 분기</a>
                      </li>
                      <li>
                        <a>이번 년도</a>
                      </li>
                      <li>
                        <a>이전 년도</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="mu-accordion-item accordion-item2"
                >
                  <div class="mu-accordion-head" mu-accordion-head="">
                    <a><span>날짜 및 시간 범위</span></a>
                  </div>
                  <div
                    class="mu-accordion-body"
                    style="display: none;"
                  >
                    <div
                      class="bx-date active"
                    >
                      <em class="tit">시작</em>
                      <div class="bx-textarea">
                        <textarea
                          class="num "
                          row="2"
                        ></textarea>
                      </div>
                    </div>
                    <span class="bx-arrow"></span>
                    <div
                      class="bx-date"
                    >
                      <em class="tit">종료</em>
                      <div
                      >
                        <input
                          type="checkbox"
                          id="ckb_dt_now_report_edit_tp_com_period"
                          checked="checked"
                          
                        />
                        <label for="ckb_dt_now_report_edit_tp_com_period"
                          >현재 시간</label
                        >
                      </div>
                      <div class="bx-textarea">
                        <textarea
                          class="num "
                          row="2"
                        ></textarea>
                      </div>
                    </div>

                    <div class="bx-datepicker active">
                      <!-- calender -->
                      <div
                        mu-datepicker="datetime.calender"
                        datepicker-options="settings"
                        class="nhasDatepicker"
                        id="dp1594967403429"
                      >
                        <div
                          class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
                          style="display: block;"
                        >
                          <div
                            class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"
                          >
                            <a
                              class="ui-datepicker-prev ui-corner-all"
                              data-handler="prev"
                              data-event="click"
                              title="이전달"
                              ><span class="ui-icon ui-icon-circle-triangle-w"
                                >이전달</span
                              ></a
                            ><a
                              class="ui-datepicker-next ui-corner-all"
                              data-handler="next"
                              data-event="click"
                              title="다음달"
                              ><span class="ui-icon ui-icon-circle-triangle-e"
                                >다음달</span
                              ></a
                            >
                            <div class="ui-datepicker-title">
                              <span class="ui-datepicker-year">2020</span
                              >년&nbsp;<span class="ui-datepicker-month"
                                >7월</span
                              >
                            </div>
                          </div>
                          <table class="ui-datepicker-calendar">
                            <thead>
                              <tr>
                                <th class="ui-datepicker-week-end">
                                  <span title="일요일">일</span>
                                </th>
                                <th><span title="월요일">월</span></th>
                                <th><span title="화요일">화</span></th>
                                <th><span title="수요일">수</span></th>
                                <th><span title="목요일">목</span></th>
                                <th><span title="금요일">금</span></th>
                                <th class="ui-datepicker-week-end">
                                  <span title="토요일">토</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td
                                  class="ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled"
                                >
                                  &nbsp;
                                </td>
                                <td
                                  class="ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled"
                                >
                                  &nbsp;
                                </td>
                                <td
                                  class="ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled"
                                >
                                  &nbsp;
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">1</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">2</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">3</a>
                                </td>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">4</a>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">5</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">6</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">7</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">8</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">9</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">10</a>
                                </td>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">11</a>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">12</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">13</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">14</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">15</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">16</a>
                                </td>
                                <td
                                  class="ui-datepicker-days-cell-over ui-datepicker-current-day ui-datepicker-today"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a
                                    class="ui-state-default ui-state-highlight ui-state-active ui-state-hover"
                                    href="#"
                                    >17</a
                                  >
                                </td>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">18</a>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">19</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">20</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">21</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">22</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">23</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">24</a>
                                </td>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">25</a>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  class="ui-datepicker-week-end"
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">26</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">27</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">28</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">29</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">30</a>
                                </td>
                                <td
                                  class=" "
                                  data-handler="selectDay"
                                  data-event="click"
                                  data-month="6"
                                  data-year="2020"
                                >
                                  <a class="ui-state-default" href="#">31</a>
                                </td>
                                <td
                                  class="ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled"
                                >
                                  &nbsp;
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="item-group">
                        <i class="mu-icon-img clock"></i>
                        <div
                          class="mu-selectbox mu-select-sm"
                          mu-select-v2="datetime.time.hour"
                          select-model="calender.time.hour"
                        >
                          <button class="mu-value" title="00">
                            00
                          </button>
                          <ul class="mu-list">

                            <li
                              mu-option-v2="num"
                              title="00"
                            >
                              00
                            </li>
                            <li
                              mu-option-v2="num"
                              title="01"
                            >
                              01
                            </li>
                            <li
                              title="02"
                            >
                              02
                            </li>
                            <li
                              title="03"
                            >
                              03
                            </li>
                            <li
                              title="04"
                            >
                              04
                            </li>
                            <li
                              title="05"
                            >
                              05
                            </li>
                            <li
                              title="06"
                            >
                              06
                            </li>
                            <li
                              title="07"
                            >
                              07
                            </li>
                            <li
                              title="08"
                            >
                              08
                            </li>
                            <li
                              title="09"
                            >
                              09
                            </li>
                            <li
                              title="10"
                            >
                              10
                            </li>
                            <li
                              title="11"
                            >
                              11
                            </li>
                            <li
                              title="12"
                            >
                              12
                            </li>
                            <li
                              title="13"
                            >
                              13
                            </li>
                            <li
                              title="14"
                            >
                              14
                            </li>
                            <li
                              title="15"
                            >
                              15
                            </li>
                            <li
                              title="16"
                            >
                              16
                            </li>
                            <li
                              title="17"
                            >
                              17
                            </li>
                            <li
                              title="18"
                            >
                              18
                            </li>
                            <li
                              title="19"
                            >
                              19
                            </li>
                            <li
                              title="20"
                            >
                              20
                            </li>
                            <li
                              title="21"
                            >
                              21
                            </li>
                            <li
                              title="22"
                            >
                              22
                            </li>
                            <li
                              title="23"
                            >
                              23
                            </li>
                          </ul>
                        </div>
                        <span class="dot">:</span>
                        <div
                          class="mu-selectbox mu-select-sm"
                          mu-select-v2="datetime.time.minute"
                          select-model="calender.time.minute"
                        >
                          <button class="mu-value" title="00">
                            00
                          </button>
                          <ul class="mu-list">
                            <li
                              title="00"
                            >
                              00
                            </li>
                            <li
                              title="01"
                            >
                              01
                            </li>
                            <li
                              title="02"
                            >
                              02
                            </li>
                            <li
                              title="03"
                            >
                              03
                            </li>
                            <li
                              title="04"
                            >
                              04
                            </li>
                            <li
                              title="05"
                            >
                              05
                            </li>
                            <li
                              title="06"
                            >
                              06
                            </li>
                            <li
                              title="07"
                            >
                              07
                            </li>
                            <li
                              title="08"
                            >
                              08
                            </li>
                            <li
                              title="09"
                            >
                              09
                            </li>
                            <li
                              title="10"
                            >
                              10
                            </li>
                            <li
                              title="11"
                            >
                              11
                            </li>
                            <li
                              title="12"
                            >
                              12
                            </li>
                            <li
                              title="13"
                            >
                              13
                            </li>
                            <li
                              title="14"
                            >
                              14
                            </li>
                            <li
                              title="15"
                            >
                              15
                            </li>
                            <li
                              title="16"
                            >
                              16
                            </li>
                            <li
                              title="17"
                            >
                              17
                            </li>
                            <li
                              title="18"
                            >
                              18
                            </li>
                            <li
                              title="19"
                            >
                              19
                            </li>
                            <li
                              title="20"
                            >
                              20
                            </li>
                            <li
                              title="21"
                            >
                              21
                            </li>
                            <li
                              title="22"
                            >
                              22
                            </li>
                            <li
                              title="23"
                            >
                              23
                            </li>
                            <li
                              title="24"
                            >
                              24
                            </li>
                            <li
                              title="25"
                            >
                              25
                            </li>
                            <li
                              title="26"
                            >
                              26
                            </li>
                            <li
                              title="27"
                            >
                              27
                            </li>
                            <li
                              title="28"
                            >
                              28
                            </li>
                            <li
                              title="29"
                            >
                              29
                            </li>
                            <li
                              title="30"
                            >
                              30
                            </li>
                            <li
                              title="31"
                            >
                              31
                            </li>
                            <li
                              title="32"
                            >
                              32
                            </li>
                            <li
                              title="33"
                            >
                              33
                            </li>
                            <li
                              title="34"
                            >
                              34
                            </li>
                            <li
                              title="35"
                            >
                              35
                            </li>
                            <li
                              title="36"
                            >
                              36
                            </li>
                            <li
                              title="37"
                            >
                              37
                            </li>
                            <li
                              title="38"
                            >
                              38
                            </li>
                            <li
                              title="39"
                            >
                              39
                            </li>
                            <li
                              title="40"
                            >
                              40
                            </li>
                            <li
                              title="41"
                            >
                              41
                            </li>
                            <li
                              title="42"
                            >
                              42
                            </li>
                            <li
                              title="43"
                            >
                              43
                            </li>
                            <li
                              title="44"
                            >
                              44
                            </li>
                            <li
                              title="45"
                            >
                              45
                            </li>
                            <li
                              title="46"
                            >
                              46
                            </li>
                            <li
                              title="47"
                            >
                              47
                            </li>
                            <li
                              title="48"
                            >
                              48
                            </li>
                            <li
                              title="49"
                            >
                              49
                            </li>
                            <li
                              title="50"
                            >
                              50
                            </li>
                            <li
                              title="51"
                            >
                              51
                            </li>
                            <li
                              title="52"
                            >
                              52
                            </li>
                            <li
                              title="53"
                            >
                              53
                            </li>
                            <li
                              title="54"
                            >
                              54
                            </li>
                            <li
                              title="55"
                            >
                              55
                            </li>
                            <li
                              title="56"
                            >
                              56
                            </li>
                            <li
                              title="57"
                            >
                              57
                            </li>
                            <li
                              title="58"
                            >
                              58
                            </li>
                            <li
                              title="59"
                            >
                              59
                            </li>
                          </ul>
                        </div>
                        <span class="dot">:</span>
                        <div
                          class="mu-selectbox mu-select-sm"
                          mu-select-v2="datetime.time.second"
                          select-model="calender.time.second"
                        >
                          <button class="mu-value" title="00">
                            00
                          </button>
                          <ul class="mu-list">
                            <li
                              title="00"
                            >
                              00
                            </li>
                           <li
                              title="01"
                            >
                              01
                            </li>
                           <li
                              title="02"
                            >
                              02
                            </li>
                           <li
                              title="03"
                            >
                              03
                            </li>
                           <li
                              title="04"
                            >
                              04
                            </li>
                           <li
                              title="05"
                            >
                              05
                            </li>
                           <li
                              title="06"
                            >
                              06
                            </li>
                           <li
                              title="07"
                            >
                              07
                            </li>
                           <li
                              title="08"
                            >
                              08
                            </li>
                           <li
                              title="09"
                            >
                              09
                            </li>
                           <li
                              title="10"
                            >
                              10
                            </li>
                           <li
                              title="11"
                            >
                              11
                            </li>
                           <li
                              title="12"
                            >
                              12
                            </li>
                           <li
                              title="13"
                            >
                              13
                            </li>
                           <li
                              title="14"
                            >
                              14
                            </li>
                           <li
                              title="15"
                            >
                              15
                            </li>
                           <li
                              title="16"
                            >
                              16
                            </li>
                           <li
                              title="17"
                            >
                              17
                            </li>
                           <li
                              title="18"
                            >
                              18
                            </li>
                           <li
                              title="19"
                            >
                              19
                            </li>
                           <li
                              title="20"
                            >
                              20
                            </li>
                           <li
                              title="21"
                            >
                              21
                            </li>
                           <li
                              title="22"
                            >
                              22
                            </li>
                           <li
                              title="23"
                            >
                              23
                            </li>
                           <li
                              title="24"
                            >
                              24
                            </li>
                           <li
                              title="25"
                            >
                              25
                            </li>
                           <li
                              title="26"
                            >
                              26
                            </li>
                           <li
                              title="27"
                            >
                              27
                            </li>
                           <li
                              title="28"
                            >
                              28
                            </li>
                           <li
                              title="29"
                            >
                              29
                            </li>
                           <li
                              title="30"
                            >
                              30
                            </li>
                           <li
                              title="31"
                            >
                              31
                            </li>
                           <li
                              title="32"
                            >
                              32
                            </li>
                           <li
                              title="33"
                            >
                              33
                            </li>
                           <li
                              title="34"
                            >
                              34
                            </li>
                           <li
                              title="35"
                            >
                              35
                            </li>
                           <li
                              title="36"
                            >
                              36
                            </li>
                           <li
                              title="37"
                            >
                              37
                            </li>
                           <li
                              title="38"
                            >
                              38
                            </li>
                           <li
                              title="39"
                            >
                              39
                            </li>
                           <li
                              title="40"
                            >
                              40
                            </li>
                           <li
                              title="41"
                            >
                              41
                            </li>
                           <li
                              title="42"
                            >
                              42
                            </li>
                           <li
                              title="43"
                            >
                              43
                            </li>
                           <li
                              title="44"
                            >
                              44
                            </li>
                           <li
                              title="45"
                            >
                              45
                            </li>
                           <li
                              title="46"
                            >
                              46
                            </li>
                           <li
                              title="47"
                            >
                              47
                            </li>
                           <li
                              title="48"
                            >
                              48
                            </li>
                           <li
                              title="49"
                            >
                              49
                            </li>
                           <li
                              title="50"
                            >
                              50
                            </li>
                           <li
                              title="51"
                            >
                              51
                            </li>
                           <li
                              title="52"
                            >
                              52
                            </li>
                           <li
                              title="53"
                            >
                              53
                            </li>
                           <li
                              title="54"
                            >
                              54
                            </li>
                           <li
                              title="55"
                            >
                              55
                            </li>
                           <li
                              title="56"
                            >
                              56
                            </li>
                           <li
                              mu-option-v2="num"
                              title="57"
                            >
                              57
                            </li>
                           <li
                              mu-option-v2="num"
                              title="58"
                            >
                              58
                            </li>
                           <li
                              mu-option-v2="num"
                              title="59"
                            >
                              59
                            </li>
                         </ul>
                        </div>
                      </div>
                    </div>
                    <div
                      class="mu-tooltip-foot"
                    >
                      <button
                        type="button"
                        class="mu-btn mu-btn-primary"
                      >
                        선택
                      </button>
                    </div>
                    <p
                      class="bx-msg-err"
                    >
                      <i class="mu-icon-img alert"></i>
                    </p>
                  </div>
                </div>
              </div>
            </datetime-picker>
          </div>
        </div>
      </section>
    </div>
    <div>
      <div
        class="mu-background"
        mu-dialog="studio.alert"
        style="z-index: 101; display: none;"
      ></div>
      <div
        class="mu-alert"
        mu-dialog="studio.alert"
        dialog-offset="auto"
        style="
          z-index: 102;
          min-width: 250px;
          max-width: 800px;
          width: auto;
          display: none;
        "
      >
        <div class="mu-alert-head" on="type">
          <i class="mu-icon exclamation"></i>
        </div>
        <div class="mu-alert-body">
        </div>
        <div class="mu-alert-foot">
          <button type="button" class="mu-btn">
            예
          </button>
        </div>
      </div>
    </div>
    <div>
      <div
        class="mu-background"
        mu-dialog="studio.confirm"
        style="display: none;"
      ></div>
      <div
        class="mu-alert etc"
        mu-dialog="studio.confirm"
        dialog-offset="auto"
        style="
          min-width: 250px;
          max-width: 800px;
          width: auto;
          z-index: 101;
          display: none;
        "
      >
        <div class="mu-alert-head">
          <i class="mu-icon exclamation"></i>
        </div>
        <div class="mu-alert-body">
        </div>
        <div class="mu-alert-foot">
          <button type="button" class="mu-btn">
            예
          </button>
          <button type="button" class="mu-btn cancel"">
            아니오
          </button>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="/studio/build/studio.vendor.min-cb6e0dccf4ba081bb559e4d3b5a578f1.js"
    ></script>
    <script
      type="text/javascript"
      src="/studio/lib/mobius/mobius.min-083bf59cdaa85a35c34aee7b00e1e820.js"
    ></script>
    <script
      type="text/javascript"
      src="/studio/lib/mobius/mobigen-web-chart.min-18fe9417fde2e602485f7c1e8d35242d.js"
    ></script>
    <script
      type="text/javascript"
      src="/studio/build/studio.index.min-c9002c8edb309636dec535f0d55f9c89.js"
    ></script>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=sy4z1egr55"
    ></script>

    <div
      id="ui-datepicker-div"
      class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
    ></div>
  </body>
</html>
