<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" href="../../dist/css/sherman/style.min.css" />
  <title>Studio - 보고서 목록</title>
</head>

<body style="min-width: 1280px;">
  <!-- Studio -->
  <div class="mu-container mu-scroll-h">
    <section>
      <div class="datamodel-content content-re">
        <div class="datamodel-head">
          <div class="mu-col mu-col-12">
            <div class="mu-hgroup fl">
              <h3 class="mu-title">보고서 목록</h3>
            </div>
            <div class="mu-hgroup fr">
              <button class="mu-btn mu-btn-ghost" type="button"><i class="mu-icon refresh"></i>
                새로고침</button>
              <button class="mu-btn mu-btn-secondary" type="button">카테고리 관리</button>
              <button class="mu-btn mu-btn-primary" type="button">새 보고서</button>

            </div>
          </div>
        </div>

        <div class="datamodel-body">
          <div class="mu-row">
            <div class="mu-col mu-col-12">
              <div class="mu-panel">
                <div class="mu-panel-head">
                  <div class="mu-hgroup">
                    <label>목록 개수</label>
                    <div class="mu-selectbox">
                      <button class="mu-value">15</button>
                      <ul class="mu-list">
                        <li value="1">1</li>
                        <li value="2" class="active">2</li>
                        <li value="3">3</li>
                      </ul>
                    </div>
                    <span class="division-line">|</span>

                    <div class="mu-selectbox">
                      <button class="mu-value">전체 카테고리</button>
                      <ul class="mu-list">
                        <li value="1">1</li>
                        <li value="2" class="active">2</li>
                        <li value="3">3</li>
                      </ul>
                    </div>

                    <div class="mu-input-icon">
                      <input class="mu-input" placeholder="search..." type="text">
                      <i class="mu-icon search"></i>
                    </div>
                    <span>10개 항목 중 10개 표시</span>
                  </div>
                  <div class="mu-pagination fr">
                    <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img arrow-first"></i></button>
                    <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img arrow-prev"></i></button>
                    <ul>
                      <li class="active"><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">4</a></li>
                      <li><a href="">5</a></li>
                    </ul>
                    <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img arrow-next"></i></button>
                    <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon-img arrow-last"></i></button>
                  </div>
                </div>
                <div class="mu-panel-body">
                  <!-- Data table -->
                  <div class="mu-grid-scroll">
                    <table class="mu-grid mu-grid-sort mu-grid-border">
                      <colgroup>
                        <col width="50">
                        <col width="120">
                        <col width="">
                        <col width="120">
                        <col width="150">
                        <col width="100">
                        <col width="140">
                        <col width="100">
                      </colgroup>
                      <thead>
                        <tr>
                          <th class="none">#</th>
                          <th class="none">카테고리</th>
                          <th class="down">이름</th>
                          <th class="up">내보내기 URL</th>
                          <th>소유자</th>
                          <th class="none">편집</th>
                          <th>수정일</th>
                          <th class="none">접근권한</th>
                        </tr>
                      </thead>
                    </table>
                    <div class="mu-scroll-v" style="max-height:;">
                      <!-- max-height 값 삭제해야 스크롤 없어짐 -->
                      <table class="mu-grid mu-grid-border mu-grid-hover mu-grid-strip mu-grid-item">
                        <col width="50">
                        <col width="120">
                        <col width="">
                        <col width="120">
                        <col width="150">
                        <col width="100">
                        <col width="140">
                        <col width="100">
                        </colgroup>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>서울시</td>
                            <td class="tl"><a href="" class="disabled">보고서 1</a></td>
                            <td><button type="button" class="mu-btn mu-btn-icon">관리<i
                                  class="mu-icon down-s"></i></button></td>
                            <td>root</td>
                            <td>
                              <button type="button" class="mu-btn mu-btn-icon">편집<i class="mu-icon down-s"></i></button>
                            </td>
                            <td>2017/03/30 20:23:29</td>
                            <td><button type="button" class="mu-btn mu-btn-icon">설정</button></td>
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>치안연</td>
                            <td class="tl"><a href="">보고서 1</a></td>
                            <td><button type="button" class="mu-btn mu-btn-icon">설정</button></td>
                            <td>root</td>
                            <td>
                              <button type="button" class="mu-btn mu-btn-icon">편집<i class="mu-icon down-s"></i></button>
                            </td>
                            <td>2017/03/30 20:23:29</td>
                            <td><button type="button" class="mu-btn mu-btn-icon">설정</button></td>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- tooltip : 편집 버튼 툴팁 메뉴 -->
                      <div class="mu-tooltip bottom dataField" style="top:300px;left:600px;">
                        <div class="arrow"></div>
                        <ul class="mu-popup-menu">
                          <li><a href="">정보 변경</a></li>
                          <li><a href="">수정</a></li>
                          <li><a href="">복사</a></li>
                          <li><a href="">삭제</a></li>
                        </ul>
                      </div>
                      <!-- //tooltip : 편집 버튼 툴팁 메뉴 -->
                      </table>
                      <!-- tooltip : 내보내기 URL 관리 버튼 툴팁 메뉴 -->
                      <div class="mu-tooltip bottom dataField" style="top:300px;left:700px;">
                        <div class="arrow"></div>
                        <ul class="mu-popup-menu">
                          <li><a href="">URL 복사</a></li>
                          <li><a href="">URL 보기</a></li>
                          <li><a href="">URL 삭제</a></li>
                        </ul>
                      </div>
                      <!-- //tooltip : 내보내기 URL 관리 버튼 툴팁 메뉴 -->
                    </div>
                  </div>
                  <!-- //Data table -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- //Studio -->

  <!-- mu-dialog : 내보내기 URL -->
  <div class="mu-dialog mui-dialog-sm mu-formbox-inner" style="top: 230px; left: 50px;">
    <div class="mu-dialog-head">
      <span class="title">내보내기 URL</span>
      <button type="button" class="mu-btn mu-btn-icon mu-btn-bg-non"><i class="mu-icon-img"></i></button>
    </div>
    <div class="mu-dialog-body">
      <table class="mu-formbox">
        <tbody>
          <tr>
            <td><input class="mu-input" tyle="text" value="https://url.com" disabled></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 하단 버튼 -->
    <div class="mu-dialog-foot">
      <button type="button" class="mu-btn mu-btn-default">취소</button>
      <button type="button" class="mu-btn mu-btn-primary fr">복사</button>
      <button type="button" class="mu-btn mu-btn-danger fr">삭제</button>
    </div>
    <!-- //하단 버튼 -->
  </div>
  <!-- //mu-dialog : 내보내기 URL -->
  <script src="../../dist/js/sherman.bundle.js"></script>
</body>

</html>