// src/sass/partials/_body.scss
body {
  color: $font_color;
  background-color: #ccc;
  display: flex;


  // Property Nesting
  font: {
    size: $font_size;
    family: $font_family;
  }

  line-height: $line_height;

  .homeIcon {
    height: 64px;
    width: 64px;
    background-image: url('../images/webpacklogo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .logoImg {
    display: block;
    height: 64px;
    width: 64px;
    background-image: url('../images/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}