<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>네이버지도 어플리케이션 키</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../dist/css/meta/style.min.css"
    />
  </head>

  <body>
    <div class="mu-container">
      <section>
        <!-- 개인 설정 화면 -->
        <div class="mu-content content-re form-layout">
          <!-- 입력 폼 전체 타이틀 -->
          <div class="mui-form-title-wrap">
            <span class="mui-form-title">네이버지도 어플리케이션 키</span>
          </div>
          <!-- 입력 폼 -->
          <div class="mui-form">
            <div class="mui-form-body-wrap">
              <div class="mui-form-body">
                <!-- 입력 폼 개별 아이템: 레이블 + 콘텐트  -->
                <div class="mui-form-item">
                  <!-- 입력 폼: 레이블 -->
                  <div class="mui-form-item-label mu-col-2">
                    <label>Client ID</label>
                  </div>
                  <!-- 입력 폼: 콘텐트 -->
                  <div class="mui-form-item-cont mu-col-10">
                    <input
                      type="text"
                      class="mu-input"
                      placeholder="Placeholder text"
                    />
                  </div>
                </div>
                <!-- // 입력 폼 개별 아이템: 레이블 + 콘텐트  -->
              </div>
            </div>
            <div class="mui-form-foot">
              <!-- EX) button 수행 프리로더 -->
              <div class="mu-hgroup" style="margin-bottom:12px;display: block;">
                <button
                  class="mu-btn mu-btn-primary"
                  type="button"
                  disabled="disabled"
                >
                  적용
                </button>
                <div class="mui-loading mui-loading-sm">
                  <div class="mui-loading-spinner"></div>
                </div>
              </div>
              <!-- EX) button 성공 안내 메시지 -->
              <div class="mu-hgroup">
                <button class="mu-btn mu-btn-primary" type="button">
                  적용
                </button>
                <div class="mui-message success mui-message-single">
                  <i class="mu-icon check-circle"></i>
                  <span class="mui-message-text">적용 되었습니다</span>
                </div>
              </div>
            </div>
          </div>
          <!-- // 입력 폼 -->
        </div>
      </section>
    </div>
    <script src="../../dist/js/meta.bundle.js"></script>
  </body>
</html>
