<!DOCTYPE html>
<html lang="ko">

<head>
  <title>IRIS - 메뉴 관리</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/meta/style.min.css" />
</head>

<body>
  <!-- 메뉴 서비스 -->
  <div class="mu-container">
    <section>
      <div class="content-re search-table-content">
        <!-- search-table-head - table의 타이틀, 새로운 항목 작성 버튼 등 포함 -->
        <div class="search-table-head">
          <div class="mu-hgroup fl">
            <!-- 제목 -->
            <h3 class="mu-title">메뉴 목록</h3>
          </div>
          <div class="mu-hgroup fr">
            <button class="mu-btn mu-btn-ghost" type="button">
              <i class="mu-icon refresh"></i>
              <span>새로고침</span>
            </button>
            <button class="mu-btn mu-btn-primary" type="button">
              <span>메뉴 추가</span>
            </button>
          </div>
        </div>
        <!-- //search-table-head -->
        <!-- search-table-body - table의 툴바와 table 포함 -->
        <div class="search-table-body">
          <!-- 툴바 - hidden 상태 -->
          <div class="search-table-toolbar hidden">
            <div class="mu-hgroup">
              <!--목록 개수-->
              <label>목록 개수</label>
              <div class="mu-selectbox">
                <button class="mu-value">20</button>
                <ul class="mu-list">
                  <li value="10">10</li>
                  <li value="20" class="active">20</li>
                  <li value="50">50</li>
                </ul>
              </div>
              <span class="division-line">|</span>
              <div class="mu-input-icon">
                <input class="mu-input" placeholder="검색" type="text" />
                <i class="mu-icon search"></i>
              </div>
              <span> 검색된 191개 항목 중 20개 표시 </span>
            </div>
            <!--pagination-->
            <div class="mu-pagination fr">
              <button type="button" class="mu-btn mu-btn-icon" disabled="disabled">
                <i class="mu-icon-img arrow-first"></i></button><button type="button" class="mu-btn mu-btn-icon"
                disabled="disabled">
                <i class="mu-icon-img arrow-prev"></i>
              </button>
              <ul>
                <li class="ng-scope active"><a href="">1</a></li>
                <li class="ng-scope"><a href="">2</a></li>
                <li class="ng-scope"><a href="">3</a></li>
                <li class="ng-scope"><a href="">4</a></li>
                <li class="ng-scope"><a href="">5</a></li>
              </ul>
              <button type="button" class="mu-btn mu-btn-icon">
                <i class="mu-icon-img arrow-next"></i></button><button type="button" class="mu-btn mu-btn-icon">
                <i class="mu-icon-img arrow-last"></i>
              </button>
            </div>
            <!-- // pagination -->
          </div>
          <!-- // 툴바 - hidden 상태 -->
          <!-- mu-grid 테이블 -->
          <div class="mu-grid-scroll">
            <table class="mu-grid mu-grid-sort mu-grid-border">
              <colgroup>
                <col width="*" />
                <col width="110px" />
                <col width="110px" />
                <col width="110px" />
                <col width="110px" />
                <col width="110px" />
                <col width="110px" />
              </colgroup>
              <thead>
                <tr>
                  <th class="none">이름</th>
                  <th class="none">표시</th>
                  <th class="none">순서</th>
                  <th class="none">서비스 유형</th>
                  <th class="none">첫 화면</th>
                  <th class="none">편집</th>
                  <th class="none">접근 권한</th>
                </tr>
              </thead>
            </table>
            <div class="mu-scroll-v">
              <table class="mu-grid mu-grid-border mu-grid-expand mu-grid-strip mu-grid-item mu-formbox-inner bdt-none">
                <colgroup>
                  <col width="*" />
                  <col width="110px" />
                  <col width="110px" />
                  <col width="110px" />
                  <col width="110px" />
                  <col width="110px" />
                  <col width="110px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                      <i class="mu-icon right"></i><span title="분석">분석</span>
                    </td>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" id="표시" ng-checked="isTabSelected" />
                        <label for="표시"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <div class="handler-box">
                        <button type="button" class="mu-btn mu-btn-default handler-up" disabled="disabled" title="맨 위">
                          <i class="mu-icon up"></i>
                        </button>
                        <button type="button" class="mu-btn mu-btn-default handler-down" title="아래로">
                          <i class="mu-icon down"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span title="없음">없음</span>
                    </td>
                    <td class="tc">
                      <div class="mu-radio">
                        <input type="radio" id="r0" ng-model="color.name" value="red" />
                        <label for="r0"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        편집
                        <i class="mu-icon down-s"></i>
                      </button>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <span>설정</span>
                      </button>
                    </td>
                  </tr>
                  <tr class="odd open">
                    <td class="tl indent-2">
                      <i class="mu-icon down"></i><i class="mu-icon-img-list indented-item"></i><span title="애플">애플애플
                        (td.indent-2)</span>
                    </td>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" id="표시" ng-checked="isTabSelected" />
                        <label for="표시"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <div class="handler-box">
                        <button type="button" class="mu-btn mu-btn-default handler-up" disabled="disabled" title="맨 위">
                          <i class="mu-icon up"></i>
                        </button>
                        <button type="button" class="mu-btn mu-btn-default handler-down" disabled="disabled"
                          title="맨 아래">
                          <i class="mu-icon down"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span title="없음">없음</span>
                    </td>
                    <td class="tc">
                      <div class="mu-radio">
                        <input type="radio" id="r0" ng-model="color.name" value="red" />
                        <label for="r0"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        편집
                        <i class="mu-icon down-s"></i>
                      </button>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <span class="ng-scope">설정</span>
                      </button>
                    </td>
                  </tr>
                  <tr class="even open">
                    <td colspan="9">
                      <table class="mu-formbox">
                        <colgroup>
                          <col width="120px" />
                        </colgroup>
                        <thead>
                          <tr>
                            <th>서비스</th>
                            <td>데이터 브라우저</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>메뉴 이름</th>
                            <td>
                              <p>한글: 애플</p>
                              <p>영어: Apple</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="tl indent-3">
                      <i class="mu-icon right"></i><i class="mu-icon-img-list indented-item"></i><span title="분석">데이터
                        브라우저 (td.indent-3)</span>
                    </td>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" id="표시" ng-checked="isTabSelected" />
                        <label for="표시"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <div class="handler-box">
                        <button type="button" class="mu-btn mu-btn-default handler-up" title="위로">
                          <i class="mu-icon up"></i>
                        </button>
                        <button type="button" class="mu-btn mu-btn-default handler-down" title="아래">
                          <i class="mu-icon down"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span title="내부">내부</span>
                    </td>
                    <td class="tc">
                      <div class="mu-radio">
                        <input type="radio" id="r0" ng-model="color.name" value="red" />
                        <label for="r0"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        편집
                        <i class="mu-icon down-s"></i>
                      </button>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <span>설정</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="mu-icon right"></i><span title="기타">기타</span>
                    </td>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" id="표시" ng-checked="isTabSelected" />
                        <label for="표시"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <div class="handler-box">
                        <button type="button" class="mu-btn mu-btn-default handler-up" title="위로">
                          <i class="mu-icon up"></i>
                        </button>
                        <button type="button" class="mu-btn mu-btn-default handler-down" title="아래">
                          <i class="mu-icon down"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span title="Studio">Studio</span>
                    </td>
                    <td class="tc">
                      <div class="mu-radio">
                        <input type="radio" id="r0" ng-model="color.name" value="red" />
                        <label for="r0"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        편집
                        <i class="mu-icon down-s"></i>
                      </button>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <span>설정</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="tl indent-2">
                      <i class="mu-icon right"></i><i class="mu-icon-img-list indented-item"></i><span title="분석">분석
                        (td.indent-2)</span>
                    </td>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" id="표시" ng-checked="isTabSelected" />
                        <label for="표시"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <div class="handler-box">
                        <button type="button" class="mu-btn mu-btn-default handler-up" title="위로">
                          <i class="mu-icon up"></i>
                        </button>
                        <button type="button" class="mu-btn mu-btn-default handler-down" title="아래">
                          <i class="mu-icon down"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span title="없음">없음</span>
                    </td>
                    <td></td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        편집
                        <i class="mu-icon down-s"></i>
                      </button>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <span>설정</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td class="tl indent-3">
                      <i class="mu-icon right"></i><i class="mu-icon-img-list indented-item"></i><span title="분석">분석
                        (td.indent-3)</span>
                    </td>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" id="표시" ng-checked="isTabSelected" />
                        <label for="표시"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <div class="handler-box">
                        <button type="button" class="mu-btn mu-btn-default handler-up" title="위로">
                          <i class="mu-icon up"></i>
                        </button>
                        <button type="button" class="mu-btn mu-btn-default handler-down" title="맨 아래"
                          disabled="disabled">
                          <i class="mu-icon down"></i>
                        </button>
                      </div>
                    </td>
                    <td>
                      <span title="없음">없음</span>
                    </td>
                    <td class="tc">
                      <div class="mu-radio">
                        <input type="radio" id="r0" ng-model="color.name" value="red" />
                        <label for="r0"></label>
                      </div>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        편집
                        <i class="mu-icon down-s"></i>
                      </button>
                    </td>
                    <td class="tc">
                      <button type="button" class="mu-btn mu-btn-icon">
                        <span>설정</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- // mu-grid 테이블 -->
        </div>
      </div>
      <!-- tooltip -->
      <div class="mu-tooltip bottom dataField" style="top: 150px; left: 1195px; display: block;">
        <div class="arrow" style="left: 44px;"></div>
        <ul class="mu-popup-menu">
          <li>
            <a href="">이름 변경</a>
          </li>
          <li>
            <a href="">수정</a>
          </li>
          <li>
            <a href="">복제</a>
          </li>
          <li>
            <a href="">삭제</a>
          </li>
        </ul>
      </div>
      <!-- // tooltip -->
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet" />
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/meta.bundle.js"></script>
</body>

</html>