<!DOCTYPE html>
<html lang="ko">

<head>
  <title>IRIS - 회원가입 신청 목록</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="../../dist/css/meta/style.min.css" />
</head>

<body>
  <!-- 회원가입 신청 목록 -->
  <div class="mu-container">
    <section>
      <div class="content-re search-table-content">
        <!-- search-table-head - table의 타이틀, 새로운 항목 작성 버튼 등 포함 -->
        <div class="search-table-head">
          <div class="mu-hgroup fl">
            <!-- 제목 -->
            <h3 class="mu-title">회원가입 신청 목록</h3>
          </div>
        </div>
        <!-- //search-table-head -->
        <!-- search-table-body - table의 툴바와 table 포함 -->
        <div class="search-table-body">
          <!-- 툴바 -->
          <div class="search-table-toolbar">
            <div class="mu-hgroup">
              <div class="mu-input-icon">
                <input class="mu-input" placeholder="검색" type="text" />
                <i class="mu-icon search"></i>
              </div>
              <span> 10개 항목 중 10개 표시 </span>
            </div>
            <!-- 도구 버튼 -->
            <div class="mu-hgroup fr">
              <!-- 새로고침 -->
              <button type="button" class="mu-btn mu-btn-ghost" title="새로고침">
                <i class="mu-icon refresh"></i><span>새로고침</span>
              </button>
              <!-- 모두 수락 -->
              <button type="button" class="mu-btn mu-btn-secondary" title="모두 수락">
                <i class="mu-icon check-circle"></i><span>모두 수락</span>
              </button>
              <!-- 모두 거부 -->
              <button type="button" class="mu-btn mu-btn-danger" title="모두 거부">
                <i class="mu-icon err-circle"></i><span>모두 거부</span>
              </button>
            </div>
            <!-- // 도구 버튼 -->
          </div>
          <!-- //툴바 -->
          <!-- mu-grid 테이블 -->
          <div class="mu-grid-scroll">
            <table class="mu-grid mu-grid-sort mu-grid-border">
              <colgroup>
                <col width="180px" />
                <col width="180px" />
                <col width="180px" />
                <col width="180px" />
                <col width="180px" />
                <col width="*" />
              </colgroup>
              <thead>
                <tr>
                  <th>아이디</th>
                  <th>이름</th>
                  <th>전화번호</th>
                  <th class="none">이메일</th>
                  <th class="none">신청 메시지</th>
                  <th class="none">작업</th>
                </tr>
              </thead>
            </table>
            <div class="mu-scroll-v">
              <table class="mu-grid mu-grid-border mu-grid-strip mu-grid-item">
                <colgroup>
                  <col width="180px" />
                  <col width="180px" />
                  <col width="180px" />
                  <col width="180px" />
                  <col width="180px" />
                  <col width="*" />
                </colgroup>
                <tbody>
                  <tr>
                    <td class="tl">
                      <span title="test">test</span>
                    </td>
                    <td class="tl">
                      <span title="테스트">테스트</span>
                    </td>
                    <td class="tl">
                      <span title="010-2345-6789">010-2345-6789</span>
                    </td>
                    <td class="tl">
                      <span title="test@test.com">test@test.com</span>
                    </td>
                    <td class="tl">
                      <span title="테스트용 계정">테스트용 계정</span>
                    </td>
                    <!-- NOTE: 관리 버튼 그룹 텍스트 정렬을 중앙으로 하는 tc 클래스 필수 -->
                    <td class="tc">
                      <div class="manage-group">
                        <button class="mu-btn mu-btn-link">
                          <i class="mu-icon check-circle"></i><span>수락</span>
                        </button>
                        <span class="division-line"></span>
                        <button class="mu-btn mu-btn-link">
                          <i class="mu-icon err-circle"></i><span>거부</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- // mu-grid 테이블 -->
        </div>
        <!-- //search-table-body -->
      </div>
    </section>
  </div>

  <link href="js/jquery-ui.css" rel="stylesheet" />
  <script src="js/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="../../dist/js/meta.bundle.js"></script>
</body>

</html>