<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../dist/css/styleguide/style.min.css">
  <!-- <link rel="stylesheet" href="../assets/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="../assets/lib/fontawesome-all.css">
  <title>Fontawesome example</title>
</head>
<body>
  <section style="font-size: 20px;">
    <i class="mu-icon search"></i>
    <i class="mu-icon list"></i>
    <i class="mu-icon save"></i>
    <i class="mu-icon add"></i>
    <i class="mu-icon del"></i>
    <i class="mu-icon edit"></i>
    <i class="mu-icon trash"></i>
    <i class="mu-icon cancel"></i>
    <i class="mu-icon logout"></i>
    <i class="mu-icon logout2"></i>
    <i class="mu-icon setting"></i>
    <i class="mu-icon setting2"></i>
    <i class="mu-icon file"></i>
    <i class="mu-icon refresh"></i>
    <i class="mu-icon err"></i>
    <i class="mu-icon err-circle"></i>
    <i class="mu-icon user"></i>
    <i class="mu-icon chart-bar"></i>
    <i class="mu-icon chart-pie"></i>
    <i class="mu-icon chart-line"></i>
    <i class="mu-icon home"></i>
    <i class="mu-icon info"></i>
    <i class="mu-icon up"></i>
    <i class="mu-icon down"></i>
    <i class="mu-icon left"></i>
    <i class="mu-icon right"></i>
    <i class="mu-icon clock"></i>
    <i class="mu-icon bell"></i>
    <i class="mu-icon desktop"></i>
    <i class="mu-icon copyright"></i>
    <i class="mu-icon upload"></i>
    <i class="mu-icon download"></i>
    <i class="mu-icon trash2"></i>
    <i class="mu-icon fileText"></i>
    <i class="mu-icon lock"></i>
    <i class="mu-icon calendar"></i>
    <i class="mu-icon link"></i>
    <i class="mu-icon unlink"></i>
    <i class="mu-icon external-link"></i>
    <i class="mu-icon eye"></i>
    <i class="mu-icon eye-slash"></i>
    <i class="mu-icon check"></i>
    <i class="mu-icon check-circle"></i>
    <i class="mu-icon table"></i>
    <i class="mu-icon undo"></i>
    <i class="mu-icon repeat"></i>
    <i class="mu-icon backward"></i>
    <i class="mu-icon forward"></i>
    <i class="mu-icon play"></i>
    <i class="mu-icon pause"></i>
    <i class="mu-icon stop"></i>
    <i class="mu-icon arrow-right"></i>
    <i class="mu-icon arrow-up"></i>
    <i class="mu-icon arrow-left"></i>
    <i class="mu-icon arrow-down"></i>
    <i class="mu-icon help"></i>
    <i class="mu-icon help-circle"></i>
    <i class="mu-icon volume-down"></i>
    <i class="mu-icon bar"></i>
    <i class="mu-icon exclamation"></i>
    <i class="mu-icon plus-square"></i>
    <i class="mu-icon plus-square2"></i>
    <i class="mu-icon minus-square"></i>
    <i class="mu-icon minus-square2"></i>
    <i class="mu-icon angle-left"></i>
    <i class="mu-icon angle-right"></i>
    <i class="mu-icon ex"></i>
    <i class="mu-icon agSortAsc"></i>
    <i class="mu-icon gSortDesc"></i>
    <i class="mu-icon agNoSort"></i>
    <i class="mu-icon status"></i>
    <i class="mu-icon statistics"></i>
    <i class="mu-icon chart-bar"></i>
    <i class="mu-icon dbBrowser"></i>
    <i class="mu-icon manage"></i>
    <i class="mu-icon cogs"></i>
    <i class="mu-icon angle-right"></i>
    <i class="mu-icon down"></i>
    <i class="mu-icon up"></i>
    <i class="mu-icon angle-double-left"></i>
    <i class="mu-icon angle-double-right"></i>
    <i class="mu-icon bookmark"></i>
    <i class="mu-icon double-left"></i>
    <i class="mu-icon compress"></i>
    <i class="mu-icon more"></i>
    <i class="mu-icon question-circle"></i>
    <i class="mu-icon player"></i>
    <i class="mu-icon caret-down"></i>
    <i class="mu-icon caret-up"></i>
    <i class="mu-icon share"></i>
    <i class="mu-icon repeat"></i>
    <i class="mu-icon chart-play"></i>
    <i class="mu-icon chart-pause"></i>
    <i class="mu-icon chart-resume"></i>
    <i class="mu-icon chart-stop"></i>
    <i class="mu-icon long-arrow-right"></i>
    <i class="mu-icon flag"></i>
    <i class="mu-icon help-circle-re"></i>
    <i class="mu-icon arrow-alt"></i>
    <i class="mu-icon objects"></i>
    <i class="mu-icon lang"></i>
    <i class="mu-icon globe"></i>
    <i class="mu-icon dropdown"></i>
    <i class="mu-icon arrow-circle-right"></i>
    <i class="mu-icon question-circle-o"></i>
    <i class="mu-icon question-circle"></i>
    <i class="mu-icon toggle-on"></i>
    <i class="mu-icon toggle-off"></i>
    <i class="mu-icon plus"></i>
    <i class="mu-icon check"></i>
    <i class="mu-icon ellipsis-v"></i>
    <i class="mu-icon align-center"></i>
    <i class="mu-icon align-left"></i>
    <i class="mu-icon align-right"></i>
    <i class="mu-icon align-justify"></i>
    <i class="mu-icon bold"></i>
    <i class="mu-icon underline"></i>
    <i class="mu-icon italic"></i>
    <i class="mu-icon strickthrough"></i>
    <i class="mu-icon more-down"></i>
    <i class="mu-icon more-up"></i>
    <i class="fa fa-bicycle"></i>
    <i class="fa fa-bible"></i>
    <i class="fa fa-boxes"></i>
    <i class="fa fa-braille"></i>
    <i class="fa fa-business-time"></i>
  </section>
  <script src="../dist/js/styleguide.bundle.js"></script>
</body>
</html>