<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NMS+ | 트리뷰 범위 항목</title>
    <link rel="stylesheet" href="../../../dist/css/nms-plus-sherman/style.min.css">
  </head>

  <body>
    <div class="mu-container">
      <section>
        <div class="content-re h-full">
          <div class="mu-treeMenu">
            <ul>
              <span class="mu-title">Root</span>
              <li class="collapsable">
                <div class="mu-hitarea"></div>
                <span>IDC_FS18_B1</span>
                <ul>
                  <!-- li에 d-flex 클래스를 추가해주세요 -->
                  <li class="d-flex">
                    <span class="range-item-title">예제1</span>
                    <div class="range-item-wrap">
                      <div class="range-item rag-level0">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value"
                            >12345678.90123</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level1">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value"
                            >12345678.90123</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level2">
                        <div class="range-item-icon">U</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">12</span>
                        </div>
                      </div>
                      <div class="range-item rag-level3">
                        <div class="range-item-icon">
                          <i class="mu-icon check"></i>
                        </div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">123</span>
                        </div>
                      </div>
                      <div class="range-item rag-level4">
                        <div class="range-item-icon">
                          <i class="mu-icon err"></i>
                        </div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">1234</span>
                        </div>
                      </div>
                      <div class="range-item rag-level5">
                        <div class="range-item-icon">
                          <i class="mu-icon pause"></i>
                        </div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">12345678.90</span>
                        </div>
                      </div>
                      <div class="range-item rag-level6">
                        <div class="range-item-icon">
                          U
                        </div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value"
                            >12345678.901</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level7">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value"
                            >12345678.9012</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level8">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value">0</span>
                        </div>
                      </div>
                      <div class="range-item rag-level9">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">110</span>
                        </div>
                      </div>
                      <div class="range-item rag-level9 above">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">220</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="d-flex">
                    <span class="range-item-title">예제3</span>
                    <div class="range-item-wrap">
                      <div class="range-item rag-level1">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value"
                            >12345678.90123</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level2">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">12</span>
                        </div>
                      </div>
                      <div class="range-item rag-level3">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">123</span>
                        </div>
                      </div>
                      <div class="range-item rag-level4">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">1234</span>
                        </div>
                      </div>
                      <div class="range-item rag-level5">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">12345678.90</span>
                        </div>
                      </div>
                      <div class="range-item rag-level6">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value"
                            >12345678.901</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level7">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value"
                            >12345678.9012</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level8">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value">0</span>
                        </div>
                      </div>
                      <div class="range-item rag-level9">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">110</span>
                        </div>
                      </div>
                      <div class="range-item rag-level9 above">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">220</span>
                        </div>
                      </div>
                      <div class="range-item rag-level1">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value"
                            >12345678.90123</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level2">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">12</span>
                        </div>
                      </div>
                      <div class="range-item rag-level3">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">123</span>
                        </div>
                      </div>
                      <div class="range-item rag-level4">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">1234</span>
                        </div>
                      </div>
                      <div class="range-item rag-level5">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">12345678.90</span>
                        </div>
                      </div>
                      <div class="range-item rag-level6">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value"
                            >12345678.901</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level7">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value"
                            >12345678.9012</span
                          >
                        </div>
                      </div>
                      <div class="range-item rag-level8">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term"
                            >IN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN BPSIN
                            BPSIN BPS</span
                          >
                          <span class="range-item-text-value">0</span>
                        </div>
                      </div>
                      <div class="range-item rag-level9">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">110</span>
                        </div>
                      </div>
                      <div class="range-item rag-level9 above">
                        <div class="range-item-icon">W</div>
                        <div class="range-item-text">
                          <span class="range-item-text-term">IN BPS</span>
                          <span class="range-item-text-value">220</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="expandable">
                <div class="mu-hitarea"></div>
                <span
                  >IDC_FS18_B1<button
                    type="button"
                    class="mu-btn-xs mu-btn-icon mu-btn-bg-non"
                  >
                    <i class="mu-icon cancel"></i></button
                ></span>
                <ul>
                  <li>
                    <span
                      >Sub Tree1<button
                        type="button"
                        class="mu-btn-xs mu-btn-icon mu-btn-bg-non"
                      >
                        <i class="mu-icon cancel"></i></button
                    ></span>
                  </li>
                </ul>
              </li>
              <li>
                <span
                  >IDC_FS18_B1<button
                    type="button"
                    class="mu-btn-xs mu-btn-icon mu-btn-bg-non"
                  >
                    <i class="mu-icon cancel"></i></button
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <script src="../../../dist/js/nms-plus-sherman.bundle.js"></script>
  </body>
</html>
