<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NMS+ | 임계치 설정</title>
  <link rel="stylesheet" href="../../../dist/css/nms-plus-sherman/style.min.css">
</head>

<!-- NOTE: 스튜디오 객체의 사이즈에 따라 유동적으로 사이즈가 변하도록 min-width를 제거했습니다. -->

<body>
  <div class="mu-container">
    <section>
      <div class="content-re" style="padding: 20px;">
        <!-- 1. 기본 정보 -->
        <div class="mui-form">
          <div class="mui-form-head">
            <span class="mui-form-head-text">기본 정보</span>
          </div>
          <div class="mui-form-body">
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-2"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-4">
                <div class="mu-item-group">
                  <input type="text" class="mu-input" placeholder="ID">
                  <button type="button" class="mu-btn mu-btn-primary"><i class="mu-icon search"></i><span>검색</span></button>
                </div>
              </div>
              <div class="mui-form-item-label mu-col-2"><label>장비 그룹 :</label></div>
              <div class="mui-form-item-cont mu-col-4">
                <div class="mu-selectbox">
                  <button class="mu-value">사용</button>
                  <ul class="mu-list">
                    <li value="사용" class="active">사용</li>
                    <li value="미사용">미사용</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-2"><span class="asterisk">*</span><label>알람 ID :</label></div>
              <div class="mui-form-item-cont mu-col-4">
                <input type="text" class="mu-input" placeholder="알람 ID">
              </div>
              <div class="mui-form-item-label mu-col-2"><span class="asterisk">*</span><label>알람명 :</label></div>
              <div class="mui-form-item-cont mu-col-4">
                <input type="text" class="mu-input" placeholder="알람명" value="CPU 초과 알람">
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-2"><span class="asterisk">*</span><label>알람 MSG :</label></div>
              <div class="mui-form-item-cont mu-col-10">
                <input type="text" class="mu-input" placeholder="알람 MSG">
              </div>
            </div>
          </div>
        </div>
        <!-- 2. 감시 대상 -->
        <div class="mui-form">
          <div class="mui-form-head">
            <span class="mui-form-head-text">감시 대상</span>
            <button class="mu-btn mu-btn-default ml5" type="button">
              <i class="iriscon add"></i>
              <span>선택</span>
            </button>
            <div class="mui-message warning ml10">
              <i class="mu-icon exclamation"></i> <span class="mui-message-text">필수</span>
            </div>
          </div>
          <div class="mui-form-body">
            <!-- 감시 대상 선택 전 -->
            <div class="whatch-list-wrap">
              <div class="whatch-list">
                <div class="mui-message mui-message-inline info">
                  <i class="mu-icon info"></i><span class="mui-message-text">감시 대상 정보를 선택해주세요</span>
                </div>
              </div>
            </div>
            <!-- //감시 대상 선택 전 -->
            <!-- 감시 대상 선택 후 -->
            <div class="whatch-list-wrap">
              <div class="whatch-list">
                <span class="whatch-list-item">장비 그룹</span>
                <span class="whatch-list-item">LB_AS_SWITCH 10</span>
                <span class="whatch-list-item">인터페이스명 외 몇 건</span>
              </div>
            </div>
            <!-- //감시 대상 선택 후 -->
          </div>
        </div>
        <!-- 3. 임계치 -->
        <div class="mui-form">
          <div class="mui-form-head">
            <span class="mui-form-head-text">임계치</span>
            <div class="mui-message warning ml10">
              <i class="mu-icon exclamation"></i> <span class="mui-message-text">필수</span>
            </div>
          </div>
          <div class="mui-form-body">
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-2"><span class="asterisk">*</span><label>임계치:</label></div>
              <div class="mui-form-item-cont mu-col-10">
                <div class="mu-hgroup d-flex">
                  <input type="text" class="mu-input" placeholder="" value="90">
                  <div class="mu-selectbox">
                    <button class="mu-value">초과</button>
                    <ul class="mu-list">
                      <li value="초과" class="active">초과</li>
                      <li value="미만">미만</li>
                      <li value="=">=</li>
                    </ul>
                  </div>
                  <div class="mu-selectbox">
                    <button class="mu-value">1</button>
                    <ul class="mu-list">
                      <li value="1" class="active">1</li>
                      <li value="list-item">list-item</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 4. APP 정보 -->
        <div class="mui-form">
          <div class="mui-form-head">
            <span class="mui-form-head-text">APP 정보</span>
            <button class="mu-btn mu-btn-default ml5" type="button">
              <i class="iriscon add"></i>
              <span>선택</span>
            </button>
          </div>
          <div class="mui-form-body">
            <div class="whatch-list-wrap">
              <div class="whatch-list">
                <span class="whatch-list-item">
                  장비별 CPU 사용율 APP
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="../../../dist/js/nms-plus-sherman.bundle.js"></script>
</body>

</html>