<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NMS+ | App 매핑 관리</title>
  <link rel="stylesheet" href="../../../dist/css/nms-plus-sherman/style.min.css">
</head>

<!-- NOTE: 스튜디오 객체의 사이즈에 따라 유동적으로 사이즈가 변하도록 min-width를 제거했습니다. -->

<body>
  <div class="mu-container">
    <section>
      <div class="content-re search-table-content has-filter-wrap h-full">
        <!-- 좌측 -->
        <div class="search-table-filter-wrap mu-col mu-col-4">
          <div class="search-table-head">
            <h3 class="mu-title">Select App</h3>
          </div>
          <div class="search-table-body">
            <!-- ag-grid inline-style은 height만 적용해주세요 -->
            <div class="ag-grid-theme" style="height: 100%; overflow: auto;">
              <!-- NOTE: 예제로 추가한 임시 mu-grid -->
              <table class="mu-grid">
                <colgroup>
                  <col width="80">
                  <col width="150">
                  <col width="150">
                </colgroup>
                <thead>
                  <tr>
                    <th>APP No</th>
                    <th>APP 명</th>
                    <th>APP 종류</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="selected">
                    <td class="tl">00001</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00002</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00003</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00004</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00005</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00006</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00007</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00008</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00009</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                  <tr>
                    <td class="tl">00010</td>
                    <td class="tl">Port 상태</td>
                    <td class="tl"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //ag-grid -->
          </div>
        </div>
        <!-- 우측 -->
        <div class="search-table-result-wrap">
          <div class="search-table-head">
            <h3 class="mu-title">Connected App</h3>
          </div>
          <div class="search-table-body">
            <div class="search-table-toolbar">
              <div class="mu-col mu-col-2">
                <div class="mu-radio">
                  <input name="radio1" type="radio" id="r0" checked="checked">
                  <label for="r0">고정 App</label>
                </div>
              </div>
              <div class="mu-col mu-col-2">
                <div class="mu-radio">
                  <input name="radio1" type="radio" id="r1">
                  <label for="r1">동적 App</label>
                </div>
              </div>
              <div class="mu-col mu-col-8 tr">
                <button class="mu-btn mu-btn-primary" type="button">
                  <span>저장</span>
                </button>
              </div>
            </div>
            <!-- ag-grid inline-style은 height만 적용해주세요 -->
            <div class="ag-theme-default" style="height: calc(100% - 32px); overflow: auto;">
              <!-- NOTE: 예제로 추가한 임시 mu-grid -->
              <table class="mu-grid">
                <colgroup>
                  <col width="50">
                  <col width="150">
                  <col width="150">
                  <col width="150">
                  <col width="250">
                  <col width="80">
                </colgroup>
                <thead>
                  <tr>
                    <th>
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </th>
                    <th>APP No</th>
                    <th>APP 명</th>
                    <th>APP 종류</th>
                    <th>Description</th>
                    <th>우선순위</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">00001</td>
                    <td class="tl">Port 상태</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">00002</td>
                    <td class="tl">CPU 상태</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">00003</td>
                    <td class="tl">Memory 사용률</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <!-- NOTE: 선택된 row에 selected 클래스 추가 -->
                  <tr class="selected">
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all" checked>
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">00004</td>
                    <td class="tl">Port 상태 최근 1분</td>
                    <td></td>
                    <td></td>
                    <td class="tc">
                      <div class="mui-input-number"><input type="number" max="" min="0" step="1" class="mui-input-number-input"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- //ag-grid -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="../../../dist/js/nms-plus-sherman.bundle.js"></script>
</body>

</html>