<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NMS+ | Popup</title>
  <link rel="stylesheet" href="../../../dist/css/nms-plus-sherman/style.min.css">
</head>

<body>
  <!-- 성능 정보 등록: PING -->
  <div class="mu-dialog" style="top: 30px; left: 10px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="./nmsp_popup_add-perform-info-1ping.html" target="_blank">성능 정보 등록 - PING</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 480px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div style="width: 480px; max-height:;">
        <div class="mui-form">
          <div class="mui-form-body">
            <!-- NOTE: 요청 고객 ID는 세개의 타입으로 작업했습니다. 세 타입중 적합한 유형으로 구현해주세요. -->
            <!-- 요청 고객 ID type 1 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-item-group">
                  <input type="text" class="mu-input" placeholder="ID">
                  <button type="button" class="mu-btn mu-btn-primary"><i class="mu-icon search"></i><span>검색</span></button>
                </div>
              </div>
            </div>
            <!-- //요청 고객 ID type 1 -->
            <!-- 요청 고객 ID type 2 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-list-wrap">
                  <div class="mu-list-header-box">
                    <div class="mu-list-header">
                      <div class="mu-input-icon">
                        <input type="text" class="mu-input" placeholder="search">
                        <i class="mu-icon search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mu-list-box" style="max-height: 130px;">
                    <ul class="mu-list">
                      <li class="mu-list-item">
                        <span>list-item 1</span>
                      </li>
                      <li class="mu-list-item">
                        <span>list-item 2</span>
                      </li>
                      <li class="mu-list-item">
                        <span>list-item 3</span>
                      </li>
                      <li class="mu-list-item is-selected">
                        <span>list-item 4 is-selected</span>
                      </li>
                      <li class="mu-list-item">
                        <span>list-item 5</span>
                      </li>
                      <li class="mu-list-item">
                        <span>list-item 6</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- //요청 고객 ID type 2 -->
            <!-- 요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox with-input on">
                  <button class="mu-btn-icon">
                  </button>
                  <input type="text" class="mu-value" value="list-item02 combobox">
                  <ul class="mu-list">
                    <li class="active">list-item 01</li>
                    <li>list-item 02 <span class="highlight">combobox</span></li>
                    <li>list-item 03</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- //요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>실행여부 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-checkbox">
                  <input type="checkbox" id="" checked>
                  <label for=""></label>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>수집 항목 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox">
                  <button class="mu-value width200">PING</button>
                  <ul class="mu-list">
                    <li value="PING" class="active">PING</li>
                    <li value="TRACERT">TRACERT</li>
                    <li value="HTTP">HTTP</li>
                    <li value="DNS">DNS</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>수집 정보 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="수집 정보" value="203.45.123.5">
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>Count :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="Count">
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>Interval(sec) :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="Interval(sec)">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex p10">
          <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
          <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //성능 정보 등록: PING -->

  <!-- 성능 정보 등록: TRACERT -->
  <div class="mu-dialog" style="top: 30px; left: 510px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="./nmsp_popup_add-perform-info-2tracert.html" target="_blank">성능 정보 등록 - TRACERT</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 480px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div style="width: 480px; max-height:;">
        <div class="mui-form">
          <div class="mui-form-body">
            <!-- 요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox with-input">
                  <button class="mu-btn-icon">
                  </button>
                  <input type="text" class="mu-value" value="list-item02 combobox">
                  <ul class="mu-list">
                    <li class="active">list-item 01</li>
                    <li>list-item 02 <span class="highlight">combobox</span></li>
                    <li>list-item 03</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- //요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>실행여부 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-checkbox">
                  <input type="checkbox" id="" checked>
                  <label for=""></label>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>수집 항목 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox">
                  <button class="mu-value width200">TRACERT</button>
                  <ul class="mu-list">
                    <li value="PING">PING</li>
                    <li value="TRACERT" class="active">TRACERT</li>
                    <li value="HTTP">HTTP</li>
                    <li value="DNS">DNS</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>수집 정보 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="수집 정보" value="203.45.123.5">
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>Waittime(sec) :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="Waittime(sec)">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex p10">
          <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
          <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //성능 정보 등록: TRACERT -->

  <!-- 성능 정보 등록: HTTP -->
  <div class="mu-dialog" style="top: 610px; left: 10px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="./nmsp_popup_add-perform-info-3http.html" target="_blank">성능 정보 등록 - HTTP</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 480px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div style="width: 480px; max-height:;">
        <div class="mui-form">
          <div class="mui-form-body">
            <!-- 요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox with-input">
                  <button class="mu-btn-icon">
                  </button>
                  <input type="text" class="mu-value" value="list-item02 combobox">
                  <ul class="mu-list">
                    <li class="active">list-item 01</li>
                    <li>list-item 02 <span class="highlight">combobox</span></li>
                    <li>list-item 03</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- //요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>실행여부 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-checkbox">
                  <input type="checkbox" id="" checked>
                  <label for=""></label>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>수집 항목 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox">
                  <button class="mu-value width200">HTTP</button>
                  <ul class="mu-list">
                    <li value="PING">PING</li>
                    <li value="TRACERT">TRACERT</li>
                    <li value="PING" class="active">HTTP</li>
                    <li value="DNS">DNS</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>Method :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox">
                  <button class="mu-value width200">GET | POST |</button>
                  <ul class="mu-list">
                    <li value="GET | POST |" class="active">GET | POST |</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><span class="asterisk">*</span><label>Request URL :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="Request URL">
              </div>
            </div>
            <div class="mui-form-item has-dynamic-form">
              <ul class="dynamic-form">
                <li class="dynamic-form-item">
                  <div class="mu-item-box">
                    <div class="mui-inner-form-item">
                      <div class="mui-inner-form-item-label mu-col-2"><label>Param</label></div>
                      <div class="mui-inner-form-item-cont mu-col-10"><input type="text" class="mu-input"></div>
                    </div>
                    <div class="mui-inner-form-item">
                      <div class="mui-inner-form-item-label mu-col-2"><label>Value</label></div>
                      <div class="mui-inner-form-item-cont mu-col-10"><input type="text" class="mu-input"></div>
                    </div>
                  </div>
                  <div class="btn-delete-box">
                    <div class="add-del-group">
                      <!-- 첫번 째 아이템의 삭제 버튼은 disabled 처리 -->
                      <button type="button" class="mu-btn mu-btn-danger" disabled><i class="iriscon delete"></i></button>
                      <button type="button" class="mu-btn mu-btn-default"><i class="iriscon add"></i></button>
                    </div>
                  </div>
                </li>
                <li class="dynamic-form-item">
                  <div class="mu-item-box">
                    <div class="mui-inner-form-item">
                      <div class="mui-inner-form-item-label mu-col-2"><label>Param</label></div>
                      <div class="mui-inner-form-item-cont mu-col-10"><input type="text" class="mu-input"></div>
                    </div>
                    <div class="mui-inner-form-item">
                      <div class="mui-inner-form-item-label mu-col-2"><label>Value</label></div>
                      <div class="mui-inner-form-item-cont mu-col-10"><input type="text" class="mu-input"></div>
                    </div>
                  </div>
                  <div class="btn-delete-box">
                    <div class="add-del-group">
                      <button type="button" class="mu-btn mu-btn-danger"><i class="iriscon delete"></i></button>
                      <button type="button" class="mu-btn mu-btn-default"><i class="iriscon add"></i></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex p10">
          <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
          <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //성능 정보 등록: HTTP -->

  <!-- 성능 정보 등록: DNS -->
  <div class="mu-dialog" style="top: 610px; left: 510px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="./nmsp_popup_add-perform-info-4dns.html" target="_blank">성능 정보 등록 - DNS</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 480px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div style="width: 480px; max-height:;">
        <div class="mui-form">
          <div class="mui-form-body">
            <!-- 요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>요청 고객 ID :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox with-input">
                  <button class="mu-btn-icon">
                  </button>
                  <input type="text" class="mu-value" value="list-item02 combobox">
                  <ul class="mu-list">
                    <li class="active">list-item 01</li>
                    <li>list-item 02 <span class="highlight">combobox</span></li>
                    <li>list-item 03</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- //요청 고객 ID type 3 -->
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>실행여부 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-checkbox">
                  <input type="checkbox" id="" checked>
                  <label for=""></label>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>수집 항목 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <div class="mu-selectbox">
                  <button class="mu-value width200">HTTP</button>
                  <ul class="mu-list">
                    <li value="PING">PING</li>
                    <li value="TRACERT">TRACERT</li>
                    <li value="PING" class="active">HTTP</li>
                    <li value="DNS">DNS</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>DNS 서버 :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="http://">
              </div>
            </div>
            <div class="mui-form-item">
              <div class="mui-form-item-label mu-col-3"><label>DNS URL :</label></div>
              <div class="mui-form-item-cont mu-col-9">
                <input type="text" class="mu-input" placeholder="http://">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex p10">
          <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
          <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //성능 정보 등록: DNS -->

  <!-- 임계치 설정 > 감시 대상 선택 - mui-form -->
  <div class="mu-dialog" style="top: 1140px; left: 10px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="nmsp_popup_setting_item_1form-type.html" target="_blank">감시 대상 선택</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 950px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div class="d-flex" style="width: 950px; max-height:;">
        <ul class="mui-tab">
          <li class="mui-tab-item is-active">장비 그룹</li>
          <li class="mui-tab-item">장비</li>
          <li class="mui-tab-item">장비 > 인터페이스</li>
        </ul>
        <div class="mui-tab-cont">
          <div class="mui-form">
            <div class="mui-form-body">
              <div class="mui-form-item">
                <div class="mui-form-item-label mu-col-2"><label>장비 그룹 :</label></div>
                <div class="mui-form-item-cont mu-col-10">
                  <div class="mu-selectbox">
                    <button class="mu-value width200">사용</button>
                    <ul class="mu-list">
                      <li value="사용" class="active">사용</li>
                      <li value="미사용">미사용</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex p10">
              <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
              <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //임계치 설정 > 감시 대상 선택 - mui-form -->

  <!-- 임계치 설정 > 감시 대상 선택 - search-table-content -->
  <div class="mu-dialog" style="top: 1460px; left: 10px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="nmsp_popup_setting_item_2table-type.html" target="_blank">감시 대상 선택</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 950px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div class="d-flex" style="width: 950px; max-height:;">
        <ul class="mui-tab">
          <li class="mui-tab-item">장비 그룹</li>
          <li class="mui-tab-item is-active">장비</li>
          <li class="mui-tab-item">장비 > 인터페이스</li>
        </ul>
        <div class="mui-tab-cont">
          <div class="search-table-content">
            <div class="mu-search-group mu-more-item">
              <div class="mu-search-item">
                <table>
                  <tbody>
                    <tr>
                      <th>장비명 :</th>
                      <td colspan="3"><input type="text" class="mu-input" placeholder="장비명"></td>
                      <th>IP :</th>
                      <td colspan="3"><input type="text" class="mu-input" placeholder="IP"></td>
                    </tr>
                    <tr>
                      <th>센터 :</th>
                      <td>
                        <div class="mu-selectbox">
                          <button class="mu-value">list default</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </td>
                      <th>ZONE :</th>
                      <td>
                        <div class="mu-selectbox">
                          <button class="mu-value">list default</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </td>
                      <th>제조사 :</th>
                      <td>
                        <div class="mu-selectbox">
                          <button class="mu-value">list default</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </td>
                      <th>장비모델 :</th>
                      <td>
                        <div class="mu-selectbox">
                          <button class="mu-value">list default</button>
                          <ul class="mu-list">
                            <li value="1">list option1</li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mu-search-btn">
                <button type="button" class="mu-btn mu-btn-md mu-btn-secondary"><i class="mu-icon search"></i><span>조회</span></button>
              </div>
            </div>
            <div class="ag-theme-default" style="max-height: 400px;">
              <!-- NOTE: 예제로 추가한 임시 mu-grid -->
              <table class="mu-grid">
                <colgroup>
                  <col width="50">
                  <col width="80">
                  <col width="150">
                  <col width="150">
                  <col width="80">
                  <col width="80">
                  <col width="150">
                  <col width="80">
                </colgroup>
                <thead>
                  <tr>
                    <th>
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </th>
                    <th>장비명</th>
                    <th>IP</th>
                    <th>센터</th>
                    <th>ZONE</th>
                    <th>제조사</th>
                    <th>장비모델</th>
                    <th>등록일시</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">OAMa</td>
                    <td class="tl">xxx.xxx.xxx.xxx</td>
                    <td>일산 3센터</td>
                    <td>1F</td>
                    <td>CISCO</td>
                    <td>NET_STD_LAN</td>
                    <td>YYYY/MM/DD</td>
                  </tr>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">OAMa</td>
                    <td class="tl">xxx.xxx.xxx.xxx</td>
                    <td>일산 3센터</td>
                    <td>1F</td>
                    <td>CISCO</td>
                    <td>NET_STD_LAN</td>
                    <td>YYYY/MM/DD</td>
                  </tr>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">OAMa</td>
                    <td class="tl">xxx.xxx.xxx.xxx</td>
                    <td>일산 3센터</td>
                    <td>1F</td>
                    <td>CISCO</td>
                    <td>NET_STD_LAN</td>
                    <td>YYYY/MM/DD</td>
                  </tr>
                  <tr>
                    <td class="tc">
                      <div class="mu-checkbox">
                        <input type="checkbox" name="ckb-all" id="ckb-all">
                        <label for="ckb-all"></label>
                      </div>
                    </td>
                    <td class="tl">OAMa</td>
                    <td class="tl">xxx.xxx.xxx.xxx</td>
                    <td>일산 3센터</td>
                    <td>1F</td>
                    <td>CISCO</td>
                    <td>NET_STD_LAN</td>
                    <td>YYYY/MM/DD</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex p10">
              <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
              <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
            </div>

          </div>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //임계치 설정 > 감시 대상 선택 - search-table-content-->

  <!-- 임계치 설정 > APP 선택 -->
  <div class="mu-dialog" style="top: 1860px; left: 10px;">
    <div class="mu-dialog-head">
      <span class="title"><a href="nmsp_popup_setting_app.html" target="_blank">APP 선택</a></span>
      <button type="button" class="mu-btn mu-btn-icon"><i class="mu-icon cancel"></i></button>
    </div>
    <div class="mu-dialog-body">
      <!-- 스튜디오 내부에 URL import로 불러들일 영역 -->
      <!-- NOTE: 팝업 권장 width: 950px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
      <div class="d-flex" style="width: 950px; max-height:;">
        <div class="mui-tab-cont">
          <div class="search-table-content">
            <div class="mu-search-group">
              <div class="mu-search-item">
                <table>
                  <tbody>
                    <tr>
                      <th>APP 명:</th>
                      <td><input type="text" class="mu-input" placeholder="APP 명"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mu-search-btn">
                <button type="button" class="mu-btn mu-btn-md mu-btn-secondary"><i class="mu-icon search"></i><span>조회</span></button>
              </div>
            </div>
            <div class="ag-theme-default" style="max-height: 400px;">
              <!-- NOTE: 예제로 추가한 임시 mu-grid -->
              <table class="mu-grid">
                <colgroup>
                  <col width="50">
                  <col width="100">
                  <col width="100">
                </colgroup>
                <thead>
                  <tr>
                    <th>APP No</th>
                    <th>APP 명</th>
                    <th>소유자</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>00001</td>
                    <td>Port 상태</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex p10">
              <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
              <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
            </div>

          </div>
        </div>
      </div>
      <!-- //스튜디오 내부에 URL import로 불러들일 영역 -->
    </div>
  </div>
  <!-- //임계치 설정 > APP 선택 -->
  <script src="../../../dist/js/nms-plus-sherman.bundle.js"></script>
</body>

</html>