<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NMS+ | Popup - APP 선택</title>
  <link rel="stylesheet" href="../../../dist/css/nms-plus-sherman/style.min.css">
</head>

<body>
  <!-- NOTE: 팝업 권장 width: 950px, max-height는 팝업 캔버스의 사이즈에 맞춰 입력해주세요! -->
  <div class="d-flex">
    <div class="mui-tab-cont">
      <div class="search-table-content">
        <div class="mu-search-group">
          <div class="mu-search-item">
            <table>
              <tbody>
                <tr>
                  <th>APP 명:</th>
                  <td><input type="text" class="mu-input" placeholder="APP 명"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mu-search-btn">
            <button type="button" class="mu-btn mu-btn-md mu-btn-secondary"><i class="mu-icon search"></i><span>조회</span></button>
          </div>
        </div>
        <div class="ag-theme-default" style="max-height: 400px;">
          <!-- NOTE: 예제로 추가한 임시 mu-grid -->
          <table class="mu-grid">
            <colgroup>
              <col width="50">
              <col width="100">
              <col width="100">
            </colgroup>
            <thead>
              <tr>
                <th>APP No</th>
                <th>APP 명</th>
                <th>소유자</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00001</td>
                <td>Port 상태</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex p10">
          <button type="button" class="mu-btn mu-btn-md mu-btn-default">취소</button>
          <button type="button" class="mu-btn mu-btn-md mu-btn-primary ml-auto">저장</button>
        </div>

      </div>
    </div>
  </div>
  <script src="../../../dist/js/nms-plus-sherman.bundle.js"></script>
</body>