@import "../colors";

// Color Theme Variables
$ui-01: $white-0;
$ui-02: $gray-10;
$ui-03: $gray-20;
$ui-04: #d9d5ce;
$ui-05: #f3efe9; // fill 용도
$ui-06: #fbf9f4;
$ui-07: #627688; // 추가
$ui-08: #3a4d5e; // 추가
$interactive-01: #ffae20;
$interactive-02: $white-0;
$brand-02: #f7921e;
$brand-03: #ca6f15;
$text-01: $gray-100; // default
$text-02: #71665a; // sub color (아이콘 등)
$text-03: #ab9c83; // 각종 아이콘 버튼
$text-04: $white-0;
$text-05: $navy-gray-30;
$link: $cyan-50;
$icon-01: $cool-gray-70;
$icon-02: $navy-gray-40;
$icon-03: #ffce93;
$field-01: $white-0;
$overlay-01: rgba($gray-20, 0.5);

// Global
$input-label-weight: 600;

// Support Color Variables
$support-01: $green-40;
$support-02: $cyan-50;
$support-03: $orange-60;
$support-04: $red-50;

// Interactive Color Variables
$hover-primary: darken($interactive-01, 5%);
$hover-secondary: $gray-10;
$hover-icon: $navy-gray-60;
$hover-danger: darken($support-04, 10%);
$hover-ui: $gray-10;
$hover-ui-accent: #fff3e3; // hover등에 사용
$hover-row: #ffefe3;
$hover-field-border: $gold-50;

$active-primary: $gold-70;
$active-secondary: $gray-20;
$active-icon: $navy-gray-60;
$active-danger: $red-70;
$active-ui: #e5e8ef;
$active-ui-accent: $gold-20;

$selected-ui-accent: $gold-20;
$visited-link: $purple-60;
$disabled-01: $gray-10;
$disabled-02: $gray-30;

// -------------------------
//  TODO: 검토 후 제거할 항목들
// Support Colors Variables
$status-success-symbol: $green-41;
$status-success-close: $green-31;
$status-success-border: $green-21;
$status-success-bg: $green-11;
$status-info-symbol: $blue-42;
$status-info-close: $blue-32;
$status-info-border: $blue-22;
$status-info-bg: $blue-10;
$status-warning-symbol: $orange-41;
$status-warning-close: $orange-31;
$status-warning-border: $orange-21;
$status-warning-bg: $orange-11;
$status-danger-symbol: $red-41;
$status-danger-close: $red-31;
$status-danger-border: $red-21;
$status-danger-bg: $red-11;

// Code Snippet
$snippet-background-color: $ui-01;
$snippet-border-color: $ui-04;

// TODO: IRIS Web Platform의 네비게이션이 적용되면 제거
$nav-01: $brand-02; // nav-main-bg
$nav-02: #b0c3d4; // nav-main-icon-btn
$nav-03: #c5cdd4; // nav-main-icon-btn-inverse
$nav-04: $gray-10; // nav-sub-bg
$nav-05: $warm-gray-50; // nav-sub-icon-btn
$nav-06: $warm-gray-30; // nav-sub-icon-btn-inverse
$nav-07: $white-0; // nav-dropdown-bg
$nav-08: $orange-10; // nav-dropdown-active-border
$nav-09: $orange-11; // nav-dropdown-active-bg
$nav-10: $interactive-01; // nav-point-color(under-line, active...)
$nav-11: $yellow-50; // menu-path-color
// -------------------------
