// NOTE: 로그인 페이지 로고 수정
.loginWrap .solution-logo {
  width: 300px;
}

// NOTE: 네비게이션 간격 조정
.bx-menu .mn-1dep {
  width: 160px;
  padding: 8px 0 8px 12px;
}

.bx-menu .mn-1dep span:last-child {
  letter-spacing: -0.45px;
}

.bx-menu .mn-2dep {
  width: calc(100% - 160px);
  padding: 8px 14px;
  line-height: 22px;
}

.bx-menu .mn-2dep > li {
  min-width: 140px;
  margin-right: 30px;
}

.bx-menu .mn-2dep > li:last-child {
  margin: 0;
}

.bx-menu .mn-2dep > li + li {
  margin-left: 0;
}

.bx-menu .mn-2dep > li > span,
.bx-menu .mn-2dep > li > strong {
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: -0.35px;
}

.bx-menu .mn-3dep {
  margin-top: 0;
  line-height: 12px;
}

#menu-button-group > li {
  padding: 0 12px;
}

#menu-button-group > li span {
  letter-spacing: -0.35px;
}
