<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../dist/css/brick/style.min.css">
  <title>IRIS</title>
</head>
<body>
  <div class="error-page">
    <div class="mu-boxWrap">
      <div class="mu-boxCell">
        <div class="error-img"></div>
        <!-- 에러 코드 -->
        <!-- <div class="error-num">
          403
        </div> -->
        <!-- //에러 코드 -->
        <!-- 에러 메시지 -->
        <div class="error-msg">
          여기에 에러 메시지를 입력해주세요!
        </div>
        <!-- //에러 메시지 -->
      </div>
    </div>
  </div>
  <script src="../../dist/js/brick.bundle.js"></script>
</body>
</html>