<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../dist/css/brick/style.min.css">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="loginWrap">
      <img src="../../dist/images/login/logo_company.png" alt="모비젠" class="logo">
      <div class="formWrap">
        <!-- NOTE: 템플릿에서 주석 처리하는게 아닌 CSS의 display 속성으로 제어 -->
        <div class="formReflect"></div>
        <div class="formBox">
          <form id="loginForm">
            <img src="../../dist/images/login/logo_solution.png" alt="" class="solution-logo">
            <h3>
              <span class="strong-text">A New Experience in Big Data Analytics</span>
              <span>IRIS Big Data Platform</span>
            </h3>
            <div class="mu-vgroup">
              <div class="mu-input-icon-wrap">
                <div class="mu-input-icon">
                  <input type="text" id="userID" name="userID" maxlength="20" class="mu-input" placeholder="아이디"><i class="mu-icon user"></i>
                </div>
              </div>
              <div class="mu-input-icon-wrap">
                <div class="mu-input-icon">
                  <input type="text" id="userID" class="mu-input" placeholder="비밀번호"><i class="mu-icon lock"></i>
                </div>
              </div>
              <div class="loginOption">
                <div id="id-checkbox" class="mu-checkbox">
                  <input type="checkbox" id="idSave">
                  <label for="idSave">ID 저장하기</label>
                </div>
                <div class="mui-select-second-wrap locale-selector">
                  <i class="mu-icon globe"></i>
                  <div class="mui-select-second">
                    <select name="" id="" class="mui-select-second-input">
                      <option value="ko" class="mui-select-second-option">대한민국</option>
                      <option value="en" class="mui-select-second-option">English</option>
                    </select>
                    <i class="mu-icon dropdown"></i>
                  </div>
                </div>
              </div>
              <button class="mu-btn mu-btn-primary btn-lg">로그인</button>
              <button class="mu-btn mu-btn-link"><span class="mu-btn-link-box">회원가입</span></button>
            </div>
          </form>
        </div>
        <!-- NOTE: 템플릿에서 주석 처리하는게 아닌 CSS의 display 속성으로 제어 -->
        <div class="solution-symbol"></div>
      </div>
      <footer>
        <p class="copyright">Coppyright
          <i class="fa fa-copyright"></i>2019 Mobigen. All rights reserved.
        </p>
      </footer>
    </div>
  </div>
  <script src="../../dist/js/brick.bundle.js"></script>
</body>

</html>