@import "../config/vars";
@import "../config/colors";
@import "../config/typography";
@import "../config/spacing";
@import "../utils/helper-mixins";
@import "../utils/import-once";
@import "button-mixins";
@import "../utils/css--reset";

@include exports("button") {
  // <button> elements cannot be used as flex/block containers
  button.mu-btn {
    display: inline-block;
  }

  // Reset intrisic padding in Firefox (see #731)
  button.mu-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Vertically center icon inside <button>
  // button.mu-btn {

  //   .mu-icon {
  //     vertical-align: middle;
  //     position: relative;
  //     top: -1px;
  //   }
  // }

  .mu-btn {
    @include button-base;
  }

  .mu-btn-default {
    @include button-theme(
      $ui-01,
      $ui-04,
      $text-01,
      $hover-secondary,
      $brand-02
    );

    &:active,
    &.active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    i {
      color: $brand-02;
    }
  }

  .mu-btn-primary {
    @include layer("raised");
    @include button-theme(
      $interactive-01,
      $brand-02,
      $interactive-02,
      $hover-primary,
      $interactive-02
    );

    &:active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .i {
      color: $ui-01;
    }
  }

  .mu-btn-secondary {
    @include button-theme(
      $ui-01,
      $ui-04,
      $brand-02,
      $hover-secondary,
      $brand-02
    );

    &:active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    i {
      color: $brand-02;
    }
  }

  .mu-btn-danger {
    @include button-theme(
      $ui-01,
      $ui-04,
      $status-danger-symbol,
      $status-danger-symbol,
      $status-danger-symbol
    );

    &:hover {
      color: $ui-01;
      border-color: $status-danger-symbol;
      background-color: $status-danger-symbol;
    }

    &:active {
      color: $ui-01;
      border-color: $status-danger-symbol;
      background-color: darken($status-danger-symbol, 10%);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
      color: $status-danger-symbol;
      border-color: $ui-04;
    }
  }

  .mu-btn-ghost {
    @include button-theme(
      transparent,
      transparent,
      $text-01,
      $hover-ui-accent,
      $brand-02
    );

    i {
      color: $brand-02;
    }

    &:active,
    &.active {
      background-color: darken($hover-ui-accent, 10%);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .mu-btn-icon {
    @include icon-button-base;
    @include button-theme(
      transparent,
      transparent,
      $text-03,
      transparent,
      $text-03
    );
    font-weight: 600;

    &:hover,
    &:active {
      color: darken($text-03, 25%);
    }

    &:disabled {
      color: $text-03;
    }
  }

  .mu-btn-link {
    @include icon-button-base;
    @include button-theme(
      transparent,
      transparent,
      $brand-02,
      transparent,
      $brand-02
    );
    font-weight: 600;

    i {
      color: inherit;
    }

    span + i {
      margin-left: $spacing-2xs;
    }

    .mu-btn-link-box {
      border-bottom: 1px solid transparent;
    }

    &:hover,
    &:active {
      color: darken($brand-02, 25%);

      .mu-btn-link-box {
        border-bottom: 1px solid darken($brand-02, 25%);
      }
    }

    &.mu-btn-sm {
      height: rem(24px);
      padding: 0;
    }

    // &.mu-btn-xs {
    //   height: rem(20px);
    //   padding: 0;
    // }
  }

  .mu-btn-toggle {
    @include button-theme(
      $ui-01,
      $ui-04,
      $text-01,
      $hover-secondary,
      $brand-02
    );
    height: 24px;

    &:hover {
      color: $interactive-01;
      background: $ui-01;
    }

    &:active,
    &.active {
      color: $ui-01;
      background-color: $interactive-01;
      border: 1px solid $brand-03;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    &[disabled],
    &.disabled,
    &[disabled]:hover,
    &.disabled:hover {
      color: $disabled-02;
      background: $disabled-01;
      border: 1px solid $ui-04;
      opacity: 1;
      box-shadow: unset;
    }
  }

  .mu-btn span,
  .mu-btn i {
    vertical-align: middle;
  }

  // 2019-04-03 ADD KHY 그리드 내 button요소의 높이값 수정
  .mu-grid .mu-btn-icon,
  .mu-grid .mu-btn-link {
    height: auto;
    padding: 0;
  }

  .mu-btn-md {
    height: rem(30px);
    padding: $button-padding;
    font-size: rem(13px);
    line-height: 1.5;
  }

  .mu-btn-sm {
    height: rem(24px);
    padding: $button-padding-sm;
  }

  .mu-btn-xs {
    height: rem(20px);
    padding: 0 4px;
  }
}
