@import "../config/vars";
@import "../config/colors";
@import "../config/typography";
@import "../config/spacing";
@import "../utils/helper-mixins";
@import "../utils/import-once";
@import "../utils/css--reset";

@mixin bx-snippet {
  @include typescale("omega");
  line-height: 1.45;
  background: $snippet-background-color;
  border: 1px solid $snippet-border-color;
  font-family: $font-family-mono;
  position: relative;
  max-width: rem(600px);
  width: 100%;
}

@include exports("snippet") {
  .mu-snippet code {
    font-family: $font-family-mono;
  }

  // Inline Code Snippet
  .mu-snippet-inline {
    @include reset;
    position: relative;
    display: inline;
    padding: 0;
    background: transparent;
    font-size: inherit;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $ui-02;
    color: $text-01;
    font-size: 85%;
    cursor: pointer;

    &:hover {
      background-color: darken($ui-02, 10%);
    }

    &:focus {
      // @include focus-outline;
      outline: none;
      border: 1px solid $interactive-01;
    }
  }

  .mu-snippet-inline code {
    padding: rem(1px) $spacing-xs;
  }

  .mu-snippet-inline.mu-snippet-light {
    background-color: $ui-03;

    &:hover {
      background-color: rgba($brand-02, 0.1);
    }
  }

  // Single Line Snippet
  .mu-snippet-single {
    @include bx-snippet;
    height: rem(56px);
    padding: 0 $spacing-2xl 0 $spacing-md;
  }

  .mu-snippet-single .mu-snippet-wrap {
    display: flex;
    align-items: center;
    height: 130%;
    overflow-x: scroll;
    position: relative;
    padding-bottom: $spacing-md;
  }

  .mu-snippet-single pre {
    white-space: nowrap;
  }

  // Multi Line Snippet
  .mu-snippet-multi {
    @include bx-snippet;
    padding: $spacing-md $spacing-3xl $spacing-xl $spacing-lg;
  }

  .mu-snippet-multi .mu-snippet-wrap {
    overflow: hidden;
    position: relative;
    max-height: rem(238px);
    min-height: rem(56px);
    // transition: all $transition-base $carbon-standard-easing;
  }

  .mu-snippet-multi .mu-snippet-wrap pre {
    white-space: pre-wrap;
  }
}
