@import "../config/vars";
@import "../config/colors";
@import "../config/typography";
@import "../config/spacing";
@import "../utils/helper-mixins";
@import "../utils/import-once";
@import "../utils/css--reset";

@include exports("icon-font") {
  .mu-icon {
    transform: translate(0, 0);
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mu-icon.search:before {
    content: "\f002";
  }

  .mu-icon.list:before {
    content: "\f0ca";
  }

  .mu-icon.save:before {
    content: "\f0c7";
  }

  .mu-icon.add:before {
    content: "\f067";
  }

  .mu-icon.del:before {
    content: "\f068";
  }

  .mu-icon.edit:before {
    content: "\f044";
  }

  .mu-icon.trash:before {
    content: "\f2ed";
  }

  .mu-icon.cancel:before {
    content: "\f00d";
  }

  .mu-icon.logout:before {
    content: "\f2f5";
  }

  .mu-icon.logout2:before {
    content: "\f011";
  }

  .mu-icon.setting:before {
    content: "\f013";
  }

  .mu-icon.setting2:before {
    content: "\f0ad";
  }

  .mu-icon.file:before {
    content: "\f016";
  }

  .mu-icon.refresh:before {
    content: "\f021";
  }

  .mu-icon.err:before {
    content: "\f071";
  }

  .mu-icon.err-circle:before {
    content: "\f057";
  }

  .mu-icon.user:before {
    content: "\f007";
  }

  .mu-icon.chart-bar:before {
    content: "\f080";
  }

  .mu-icon.chart-pie:before {
    content: "\f200";
  }

  .mu-icon.chart-line:before {
    content: "\f201";
  }

  .mu-icon.home:before {
    content: "\f015";
  }

  .mu-icon.info:before {
    content: "\f05a";
  }

  .mu-icon.up:before {
    content: "\f077";
  }

  .mu-icon.down:before {
    content: "\f078";
  }

  .mu-icon.left:before {
    content: "\f053";
  }

  .mu-icon.right:before {
    content: "\f054";
  }

  .mu-icon.clock:before {
    content: "\f017";
  }

  .mu-icon.bell:before {
    content: "\f0f3";
  }

  .mu-icon.desktop:before {
    content: "\f108";
  }

  .mu-icon.copyright:before {
    content: "\f1f9";
  }

  .mu-icon.upload:before {
    content: "\f093";
  }

  .mu-icon.download:before {
    content: "\f019";
  }

  .mu-icon.trash2:before {
    content: "\f1f8";
  }

  .mu-icon.fileText:before {
    content: "\f15c";
  }

  .mu-icon.lock:before {
    content: "\f023";
  }

  .mu-icon.calendar:before {
    content: "\f073";
  }

  .mu-icon.link:before {
    content: "\f0c1";
  }

  .mu-icon.unlink:before {
    content: "\f127";
  }

  .mu-icon.external-link:before {
    content: "\f35d";
  }

  .mu-icon.eye:before {
    content: "\f06e";
  }

  .mu-icon.eye-slash:before {
    content: "\f070";
  }

  .mu-icon.check:before {
    content: "\f00c";
  }

  .mu-icon.check-circle:before {
    content: "\f058";
  }

  .mu-icon.table:before {
    content: "\f0ce";
  }

  .mu-icon.undo:before {
    content: "\f0e2";
  }

  .mu-icon.repeat:before {
    content: "\f01e";
  }

  .mu-icon.backward:before {
    content: "\f048";
  }

  .mu-icon.forward:before {
    content: "\f051";
  }

  .mu-icon.play:before {
    content: "\f04b";
  }

  .mu-icon.pause:before {
    content: "\f04c";
  }

  .mu-icon.stop:before {
    content: "\f04d";
  }

  .mu-icon.arrow-right:before {
    content: "\f061";
  }

  .mu-icon.arrow-up:before {
    content: "\f062";
  }

  .mu-icon.arrow-left:before {
    content: "\f060";
  }

  .mu-icon.arrow-down:before {
    content: "\f063";
  }

  .mu-icon.help:before {
    content: "\f27a";
  }

  .mu-icon.help-circle:before {
    content: "\f059";
  }

  .mu-icon.volume-down:before {
    content: "\f027";
  }

  .mu-icon.bar:before {
    content: "\f0c9";
  }

  .mu-icon.exclamation:before {
    content: "\f06a";
  }

  .mu-icon.plus-square:before {
    content: "\f0fe";
  }

  .mu-icon.plus-square2:before {
    content: "\f196";
  }

  .mu-icon.minus-square:before {
    content: "\f146";
  }

  .mu-icon.minus-square2:before {
    content: "\f147";
  }

  .mu-icon.angle-left:before {
    content: "\f104";
  }

  .mu-icon.angle-right:before {
    content: "\f105";
  }

  .mu-icon.ex:before {
    content: "\f192";
  }

  // sherman.scss
  .mu-icon.agSortAsc:before {
    content: "\f0d8";
  }

  .mu-icon.agSortDesc:before {
    content: "\f0d7";
  }

  .mu-icon.agNoSort:before {
    content: "\f0dc";
  }

  /* renewal icon */
  .mu-icon.dashBoard:before {
    content: "\f0e4";
  }

  .mu-icon.status:before {
    content: "\f108";
  }

  .mu-icon.statistics:before {
    content: "\f201";
  }

  .mu-icon.chart-bar:before {
    content: "\f080";
  }

  .mu-icon.dbBrowser:before {
    content: "\f1c0";
  }

  .mu-icon.manage:before {
    content: "\f0b1";
  }

  .mu-icon.cogs:before {
    content: "\f085";
  }

  .mu-icon.angle-right:before {
    content: "\f105";
  }

  .mu-icon.down:before {
    content: "\f107";
  }

  .mu-icon.up:before {
    content: "\f106";
  }

  .mu-icon.angle-double-left:before {
    content: "\f100";
  }

  .mu-icon.angle-double-right:before {
    content: "\f101";
  }

  .mu-icon.bookmark:before {
    content: "\f02e";
  }

  .mu-icon.double-left:before {
    content: "\f100";
  }

  .mu-icon.compress:before {
    content: "\f066";
  }

  .mu-icon.more:before {
    content: "\f142";
  }

  .mu-icon.question-circle:before {
    content: "\f059";
  }

  .mu-icon.player:before {
    content: "\f04b";
  }

  .mu-icon.caret-down:before {
    content: "\f0d7";
  }

  .mu-icon.caret-up:before {
    content: "\f0d8";
  }

  .mu-icon.share:before {
    content: "\f064";
  }

  .mu-icon.repeat:before {
    content: "\f01e";
  }

  .mu-icon.chart-play:before {
    content: "\F04B";
  }

  .mu-icon.chart-pause:before {
    content: "\F04C";
  }

  .mu-icon.chart-resume:before {
    content: "\f144";
  }

  .mu-icon.chart-stop:before {
    content: "\F04D";
  }

  .mu-icon.long-arrow-right:before {
    content: "\f178";
  }

  .mu-icon.flag:before {
    content: "\f024";
  }

  .mu-icon.help-circle-re:before {
    content: "\f059";
    color: #9aa6b5;
    cursor: pointer;
  }

  .mu-icon.arrow-alt:before {
    content: "\f0b2";
  }

  .mu-icon.objects:before {
    content: "\f248";
  }

  // brick.scss
  .mu-icon.lang::before,
  .mu-icon.globe::before {
    content: "\f57d";
  }

  .mu-icon.dropdown::before {
    content: "\f0d7";
  }

  // cluster.scss
  .arrow-circle-right:before {
    content: "\f0a9";
  }

  .question-circle-o:before {
    content: "\f29c";
  }

  .question-circle:before {
    content: "\f059";
  }

  .toggle-on:before {
    content: "\f205";
  }

  .toggle-off:before {
    content: "\f204";
  }

  // .mu-icon.edit:before{content:"\f044";}
  // .mu-icon.cancel:before{content:"\f057";} // 2018-10-26 MOD KHY다른서버와 스타일 혼동 막기위해 임시로 cluster에 분리해두기로함.
  .mu-icon.plus:before {
    content: "\f055";
  }

  // .mu-icon.check:before{font:bold 14px/1 'notokr';content:"\2713";color:#40c057;}/*2017-08-22 ADD*/ // 2018-10-26 MOD KHY다른서버와 스타일 혼동 막기위해 임시로 cluster에 분리해두기로함.

  // db-browser.scss
  .mu-icon.ellipsis-v::before {
    content: "\f142";
    margin-right: 0;
  }

  .mu-icon.align-center:before {
    content: "\f037";
  }

  .mu-icon.align-left:before {
    content: "\f036";
  }

  .mu-icon.align-right:before {
    content: "\f038";
  }

  .mu-icon.align-justify:before {
    content: "\f039";
  }

  .mu-icon.exchange {
    content: "\f362";
  }

  .mu-icon.bold::before {
    content: "\f032";
  }

  .mu-icon.underline::before {
    content: "\f0cd";
  }

  .mu-icon.italic::before {
    content: "\f033";
  }

  .mu-icon.strickthrough::before {
    content: "\f0cc";
  }

  .mu-icon.more-down:before {
    content: "\f102";
  }

  .mu-icon.more-up:before {
    content: "\f103";
  }

  .mu-icon.ban:before {
    content: "\f05e";
  }

  .mu-icon.extend:before {
    content: "\f424";
  }

  .mu-icon.shrink:before {
    content: "\f422";
  }
}
