/* header */

.mu-container {
  position: relative;
  height: 100%;
  @include font-size("12");
}

.mu-container.dev {
  height: calc(100% - 39px);
}

section {
  padding: 0;
}

.mu-topCont {
  background: #eee;
  border-bottom: 1px solid #d0d0d0;
  height: 50px;
  line-height: 49px;
  padding: 0 20px;
}

.mu-topCont .mu-title {
  @include font-size("18");
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}

.mu-content {
  height: 100%;
}
