<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../../dist/css/index2.css"/>
</head>

<body>
  <div id="app">
    <h1>I AM INDEX2</h1>
    <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus laborum velit nobis numquam, praesentium beatae dolorem ipsam repudiandae possimus accusantium sint voluptates aliquid consectetur iusto quisquam nisi blanditiis iure eveniet repellendus odio. At, voluptate harum! Error consequatur inventore iusto ratione.</strong>
    <img src="../../images/1.jpg" alt="webpack" />
    <img src="../../images/2.png" alt="logo" />
    <svg class="svg-comm">
      <use xlink:href="#1"></use>
    </svg>
    <svg class="svg-comm">
      <use xlink:href="#1"></use>
    </svg>
    
  </div>
  <script src="../../../dist/js/index2.bundle.js"></script>
</body>

</html>