@charset "utf-8";

@import url("reset.css");
/* @font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
} */
body,h1,h2,h3,h4,h5,h6,input,button,textarea,select{color:#010101;line-height:1.5;font:12px "돋움",Dotum,Verdana,Arial,AppleGothic,sans-serif;}
*, *:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.hide-text{overflow:hidden;text-indent:100%;white-space:nowrap;}
button{cursor:pointer;}
a{text-decoration:none;color:#010101}
a:hover{color:#999}
pre{overflow:auto;font-family:Consolas, 'Liberation Mono', Courier, monospace;}
code{font-family:Consolas, 'Liberation Mono', Courier, monospace;}
strong{font-weight:bold}
em{font-style:italic;}
.mu-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/* HTML5 새 요소 초기화 */
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {display:block;}

