// ---------------------------------
// style.min.css
// 영문 style.min.css는 :lang(en)선택자 추가해 제어
// ---------------------------------

@import "../utils/import-once";

#root {
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  min-height: 600px;
  width: 100%;
  overflow: hidden;
}

#inside-frame {
  width: 100%;
  height: 100%;
}

#content-view {
  width: 100%;
  min-width: 1280px;
  height: calc(100% - 36px);
  position: absolute;
  top: 36px;
}

/*container*/
.mu-container {
  position: relative;
  height: calc(100% - 36px);
  overflow: hidden;
}

.mu-dialog-foot .mu-btn.btnApply {
  height: 25px;
  width: auto;
  background: $brand-02;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  padding: 0 12px;
}
.mu-dialog-foot .mu-btn.btnApply:hover {
  border: 1px solid #1466ad;
  box-shadow: none;
}
.mu-dialog-foot .mu-btn.btnApply:active {
  border: 1px solid transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
}
.mu-dialog-foot .mu-btn.btnDelete {
  color: $text-01;
  padding: 0;
  background: $ui-01;
  border: 1px solid #c8c8c8;
  height: 25px;
  padding: 0 12px;
}
.mu-dialog-foot .mu-btn.btnDelete:hover {
  border: 1px solid $text-01;
}
.mu-dialog-foot .mu-btn.btnDelete:active {
  color: $ui-01;
  background: $brand-02;
  border: 1px solid #d2d2d2;
}

/* grid */
.mu-grid {
  border: 1px solid #c8c8c8;
}
.mu-grid thead > tr > th {
  background: $ui-02;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 700;
}
.mu-grid tbody > tr > td {
  background: $ui-01;
  text-align: center;
  word-break: break-all;
}
.mu-grid thead > tr,
.mu-grid tbody > tr {
  height: auto;
}
.mu-grid thead > tr > th,
.mu-grid tbody > tr > td {
  height: 29px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdbdb;
}
.mu-grid tbody > tr > th.tl,
.mu-grid tbody > tr > td.tl {
  text-align: left;
} /* 2016-05-31 ADD */
.mu-grid tbody > tr > th.tr,
.mu-grid tbody > tr > td.tr {
  text-align: right;
} /* 2016-05-31 ADD */
.mu-grid-hover tbody > tr:hover td {
  background-color: $hover-ui-accent;
} /*2017-09-05 MOD tr hover색상값*/
.mu-grid tbody > tr.selected > td {
  background: $hover-ui-accent;
}
/* 2016-06-17 ADD */
.mu-grid-sort thead > tr > th {
  padding-left: 6px;
}
.mu-grid-sort thead > tr > th.none {
  padding-left: 6px;
  padding-right: 6px;
}
/* 2016-06-27 ADD */
.mu-grid thead > tr > th,
.mu-grid tbody > tr > td {
  border-top: 1px solid #dbdbdb;
  border-bottom: none;
}
.mu-grid tbody > tr:hover {
  border: 1px solid #8b8b8b;
}
.mu-grid tbody > tr:hover > td {
  border-bottom: 1px solid $ui-04;
  border-top: 1px solid $ui-04;
}

// sherman.scss 562~567
/*2017-08-31 MOD*/
.mu-grid-expand > tbody > tr:hover.odd > td {
  border-bottom: 1px solid #8b8b8b;
  border-top: 1px solid #8b8b8b;
}
.mu-grid-expand > tbody > tr.even.open tr:hover {
  border: none;
}
.mu-grid-expand > tbody > tr.even.open tr:hover > td {
  border: none;
  border-top: 1px solid #dbdbdb;
}
.mu-grid-expand > tbody > tr:hover.even.open .mu-formbox th,
.mu-grid-expand > tbody > tr:hover.even.open .mu-formbox td {
  border-top: none;
}
.mu-grid-expand > tbody > tr:hover.even.open .mu-formbox thead th,
.mu-grid-expand > tbody > tr:hover.even.open .mu-formbox thead td {
  border-bottom: 1px solid #e7e7e7;
}
.mu-dialog.mu-formbox-inner .mu-grid tbody > tr:hover > td {
  border-top: 1px solid #e5e5e5;
} /* 2017-07-26 ADD 데이터모델 새모델팝업 필드설정 체크박스 선택하면 td-top 줄생김 방지 */
// sherman.scss 658~668
.mu-grid-expand {
  border: 1px solid #e7e7e7;
}
.mu-grid-expand > tbody > tr.odd > td {
  border-top: 1px solid #dbdbdb;
}
.mu-grid-expand > tbody > tr.odd.open > td {
  background: #e0effc;
  color: $text-01;
  border-top: 1px solid $brand-02;
  border-bottom: 1px solid #dbdbdb;
}
.mu-grid-expand > tbody > tr.odd.open {
  border: 1px solid $brand-02;
  border-bottom: none;
}
.mu-grid-expand > tbody > tr.even.open > td {
  background: $ui-01;
  border-bottom: 1px solid $brand-02;
  padding: 15px;
}
.mu-grid-expand > tbody > tr.even.open {
  border: 1px solid $brand-02;
  border-top: none;
}
.mu-grid-expand > thead > tr > th,
.mu-grid-expand > tbody > tr > td {
  border-bottom: none;
}
.mu-grid-expand > tbody > tr.even.open .mu-grid {
  border-left: none;
  border-right: none;
  width: auto;
} /* 2016-06-15 MOD */
.mu-grid-expand > tbody > tr.even.open td {
  background: $ui-01;
}
.mu-grid-expand > tbody > tr.even.open .mu-title {
  display: block;
  word-break: break-all;
} /* 2016-06-20 ADD */
.mu-grid-expand .mu-icon.right,
.mu-grid-expand .mu-icon.down {
  font-size: 10px;
}

// sherman.scss 2321~2323
.mu-icon.right:before {
  content: "\F0DA";
}
.mu-grid-expand .mu-icon.right,
.mu-grid-expand .mu-icon.down {
  font-size: 15px;
  margin-left: 3px;
  margin-right: 9px;
}
.mu-grid-expand .mu-icon.down-s:before {
  content: "\F107";
  font-size: 11px;
  margin-left: 3px;
  color: $text-01;
}

// formbox-inner 부분화
// /* mu-formbox-inner */
// .mu-formbox-inner .mu-dialog-body{padding:0;}
// .mu-formbox-inner .mu-formbox{border:none;}
// .mu-formbox-inner .mu-formbox > thead > tr > th, .mu-formbox-inner .mu-formbox > thead > tr > td, .mu-formbox-inner .mu-formbox > tbody > tr > th, .mu-formbox-inner .mu-formbox > tbody > tr > td, .mu-formbox-inner .mu-formbox > tfoot > tr > th, .mu-formbox-inner .mu-formbox > tfoot > tr > td{border:none;vertical-align:top;padding:4px 8px;}
// .mu-formbox-inner .mu-formbox > thead > tr > th, .mu-formbox-inner .mu-formbox > tbody > tr > th, .mu-formbox-inner .mu-formbox > tfoot > tr > th{background:$ui-02;border-right:1px solid $ui-04;text-align:right;white-space:nowrap;}
// .mu-formbox-inner .mu-formbox > thead > tr > td, .mu-formbox-inner .mu-formbox > tbody > tr > td, .mu-formbox-inner .mu-formbox > tfoot > tr > td{text-align:left;}
// .mu-formbox-inner .mu-formbox > thead > tr:first-child > th, .mu-formbox-inner .mu-formbox > thead > tr:first-child > td, .mu-formbox-inner .mu-formbox > tbody > tr:first-child > th, .mu-formbox-inner .mu-formbox > tbody > tr:first-child > td{padding-top:10px;}
// .mu-formbox-inner .mu-formbox > thead > tr:last-child > th, .mu-formbox-inner .mu-formbox > thead > tr:last-child > td, .mu-formbox-inner .mu-formbox > tbody > tr:last-child > th, .mu-formbox-inner .mu-formbox > tbody > tr:last-child > td{padding-bottom:10px;}
// .mu-formbox-inner .mu-formbox > thead > tr > td{font-size:13px;color:$brand-02;font-weight:700;vertical-align:middle;}
// .mu-formbox-inner .mu-formbox > thead > tr > th .mu-btn{padding:0;background:$ui-01;border:1px solid #c8c8c8;}
// .mu-formbox-inner .mu-formbox > thead > tr > th .mu-btn:hover{border:1px solid $text-01;}
// .mu-formbox-inner .mu-formbox > thead > tr > th .mu-btn:active{background:$brand-02;border:1px solid #d2d2d2;}

// .mu-formbox-inner .mu-formbox tbody > tr > th{font-weight:500;color:#75767a;}
// .mu-formbox-inner .mu-formbox tbody > tr.tit:first-child > th, .mu-formbox-inner .mu-formbox > tbody > tr.tit th{height:24px;padding:0 0 0 15px;border-top:1px solid $ui-04;border-bottom:1px solid $ui-04;font-weight:bold;color:$text-01;text-align:left;line-height:28px;}
// .mu-formbox-inner .mu-formbox > tbody > tr.tit + tr td{padding-top:6px;}
// .mu-formbox-inner .mu-formbox > tbody > tr.sect > td{padding:0 0 10px 0;font-size:13px;color:$brand-02;font-weight:700;}
// .mu-formbox-inner .mu-formbox > tbody > tr.sect > td span{border-top:1px solid #e7e7e7;display:block;padding:10px 10px 0;vertical-align:middle;}
// .mu-formbox-inner .mu-formbox > tbody > tr.sect.borderNone > td span{border:none;}

// .mu-formbox-inner .mu-formbox > tfoot > tr > th, .mu-formbox-inner .mu-formbox > tfoot > tr > td{padding:10px;}
// .mu-formbox-inner .mu-formbox > tfoot .mu-btnmu-btn-primary{border-color:$brand-02;background-color:$interactive-01;color:$ui-01;box-shadow:0 1px 2px rgba(0, 0, 0, .2);}
// .mu-formbox-inner .mu-formbox > tfoot .mu-btnmu-btn-primary:hover{border-color:$brand-02;background-color:$brand-02;color:$ui-01;}
// .mu-formbox-inner .mu-formbox > tfoot .mu-btnmu-btn-primary:active{border-color:$brand-03;background-color:$brand-02;box-shadow:inset 0 2px 3px rgba(0, 0, 0, .1);color:$ui-01;}

// .mu-formbox-inner .mu-formbox > tfoot .mu-btn.btnDelete{color:$text-01;padding:0;background:$ui-01;border:1px solid #c8c8c8;height:25px;padding:0 12px;}
// .mu-formbox-inner .mu-formbox > tfoot .mu-btn.btnDelete:hover{border:1px solid $text-01;}
// .mu-formbox-inner .mu-formbox > tfoot .mu-btn.btnDelete:active{color:$ui-01;background:$brand-02;border:1px solid #d2d2d2;}
// // TODO: 왜 있는 width고정이지? 삭제 가능한가?
// .mu-formbox-inner .mu-formbox .mu-item-group .mu-input{width:80px;}

.mu-grid-expand.mu-formbox-inner > tbody > tr.even.open > td {
  padding: 0;
}
.mu-grid-expand.mu-formbox-inner .mu-formbox > thead > tr > th,
.mu-grid-expand.mu-formbox-inner .mu-formbox thead > tr > td {
  border-bottom: 1px solid #e7e7e7;
  vertical-align: middle;
  font-size: 12px;
  color: $text-01;
}
.mu-grid-expand.mu-formbox-inner .mu-formbox > thead > tr > th {
  font-weight: 700;
}
.mu-grid-expand.mu-formbox-inner .mu-formbox > thead > tr > td {
  font-weight: 400;
}

// ---------------------------------------------------
/* renewal icon */
.header-wrap .mu-icon-img {
  margin-right: 5px;
  background: url("../../images/brick/icon_gnb_new.png") no-repeat 0 0;
}
.mu-icon-img.dashBoard,
.bx-menu .mn-1dep:hover .mu-icon-img.dashBoard,
.bx-menu .mn.active .mn-1dep:hover .dashBoard {
  background-position: 0 0;
}
.bx-menu .mn.active .mn-1dep .dashBoard {
  background-position: 0 -20px;
}
.mu-icon-img.status {
  background-position: -20px 0;
}
.mu-icon-img.chart-bar {
  background-position: -40px 0;
}
.mu-icon-img.dbBrowser {
  background-position: -60px 0;
}
.mu-icon-img.cogs {
  background-position: -80px 0;
}
.mu-icon-img.etl {
  background-position: -120px 0;
} /*2017-06-27 ADD LYB ETL 추가메뉴 아이콘*/
.mu-icon-img.hdfs {
  background-position: -100px 0;
} /*2017-06-27 ADD LYB HDFS조회 추가메뉴 아이콘*/

// .mu-icon.search{color:$nav-02;}
.mu-icon-img {
  background: url("../../images/common/icon_search.png") no-repeat;
}
// .mu-topMenu .mu-btn .mu-icon-img{background:url("../../images/common/icon_topmenu2.png") no-repeat 0 0;}/*2017-06-26 LYB HDFS 파일 업로드시 이미지가 존재하지 않아 에러난다고 해서 common폴더에 icon_topmenu2.png 가짜파일 만들어둠.어디에서 사용되는지 알수 없는이미지*/
.mu-icon-img.clock {
  background: url("../../images/common/icon_field_2.png") no-repeat -4px -4px;
}
.content-re .mu-icon-img.datamodel2 {
  background-position: -20px -60px;
}
.mu-icon-img.date2 {
  background-position: 0px -60px;
}

/*.content-re .mu-icon-img.stop2{background-position:-120px -60px;}*/
.mu-icon-img.exclamation-circle {
  background-position: -420px -40px;
}
.mu-icon-img.archiv {
  background-position: -300px -60px;
}
.mu-icon-img.chart {
  background-position: -480px -60px;
}
.mu-icon-img.history {
  background-position: -40px -60px;
}
.mu-icon-img.new-open {
  background-position: -100px -60px;
}
.mu-icon-img.arrow-left {
  background-position: -220px 0px;
}
.mu-icon-img.arrow-right {
  background-position: -600px -60px;
}
.mu-icon-img.reset {
  background-position: -740px -60px;
}
/*.mu-icon-img.add2{background-position:-260px -60px;}*/
.content-re .mu-icon-img.cancel2 {
  background-position: -280px -60px;
}
.content-re .mu-btn[disabled] .mu-icon-img.stop {
  background-position: -440px -400px;
}
.content-re .mu-btn[disabled] .mu-icon-img.archiv {
  background-position: -300px -80px;
}
.content-re .mu-btn[disabled] .mu-icon-img.chart {
  background-position: -480px -80px;
}
.content-re .mu-btn[disabled] .mu-icon-img.history {
  background-position: -40px -80px;
}
.content-re .mu-btn[disabled] .mu-icon-img.new-open {
  background-position: -100px -80px;
}

// 1442~1449
.content-re {
  height: 100%;
}
.content-re:after {
  display: block;
  clear: both;
  content: "";
}
.filter-wrap .mu-tab {
  height: 35px;
  margin: 0;
  padding: 7px 0 0 0;
  border-bottom: 1px solid $ui-04;
  background-color: #eee;
}
.filter-wrap .mu-tab li {
  z-index: 1;
  margin-bottom: -1px;
}
.filter-wrap .mu-tab li:first-child span,
.content-re .mu-tab li:last-child span {
  border-radius: 0;
}
.filter-wrap .mu-tab span {
  border-bottom: 1px solid $ui-04;
  border-color: $ui-04;
  background-color: #eee;
  color: #b0bac5;
}
.filter-wrap .mu-tab li.active span {
  border-bottom: none;
  background-color: $ui-02;
  color: $text-01;
}
.content-re .mu-tab li:hover span {
  color: $text-01;
}

// 2084~2147
/* 2017-06-23 ADD @@@@ mu-grid overwrite*/
// .mu-formbox-inner .mu-formbox tbody > tr > th{color:$text-01;}
.content-re .mu-grid-scroll {
  height: 100%;
}
.content-re .mu-grid {
  border: 1px solid $ui-04;
} /*2017-07-21 ADD*/
/* .content-re .mu-scroll-v{height:calc(100% - 30px);} 스크롤바디에 생기게 하기위해서 넣음.*/
.content-re .mu-grid-border {
  border: 1px solid $ui-04;
}
.content-re .mu-grid tbody > tr:hover {
  border: none;
}
.content-re .mu-grid tbody > tr:last-child:hover {
  border: 1px solid $ui-04;
}
.content-re .mu-grid-border thead > tr > th,
.content-re .mu-grid-border tbody > tr > td {
  border-top: none;
} /*2017-07-21 ADD*/
/*.content-re .mu-grid-border tbody > tr > td{border-top:1px solid #e5e5e5;}2017-07-21 ADD 테이블 가로 라인 색상 변경*/
.content-re .mu-grid-border tbody > tr:first-child:hover td {
  border-top: 1px solid $ui-04;
}
.content-re .mu-grid-border thead > tr:first-child > th,
.content-re .mu-grid-border thead > tr:first-child > td {
  border-top: 1px solid $ui-04;
}
.content-re .mu-grid-border thead > tr > th:first-child,
.content-re .mu-grid-border thead > tr > td:first-child,
.content-re .mu-grid-border thead > tr > th + th {
  border-left: 1px solid $ui-04;
}
.content-re .mu-grid-border thead > tr > th:last-child,
.content-re .mu-grid-border tbody > tr > th:last-child,
.content-re .mu-grid-border tbody > tr > td:last-child {
  border-right: 1px solid $ui-04;
}
.content-re .mu-grid-border tr.even.open tbody > tr > td:last-child {
  border-right: none;
} /*2017-07-20 ADD 확장형 테이블 border 이중으로 생기는 부분 수정*/
.content-re .mu-grid-border tbody > tr > td:first-child {
  border-left: 1px solid $ui-04;
}
.content-re .mu-grid-border tbody > tr > td + td,
.content-re .mu-grid-border tfoot > tr > td + td {
  border-left: 1px solid $ui-04;
}

.content-re .mu-grid-border > tbody > tr:hover > td thead > tr > th {
  border-bottom: 1px solid $ui-04;
}
.content-re .mu-grid-border > tbody > tr.odd > td {
  border-top: 1px solid #e5e5e5;
}
.content-re .mu-grid-border > tbody > tr:first-child > td {
  border-top: none;
}
.content-re .mu-grid-border > tbody > tr:hover > td {
  border-bottom: none;
  border-top: 1px solid #e5e5e5;
  background-color: $hover-ui-accent;
}
.content-re .mu-grid-expand > tbody > tr.odd.open {
  border: 1px solid $brand-02;
  border-bottom: none;
}
.content-re .mu-grid-expand > tbody > tr.odd.open > td {
  background-color: $hover-ui-accent;
  color: $text-01;
  border-top: 1px solid $brand-02;
  border-bottom: 1px solid $brand-02;
}
.content-re .mu-grid-expand > tbody > tr.odd.open > td:first-child {
  border-left: 1px solid $brand-02;
}
.content-re .mu-grid-expand > tbody > tr.odd.open > td:last-child {
  border-right: 1px solid $brand-02;
}

.content-re .mu-grid-border tbody > tr:last-child > th,
.content-re .mu-grid-border tbody > tr:last-child > td {
  border-bottom: none;
}
.content-re .mu-grid-expand > tbody > tr.even.open {
  border: 1px solid $brand-02;
  border-top: none;
}
.content-re .mu-grid-expand > tbody > tr.even.open > td {
  border: 1px solid $brand-02;
  border-top: none;
}
.content-re
  .mu-grid-expand
  > tbody
  > tr.even.open
  .mu-formbox
  .mu-grid
  thead
  tr
  td {
  background-color: $ui-02;
}
.content-re .mu-grid-expand > tbody > tr.even.open thead > tr > th:first-child {
  border-top: none;
  border-left: none;
}
.content-re .mu-grid-expand > tbody > tr.even.open thead > tr:first-child > th,
.content-re .mu-grid-expand > tbody > tr.even.open thead > tr:first-child > td {
  border-top: none;
  border-bottom: none;
}
.content-re .mu-grid-expand > tbody > tr.even.open .mu-grid {
  width: 100%;
  border-right: 1px solid $ui-04;
} /*2017-07-20 MOD 확장형 테이블 in 테이블 border 안생기는 부분 수정*/
.content-re .mu-grid-expand .mu-formbox .mu-grid tbody tr:nth-child(odd) td {
  background-color: transparent;
}
.content-re .mu-grid-expand .mu-formbox .mu-grid tbody tr:nth-child(even) td {
  background-color: #fafafa;
}
.content-re .mu-grid-expand .mu-formbox .mu-grid {
  border: 1px solid $ui-04;
}
.content-re .mu-grid-expand .mu-formbox .mu-grid tbody > tr > td {
  border-top: 1px solid #e5e5e5;
}
.content-re .mu-grid-expand .mu-formbox .mu-grid tbody > tr:hover > td {
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid $ui-04;
}
.content-re
  .mu-grid-expand
  .mu-formbox
  .mu-grid
  tbody
  > tr:hover
  > td:first-child {
  border-left: 1px solid $ui-04;
}
/* .content-re .mu-grid-expand > tbody > tr.even.open .mu-formbox .mu-grid tbody > tr:hover > td{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background-color:$hover-ui-accent;} 테이블in테이블in테이블 줄 hover효과 */
.content-re
  .mu-grid-expand
  > tbody
  > tr.even.open
  .mu-formbox
  .mu-grid
  thead
  > tr
  > th {
  border-bottom: 2px solid $ui-04;
}
.content-re
  .mu-grid-expand
  > tbody
  > tr.even.open
  .mu-formbox
  .mu-grid
  thead
  > tr
  > th:first-child {
  border-left: 1px solid $ui-04;
}
.content-re .mu-grid-expand > tbody .mu-formbox .mu-grid thead > tr > th,
.content-re
  .mu-grid-expand
  > tbody
  > tr:hover.even.open
  .mu-formbox
  .mu-grid
  thead
  > tr
  > th {
  border-top: 1px solid $ui-04;
  background-color: $ui-02;
}
.content-re
  .mu-grid-expand
  > tbody
  > tr:hover.even.open
  .mu-formbox
  .mu-grid
  tbody
  > tr
  > td {
  border-top: 1px solid #e5e5e5;
}
.content-re .mu-grid-expand.mu-formbox-inner .mu-formbox > thead > tr > th {
  font-weight: normal;
}
.content-re .mu-formbox-inner .mu-formbox > thead > tr > th,
.content-re .mu-formbox-inner .mu-formbox > thead > tr > td,
.content-re .mu-formbox-inner .mu-formbox > tbody > tr > th,
.content-re .mu-formbox-inner .mu-formbox > tbody > tr > td,
.content-re .mu-formbox-inner .mu-formbox > tfoot > tr > th,
.content-re .mu-formbox-inner .mu-formbox > tfoot > tr > td {
  padding: 8px;
}
.content-re .mu-grid-expand .mu-icon.down:before {
  content: "\F0D7";
} /*2017-07-20 MOD LYB 데이터모델과 자동화 gird 아이콘 공유하기 위해서 class 경로 수정*/
.content-re .mu-grid-expand .mu-icon.right:before {
  content: "\F0DA";
}

// ---------------------------------------------------
/* panel */
.mu-panel {
  background: transparent;
  border: 0;
}
.mu-panel > .mu-panel-head {
  border: 0;
  text-align: left;
  text-indent: 0;
  padding: 0 0 6px;
}
.mu-panel > .mu-panel-head > .fr {
  margin-left: 20px;
} /* 2016-06-15 ADD */
.mu-panel > .mu-panel-body {
  padding: 0;
}
/*.mu-panel .mu-btn{position:relative;background:transparent;height:23px;overflow:visible;}*/
/*.mu-panel .mu-btn:hover{background:$ui-01;border:1px solid #e3e3e3;}*/
.mu-panel .mu-btn span {
  display: inline-block;
  vertical-align: middle;
  max-width: 520px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
/*.mu-panel .mu-btn.active, .mu-panel .mu-btn:active{background:$brand-02;border:1px solid transparent;box-shadow:0 0 4px rgba(0, 0, 0, 0.5) inset;}*/
/*.mu-panel .mu-btn.active span, .mu-panel .mu-btn:active span{color:$ui-01;}*/

// ---------------------------------------------------
/* 검색>시각화 옵션 2016-10-21 ADD */
.mu-tab-inner .mu-dialog-body {
  padding: 0;
}
.mu-tab-inner .mu-tab-vertical {
  display: table-cell;
  width: 100px;
  height: 200px;
  background: #eee;
  border-right: 1px solid #e3e3e3;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.mu-tab-inner .mu-tab-vertical + .mu-tab-body {
  display: table-cell;
  height: 200px;
}
.mu-tab-inner .mu-tab-vertical li {
  margin: 0;
}
.mu-tab-inner .mu-tab-vertical li a {
  background: #eee;
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0 8px;
  text-align: right;
  height: 40px;
  line-height: 38px;
  font-size: 12px;
  color: $text-01;
}
.mu-tab-inner .mu-tab-vertical li:hover a {
  border: 1px solid #ababab;
}
.mu-tab-inner .mu-tab-vertical li.active a {
  background: $ui-01;
  border: 1px solid #3d96e4;
  color: $brand-02;
}
.mu-tab-inner .mu-tab-body .mu-tabCont {
  padding: 3px 0;
}
.mu-tab-inner .mu-tab-body .mu-formbox {
  border: none;
}
.mu-tab-inner .mu-tab-body .mu-formbox tbody > tr > th,
.mu-tab-inner .mu-tab-body .mu-formbox tbody > tr > td {
  border: none;
  padding: 4px 8px;
  vertical-align: top;
  line-height: 26px;
}
.mu-tab-inner .mu-tab-body .mu-formbox tbody > tr > th {
  background: $ui-01;
  text-align: right;
  color: $brand-02;
}

.mu-tab-inner .mu-input-btn {
  position: relative;
  margin-top: 5px;
}
.mu-tab-inner .mu-input-btn .mu-input {
  padding-right: 30px;
}
.mu-tab-inner .mu-input-btn .mu-btn {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 26px;
  margin-left: -30px;
  border-radius: 0 4px 4px 0;
  background: $ui-01;
  border: 1px solid #c8c8c8;
  border-left: 1px solid #e3e3e3;
}
.mu-tab-inner .mu-input-btn .mu-btn:hover {
  background: $ui-02;
}
.mu-tab-inner .mu-input-btn .mu-btn.active,
.mu-tab-inner .mu-input-btn .mu-btn:active {
  background: $brand-02;
  border: 1px solid transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
}

// ---------------------------------------------------
// sherman의 sweitch btn 스타일 추가
/* switch btn 2016-06-09 MOD */
// .mu-btn-group{display:inline-block;border:1px solid $ui-04;border-radius:3px;vertical-align:middle;}
// .mu-btn-group .mu-btn{height:24px;min-width:48px;width:auto;padding:0 8px;border:none;background:$ui-01;}
// .mu-btn-group .mu-btn:hover{background:$ui-01;color:$brand-02;box-shadow:none;}
// .mu-btn-group .mu-btn + .mu-btn{border-left:1px solid #c8c8c8;}
// .mu-btn-group .mu-btn + .mu-btn:hover, .mu-btn-group .mu-btn + .mu-btn:active{border-left:1px solid #c8c8c8;}
// .mu-btn-group .mu-btn.active + .mu-btn{border-left:0;/*border:none;*/}/* 2016-06-16 MOD */
// .mu-btn-group .mu-btn.active, .mu-btn-group .mu-btn:active{background:$brand-02;box-shadow:0 0 4px rgba(0, 0, 0, 0.2) inset;color:$ui-01;border:none;}
// .mu-btn-group .mu-btn.active:hover{border-left:none;}

// ---------------------------------------------------
/* tab */
.mu-tab {
  padding-left: 18px;
  margin-top: -28px;
  background: transparent;
  display: block;
}
.mu-tab > li + li {
  margin-left: 0;
}
.mu-tab > li > a {
  background: #f0f0f0;
  min-width: 70px;
  height: 28px;
  line-height: 26px;
  padding: 0 16px;
  font-size: 12px;
  font-weight: 700;
  color: #838383;
  border: 1px solid #d0d0d0;
  border-radius: 0;
}
.mu-tab > li:first-child > a {
  border-top-left-radius: 4px;
}
.mu-tab > li:last-child > a {
  border-top-right-radius: 4px;
}
.mu-tab > li + li > a {
  border-left: none;
}
.mu-tab > li > a:hover,
.mu-tab > li > a:active {
  background: #f0f0f0;
  color: $brand-02;
}
.mu-tab > li.active > a {
  background: $ui-01;
  color: $brand-02;
  border-bottom: 1px solid transparent;
}

// ---------------------------------------------------
/* 데이터추가 - dialog */
.mu-dialog .mu-formbox > tbody > tr > td .mu-title {
  font-size: 12px;
  color: #637591;
}
.mu-dialog .mu-formbox .mu-col {
  text-align: left;
  padding: 0;
  border: none;
  background: none;
}

.mu-radio-title label {
  font-weight: 700;
}
.mu-radio-title {
  margin: 15px 0 5px;
}
.mu-radio-title:first-child {
  margin-top: 0;
}
.mu-radio-title + .mu-row {
  margin-left: 20px;
}

.mu-dialog-cont {
  border-top: 1px solid $ui-04;
  padding: 10px 10px 20px;
}

.column-box {
  width: 100%;
  min-height: 24px;
  border: 1px solid $ui-04;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
  margin-top: 5px;
}
.column-box span {
  font-size: 12px;
  display: inline-block;
  height: 100%;
  border-left: 1px solid $ui-04;
  line-height: 22px;
  padding: 0 4px;
}
.column-box span:first-child {
  border: none;
}
.column-after {
  margin-top: 10px;
}
.column-after .column-box {
  border-color: $interactive-01;
}
.column-after .column-box span {
  border-color: $interactive-01;
}

.mu-tab-inner .mu-tab {
  height: 38px;
  background: #eee;
  margin: 0;
  padding: 10px 0 0 12px;
  border-bottom: 1px solid $ui-04;
}
.mu-tab-inner .mu-tab > li > a {
  border-radius: 0;
}
.mu-tab-inner .mu-tab-body .mu-tabCont {
  padding: 10px;
}
.mu-tab-inner .mu-tab > li > .mu-icon-img.alert {
  position: absolute;
  top: 3px;
  right: -30px;
  z-index: 1;
}

.mu-tab-inner:not(.type1) .mu-formbox {
  border: 1px solid $ui-04;
}
.mu-tab-inner:not(.type1) .mu-formbox tbody > tr > th {
  background: $ui-02;
  color: $text-01;
  font-weight: 500;
}
.mu-tab-inner:not(.type1) .mu-formbox tbody > tr > th + td {
  border-left: 1px solid $ui-04;
  line-height: normal;
}
.mu-tab-inner:not(.type1) .mu-formbox > thead > tr:first-child > th,
.mu-tab-inner:not(.type1) .mu-formbox > thead > tr:first-child > td,
.mu-tab-inner:not(.type1) .mu-formbox > tbody > tr:first-child > th,
.mu-tab-inner:not(.type1) .mu-formbox > tbody > tr:first-child > td {
  padding-top: 10px;
}
.mu-tab-inner:not(.type1) .mu-formbox > thead > tr:last-child > th,
.mu-tab-inner:not(.type1) .mu-formbox > thead > tr:last-child > td,
.mu-tab-inner:not(.type1) .mu-formbox > tbody > tr:last-child > th,
.mu-tab-inner:not(.type1) .mu-formbox > tbody > tr:last-child > td {
  padding-bottom: 10px;
}
.mu-tab-inner:not(.type1) .mu-formbox + .mu-dialog-cont {
  padding: 10px 0;
  border: none;
}
// .mu-tab-inner:not(.type1) .mu-btn-group .mu-btn{min-width:auto;width:30px;height:24px;padding:0;}
.mu-tab-inner:not(.type1) .mu-btn-group .mu-btn:hover {
  border: none;
}

.mu-dialog .mu-grid-border {
  border: 1px solid $ui-04;
}
.mu-dialog .mu-grid thead > tr > th:first-child,
.mu-dialog .mu-grid tbody > tr > th:first-child,
.mu-dialog .mu-grid thead > tr > td:first-child,
.mu-dialog .mu-grid tbody > tr > td:first-child {
  border-left: none;
}
.mu-dialog .mu-grid thead > tr > th:last-child,
.mu-dialog .mu-grid tbody > tr > th:last-child,
.mu-dialog .mu-grid thead > tr > td:last-child,
.mu-dialog .mu-grid tbody > tr > td:last-child {
  border-right: none;
}
.mu-dialog .mu-grid tbody > tr:last-child > th,
.mu-dialog .mu-grid tbody > tr:last-child > td {
  border-bottom: none;
}
.mu-dialog .mu-grid tbody > tr > td > .mu-selectbox,
.mu-dialog .mu-grid tbody > tr > td > .mu-selectbox .mu-value {
  display: block;
  width: 100%;
}

.mu-dialog .mu-title-inner {
  line-height: 34px;
  border-bottom: 1px solid $ui-04;
  margin: -15px -15px 15px;
  font-size: 13px;
  font-weight: 700;
  padding: 0 15px;
}
.mu-dialog .mu-dialog-body > .mu-row {
  margin: -10px;
}
.mu-dialog .mu-dialog-body > .mu-row .mu-col {
  background: none;
  border: none;
  padding: 10px;
}
.mu-dialog .mu-panel-head .mu-title {
  font-size: 12px;
  font-weight: 700;
}

/* 데이터추가 - tooltip */
.mu-tooltip.mu-formbox-inner .mu-tooltip-inner {
  padding: 0;
}
.mu-tooltip .arrow.arrow-top {
  top: 14px;
}
.mu-tooltip .arrow.arrow-top:after {
  border-left-color: $ui-02;
}

/* 데이터 추가 수정 - 2018-07-03*/
.mu-icon-img.success {
  background-position: -340px -60px;
}
.fc-green {
  color: #40c057;
  font-weight: 500;
  vertical-align: bottom;
}
.mu-dialog .mu-grid-hover tbody > tr:hover th,
.mu-dialog .mu-grid-hover tbody > tr:hover td {
  background-color: $hover-ui-accent;
}
// 2018-08-17 Sass 적용 - button 콤포넌트화
// .mu-dialog-foot .mu-btn[disabled], .mu-dialog-foot .mu-btn[disabled]:hover{border:1px solid #e5e5e5;background:$ui-02;color:$ui-04;box-shadow:none;}

// ---------------------------------------------------
/* 2017-06-14~ ADD 	popup - vertical tab style */
.mu-tab-inner.type1 .mu-tab-vertical {
  position: relative;
  width: 31px;
  height: auto;
  padding: 8px 0 8px 6px;
  border-right: 1px solid $ui-04;
}
.mu-tab-inner.type1 .mu-tab-vertical + .mu-tab-body {
  height: 100%;
}
.mu-tab-inner.type1 .mu-tab-vertical li {
  position: relative;
  overflow: visible;
}
.mu-tab-inner.type1 .mu-tab-vertical li:first-child {
  border-top: 1px solid $ui-04;
}
.mu-tab-inner.type1 .mu-tab-vertical li.active {
  height: 33px;
}
.mu-tab-inner.type1 .mu-tab-vertical li a {
  height: 33px;
  min-width: 47px;
  line-height: 31px;
  color: #b0bac5;
  border: none;
  border-left: 1px solid $ui-04;
  border-bottom: 1px solid $ui-04;
}
.mu-tab-inner.type1 .mu-tab-vertical li.active a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 32px;
  background: $ui-02;
  color: $text-01;
}
.mu-tab-inner.type1 .mu-tab-vertical li:hover a {
  background: $ui-02;
  color: $text-01;
}
.mu-tab-inner.type1 .mu-tab-body .mu-tabCont {
  padding: 0;
}
.mu-tab-inner.type1 .mu-tab-body .mu-formbox tbody tr th {
  border-right: 1px solid $ui-04;
  background-color: $ui-02;
  color: #75767a;
}
.mu-tab-inner.type1 .mu-tab-body .mu-formbox tbody > tr > th,
.mu-tab-inner.type1 .mu-tab-body .mu-formbox tbody > tr > td {
  padding-top: 5px;
}
.mu-dialog.type1 .mu-formbox {
  height: 150px;
}
.mu-dialog.type1 .mu-formbox tbody > tr:first-child > th,
.mu-dialog.type1 .mu-formbox tbody > tr:first-child > td {
  padding-top: 10px;
}
.mu-dialog.type1 .mu-formbox tbody > tr:last-child > th,
.mu-dialog.type1 .mu-formbox tbody > tr:last-child > td {
  padding-bottom: 10px;
  height: 100%;
}
.mu-btn-group > .mu-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
} /*2017-11--06-14 modify LYB border-radius:4px -> border-radius:3px */
/* mu-tab-inner 수정 - 2018-07-12(위의 내용과 비교 필요) */
.mu-tab-inner.type1 .mu-tab-vertical li a {
  white-space: nowrap;
}
.mu-tab-inner.type1 .mu-tab-vertical li.active a {
  float: none;
  position: static;
  width: auto;
  margin-right: -1px;
}

// ---------------------------------------------------
.mu-icon-img.arrow-first {
  background-position: -140px 0;
}
.mu-icon-img.arrow-last {
  background-position: -160px 0;
}
.mu-icon-img.arrow-prev {
  background-position: -180px 0;
}
.mu-icon-img.arrow-next {
  background-position: -200px 0;
}
// ---------------------------------------------------
// layoun_top에서 추가
.mu-container .mu-row .mu-col {
  background: transparent;
  border: none;
  padding: 0;
}

// ---------------------------------------------------
// cluster.scss에서 추가
.mu-panel {
  // background: $ui-01;
  // width: 100%;
  height: 100%;
  // border: 0;
  border-radius: 0;
}
.mu-panel > .mu-panel-body {
  overflow-y: auto;
  padding: 0;
}

// ---------------------------------------------------
// dialog 내 추가/삭제 버튼을 위한 스타일 sherman.scss에서 추가
.mu-btn.btn-w-s {
  width: 26px;
  padding: 0;
}
.mu-btn.btn-w-s i {
  margin: 0;
}

.btn-delete {
  min-width: 26px;
  width: 26px;
  height: 26px;
}
.btn-delete:after {
  display: inline-block;
  width: 12px;
  height: 2px;
  margin-bottom: 2px;
  background-color: #f03e3e;
  vertical-align: middle;
  content: "";
}
.btn-delete[disabled]:after {
  color: #ce0d0d;
}

.mu-icon-img.add2 {
  background-position: -280px -60px;
}

// ---------------------------------------------------------------------------------------
// 2018-10-03 Sass 적용 - splitter기반 layout의 기본 와꾸 짜기
// 추후 클래스명 변경 등을 통해 레이아웃과 스타일을 분리시킬 필요가 있다.
.mu-splitter-wrap > .mu-splitter-first {
  width: 280px;
}
.mu-splitter-wrap > .mu-splitter-first + .mu-splitter-last {
  width: calc(100% - 280px);
  padding: 0;
  border-left: 1px solid $ui-04;
}

.mu-splitter-wrap > .mu-splitter-first > .mu-panel > .mu-panel-head {
  height: 76px;
  position: relative;
  background: #eee;
  border-bottom: 1px solid $ui-04;
  padding: 12px 10px;
}

.mu-splitter-wrap > .mu-splitter-first > .mu-panel > .mu-panel-body {
  height: calc(100% - 76px);
}

.mu-panel-head .mu-btn.toggleClose {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 34px;
  border: 1px solid transparent;
  background: none;
  padding: 0;
}
.mu-btn.toggleClose:active,
.mu-btn.toggleClose:hover {
  border-radius: 3px 0 0 3px;
  box-shadow: none;
  background: $ui-02;
}
.mu-btn.toggleClose i {
  top: -1px;
  font-size: 18px;
  color: #9aa6b5;
  margin: 0;
}
.mu-icon-img.angle-double-left {
  background-position: -140px -60px;
}
.mu-icon-img.angle-double-right {
  background-position: -160px -60px;
}
.mu-splitter-first > .mu-panel > .mu-panel-head > .mu-hgroup {
  height: 30px;
  padding: 10px 0 0;
}
.mu-splitter-first > .mu-panel > .mu-panel-head .mu-title {
  position: static;
  height: auto;
  line-height: initial;
  float: left;
  width: auto;
}
.mu-splitter-first > .mu-panel > .mu-panel-head .mu-hgroup .mu-btn:active,
.mu-splitter-first > .mu-panel > .mu-panel-head .mu-hgroup .mu-btn:hover {
  background: none;
  color: #495057;
  border: none;
  box-shadow: none;
}
.mu-splitter-first > .mu-panel > .mu-panel-head .mu-hgroup .mu-btn .mu-icon {
  color: $text-03;
}
.mu-splitter-first
  > .mu-panel
  > .mu-panel-head
  .mu-hgroup
  .mu-btn:active
  .mu-icon,
.mu-splitter-first
  > .mu-panel
  > .mu-panel-head
  .mu-hgroup
  .mu-btn:hover
  .mu-icon {
  color: #495057;
}
.mu-splitter-first > .mu-panel > .mu-panel-head .searchBox {
  width: 100%;
  height: auto;
  line-height: initial;
  padding-top: 7px;
}
.mu-splitter-first > .mu-panel > .mu-panel-head .searchBox .mu-input-icon {
  width: auto;
  text-align: center;
}
.mu-input-icon .mu-icon-img.search2 {
  background-position: -620px -60px;
  position: absolute;
  top: 3px;
  left: 5px;
  margin: 0;
}
.mu-splitter-last > .mu-row:first-of-type {
  height: 400px;
}
.mu-splitter-last > .mu-row:last-of-type {
  height: calc(100% - 400px);
}
.mu-splitter-last .mu-panel > .mu-panel-head {
  height: 38px;
  background: #eee;
  border-bottom: 1px solid $ui-04;
  text-align: left;
  text-indent: 0;
  padding: 0 10px 0 10px;
  border-radius: 0;
}

// grid를 가지는 경우
.mu-splitter-last .mu-panel.has-grid {
  padding: 12px;
}
.mu-splitter-last .mu-panel.has-grid > .mu-panel-head {
  background: $ui-01;
  border-bottom: 0;
  padding: 0;
}
.mu-splitter-last .mu-panel .mu-tab-head {
  position: relative;
}
.mu-splitter-last .mu-panel .mu-tab-head .mu-btn-group-box {
  position: absolute;
  top: 6px;
  right: 10px;
}
.mu-splitter-last .mu-panel > .mu-panel-head.mu-search-group .mu-search-item {
  padding: 6px 0;
}
/* .mu-splitter-last .mu-panel > .mu-panel-head ~ .mu-panel-body{height:calc(100% - 40px);padding:0 16px 16px;} */
.mu-splitter-last .mu-row:first-of-type .mu-panel > .mu-panel-body {
  height: calc(100% - 38px);
  padding: 16px;
}
.layout-h-v .mu-splitter-last .mu-row:last-of-type .mu-panel > .mu-panel-head {
  background-color: transparent;
  border-bottom: none;
  height: 74px;
  padding: 0 16px;
}
.layout-h-v .mu-splitter-last .mu-row:last-of-type .mu-panel > .mu-panel-body {
  height: calc(100% - 74px);
  padding: 0 16px 16px;
}
.mu-splitter-last .mu-row:last-of-type .mu-panel > .mu-panel-head .mu-hgroup {
  padding: 38px 0 0;
}
.mu-splitter-last
  .mu-row:last-of-type
  .mu-panel
  > .mu-panel-head
  .mu-hgroup:last-child {
  padding-top: 33px;
}
.mu-splitter-wrap > .mu-splitter-first + .mu-splitter-last.column-2-1 {
  width: 100%;
}
.mu-splitter-wrap
  > .mu-splitter-first
  + .mu-splitter-last.column-2-1
  .mu-panel
  > .mu-panel-head.on-toggle {
  padding-left: 26px;
}
/* .mu-splitter-wrap > .mu-splitter-first + .mu-splitter-last.column-2-1 .mu-panel > .mu-panel-head.on-toggle .mu-btn.toggleClose{left:0;} 아래 .on-toggle .mu-btn.mu-btn.toggleClose{left:1px;} 스타일과 겹침 - 삭제*/
.on-toggle .mu-btn.mu-btn.toggleClose {
  left: 1px;
}
.mu-splitter-last .mu-panel > .mu-panel-head.on-toggle .toggleClose {
  display: none;
}
.mu-splitter-last.column-2-1 .mu-panel > .mu-panel-head.on-toggle .toggleClose {
  display: block;
}

.mu-grid.grid-td-xs .mu-selectbox .mu-value {
  min-width: 40px;
}

.mu-dialog .config-alarm .mu-splitter-last .mu-panel.has-grid .mu-scroll-v {
  max-height: 496px;
  min-height: 496px;
}

// dialog속 selectbox의 mu-list의 width override
// TODO: 디자인 상 common의 .mu-selectbox .mu-list가 아래와 같이 override되어도 무방하나 충분한 화면 검토 필요
.mu-dialog .config-alarm {
  height: 100%;
}
.mu-dialog .config-alarm .mu-panel {
  height: 100%;
}
.mu-panel.has-grid .mu-selectbox .mu-list {
  width: auto;
  min-width: 100%;
}
.config-alarm .mu-splitter-first {
  overflow: hidden;
}
.config-alarm .mu-splitter-first .mu-list-box {
  height: calc(100% - 28px);
}
.config-alarm .mu-selectbox .mu-divider {
  border-top: 1px solid $ui-04;
}
.config-alarm .mu-selectbox span + .mu-icon {
  margin-left: 6px;
}

.status-msg-box {
  display: table;
  width: 100%;
  height: 100%;
}

.status-msg {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.status-msg-text {
  position: relative;
  display: inline-block;
  width: 50%;
  font-size: 28px;
  font-weight: 500;
  color: $disabled-02;
}

.mu-selectbox.has-sub-item .mu-list {
  overflow: initial;
}
.mu-selectbox.has-sub-item .sub-item .mu-list {
  display: none;
  position: absolute;
  top: -1px;
  right: -100%;
  border-radius: 0 3px 3px;
}
.mu-selectbox.has-sub-item .sub-item:hover .mu-list {
  display: block;
  position: absolute;
  top: -1px;
  right: -100%;
  border-radius: 0 3px 3px;
}

// ---------------------------------------------------------------------------------------
// 알람 이력 (브릭에 직접 속한 페이지 세부 디자인)

.alarm-cont .mu-splitter-first,
.alarm-cont .mu-splitter-last {
  overflow: hidden;
}
.alarm-cont
  .mu-splitter-wrap
  > .mu-splitter-first
  > .mu-panel
  > .mu-panel-body {
  height: 100%;
}
.alarm-cont
  .mu-splitter-wrap
  > .mu-splitter-first
  > .mu-panel
  > .mu-panel-body
  .mu-list-box {
  height: calc(100vh - 44px);
}
.alarm-cont
  .mu-splitter-wrap
  > .mu-splitter-first
  > .mu-panel
  > .mu-panel-head.filter-wrap {
  padding: 0;
  height: 44px;
}
.alarm-cont
  .mu-splitter-wrap
  > .mu-splitter-first
  > .mu-panel
  > .mu-panel-head.filter-wrap
  .mu-tab {
  padding-left: 8px;
}
.alarm-cont .mu-grid-expand .mu-icon.right,
.alarm-cont .mu-grid-expand .mu-icon.down {
  margin: 0;
}
// 우측 콘텐츠
.alarm-cont .mu-splitter-last .mu-panel-toolbar-box {
  padding-top: 5px;
}
.alarm-cont .mu-splitter-last .mu-panel > .mu-panel-head {
  height: 35px;
}

.alarm-cont
  .mu-splitter-last
  .mu-row:last-of-type
  .mu-panel
  > .mu-panel-head
  .mu-hgroup {
  padding: 0;
}

.alarm-cont .mu-splitter-last .mu-panel.has-grid .mu-scroll-v {
  min-height: calc(100vh - 160px);
  max-height: calc(100vh - 160px);
}
.alarm-cont .mu-panel-toolbar-box .mu-datepicker .mu-input {
  max-width: 120px;
}
.mu-input-time {
  max-width: 80px;
}

// mu-tab 아래에 아무 타이틀/서치인풋 등이 없을 경우 경계 구분해주는 보더
.mu-tab-border {
  width: 100%;
  height: 8px;
  background-color: $ui-02;
}

// alarm 설정 제어하는 아이콘 추가
.mu-icon-img-alarm {
  background: url("#{$img-path}/brick/icon_config-alarm.png") no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
.mu-icon-img-alarm.play-config {
  background-position: 0 0;
}
.mu-icon-img-alarm.item-config {
  background-position: -16px 0;
}
.mu-icon-img-alarm.recog-config {
  background-position: -32px 0;
}

// message
.mu-message {
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
  color: $text-03;
}
.mu-message .mu-icon {
  margin-right: 4px;
}
.mu-message-info .mu-icon {
  color: $status-info-symbol;
}

// ------------------------------------------------------------------------
// iris-web-cluster에서 사용하고 있는 스타일로 갱신
// /* searchWrap */	/*2017-08-17 MOD*/
// .mu-search-group{height:37px;border-radius:0;box-shadow:none;border-bottom:0;background-color:#eee;}
// .mu-search-group .mu-search-item{padding:6px 10px 5px 15px;float: initial;}
// .mu-search-group .mu-search-btn{padding:6px 10px 5px;border:none;}
// .mu-search-group label, .mu-search-group .mu-item-group label{color:$text-01;font-weight:500;}
// /* .mu-panel-head.mu-search-group .mu-search-item{padding:7px 0;} */
// .mu-panel-head.mu-search-group .mu-search-btn{padding:7px 0;border:none;}
// .mu-search-group .mu-search-btn{border-left:none;vertical-align:top;}
// .mu-search-group .mu-search-btn .mu-btn{height:24px;width:auto;min-width:60px;background:$interactive-01;border:1px solid $brand-02;border-radius:4px;box-shadow:0 1px 2px rgba(0, 0, 0, .2);}
// .mu-search-group .mu-search-btn .mu-btn:hover{border-color:$brand-02;background-color:$brand-02;}
// .mu-search-group .mu-search-btn .mu-btn:active{border-color:$brand-02;background-color:$brand-02;box-shadow:0 2px 3px rgba(0, 0, 0, 0.1) inset;}
// .mu-search-group .mu-search-btn .mu-btn-icon .mu-icon.search:before{font-size:13px;vertical-align:top;}
// .mu-btn.btnPlay{height:25px;width:120px;min-width:auto;background:$brand-02;font-size:12px;border-radius:4px;box-shadow:0 0 1px rgba(0, 0, 0, 0.4);margin-left:20px;}
// .mu-btn.btnPlay:hover{background:$brand-02;border:1px solid #1466ad;box-shadow:none;}
// .mu-btn.btnPlay:active{border:none;box-shadow:0 0 4px rgba(0, 0, 0, 0.5) inset;}
// .mu-btn.btnPlay .mu-icon{color:$ui-01;}
/* .mu-btn-icon i, .mu-btn-icon i:before{color:$interactive-01;margin:0;} */

// /* datepicker */	/*2017-08-17 MOD*/
// .mu-datepicker{font-size:0;}
// .mu-datepicker input{background:$ui-01;border:1px solid $ui-04;color:$text-01;width:120px;height:26px;padding-right:30px;line-height:100%;vertical-align:middle;}
// .mu-datepicker input:hover{background:#f7f7f7;border:1px solid $ui-04;}
// .mu-datepicker input:focus{background:$ui-01;border:1px solid $ui-04;}
// .mu-datepicker input[disabled]{background:$ui-02;border:1px solid #e8e8e8;color:$ui-04;cursor:no-drop;}
// .mu-datepicker input[readonly]{background:$ui-01;border:1px solid$ui-04;color:$text-01;cursor:default;}
// .mu-datepicker .mu-btn{background:transparent;position:absolute;right:0;border:1px solid $ui-04;border-radius:0;}
// .mu-datepicker .mu-btn.mu-btn-icon-only{border-top-right-radius:3px;border-bottom-right-radius:3px;}
// .mu-datepicker .mu-btn .mu-icon{vertical-align:middle;}
// .mu-datepicker .mu-btn .mu-icon.calendar{color:$interactive-01;}
// .mu-datepicker .mu-btn:hover{background:transparent;}
// .mu-datepicker .mu-btn:active{box-shadow:inset 0 3px 3px rgba(0,0,0,0.1);background-color:$ui-05;}
// .mu-datepicker .mu-btn:hover .mu-icon.calendar{color:$interactive-01;}
// .mu-datepicker .mu-btn:active .mu-icon.calendar{color:$interactive-01;}
// /* jquery-datepicker 2016-06-27 ADD */
// .ui-datepicker{background:$ui-01;border:1px solid #aaa;border-radius:0;padding-bottom:5px;box-shadow:none;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-datepicker-header{background:none;border-bottom:1px solid #e7e7e7;height:31px;border-radius:0;margin-bottom:8px;padding:5px 10px;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-datepicker-header .ui-datepicker-title{line-height:20px;height:20px;font-size:12px;color:$text-01;font-weight:700;margin:0;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-widget-header .ui-datepicker-prev, .ui-datepicker .ui-widget-header .ui-datepicker-next{border-radius:0;margin:0;width:20px;height:20px;background:transparent;}
// .ui-datepicker .ui-widget-header .ui-datepicker-prev:after{content:"\f0d9";color:$text-03;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-widget-header .ui-datepicker-next:after{content:"\f0da";color:$text-03;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-widget-header .ui-datepicker-prev .ui-icon{width:20px;height:20px;background:none;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-widget-header .ui-datepicker-next .ui-icon{width:20px;height:20px;background:none;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-datepicker-calendar thead th{font-weight:700;width:30px;height:30px;line-height:24px;padding:2px;}
// .ui-datepicker .ui-datepicker-calendar tbody td{font-weight:500;}
// .ui-datepicker .ui-datepicker-calendar thead th, .ui-datepicker .ui-datepicker-calendar tbody td .ui-state-default{font-size:12px;color:#797979;}
// .ui-datepicker .ui-datepicker-calendar thead th:first-child, .ui-datepicker .ui-datepicker-calendar tbody td:first-child .ui-state-default{color:#fd683b;}
// .ui-datepicker .ui-datepicker-calendar thead th:last-child, .ui-datepicker .ui-datepicker-calendar tbody td:last-child .ui-state-default{color:$brand-02;}/*2017-08-25 MOD*/
// .ui-datepicker .ui-datepicker-calendar .ui-state-default{border-radius:0;width:30px;height:30px;line-height:24px;padding:2px;}
// .ui-datepicker .ui-datepicker-calendar .ui-state-default:hover, .ui-datepicker .ui-datepicker-calendar tbody td:first-child .ui-state-default:hover, .ui-datepicker .ui-datepicker-calendar tbody td:last-child .ui-state-default:hover{border-radius:0;border:1px solid $brand-02;color:$brand-02;}
// .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-active{background:transparent;border:1px solid $brand-02;color:$brand-02 !important;}
// .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default{background:$brand-02;color:$ui-01 !important;}
// .ui-datepicker .ui-datepicker-calendar .ui-state-default:hover, .ui-datepicker .ui-datepicker-calendar tbody td:first-child .ui-state-default:hover,
// .ui-datepicker .ui-datepicker-calendar tbody td:last-child .ui-state-default:hover, .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-active,
// .filter-wrap .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default{border-radius:3px;}
// ------------------------------------------------------------------------

.mu-vgroup > * + * {
  margin: initial;
}
.mu-vgroup + .mu-vgroup {
  margin-top: 10px;
}
.mu-hgroup > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.mu-hgroup > * + * {
  margin-left: 5px;
}

.w60 {
  width: 60px;
}
.w80 {
  width: 80px;
}
.w100 {
  width: 100px;
}
.w110 {
  width: 110px;
}
.w180 {
  width: 180px;
}
.w200 {
  width: 200px;
}
.w260 {
  width: 260px;
}

// 2018-10-18 ADD KHY 알람 방식 > 전송 설정 다이얼로그 td 스크롤

.mu-dialog-alarm-play-config {
  width: 304px;
}
.mu-dialog-alarm-play-config .config-sms td {
  display: block;
  max-height: 160px;
  overflow-y: auto;
}
.mu-dialog-alarm-play-config .config-sms .mu-hgroup input {
  width: calc(100% - 31px);
}
.mu-dialog-alarm-play-config .mu-btn.btn-delete {
  padding: 0;
}

// 2018-10-25 ADD KHY 알람 방식 설정
.mu-formbox .question-circle {
  color: #9aa6b5;
}

// 2018-11-29 MOD KHY 알람 방식 설정 롤백 후 일부 내용 보수
.mu-dialog-alarm-play-config .mu-vgroup .mu-hgroup + .mu-hgroup {
  margin-top: 4px;
}
.mu-dialog-alarm-play-config .mu-input[readonly],
.mu-dialog-alarm-play-config .mu-input[readonly]:hover,
.mu-dialog-alarm-play-config .mu-input[readonly]:focus {
  background: $ui-02;
  border: 1px solid #e8e8e8;
  color: $ui-04;
  cursor: default;
}

.grid-wrap {
  border: 1px solid $ui-04;
  border-width: 1px 1px 1px 0;
  height: auto;

  .mu-grid-border,
  .mu-grid,
  .mu-grid tbody > tr:last-child:hover {
    border: 0;
  }
  .mu-grid tbody > tr > td:first-child {
    border-left: 1px solid $ui-04;
  }
  .mu-grid-border thead > tr:first-child > th {
    border-bottom: 2px solid $ui-04;
    border-top: 0;
  }
}

// 2018-11-12 ADD KHY 개인 설정 새로운 스타일 서브 페이지
.account-setting {
  padding: 16px;
  font-size: 0;

  &-left {
    width: 280px;
    padding-left: $layout-lg;
    display: inline-block;
    vertical-align: top;
  }

  &-right {
    width: calc(100% - 280px);
    display: inline-block;
    vertical-align: top;
    padding-left: $layout-xs;
    padding-right: $layout-lg;
  }
}

// 좌측 사이드 네비게이션 메뉴

.mui-menu-wrap {
  width: 100%;
  border: 1px solid $ui-04;
  padding: 16px 12px 12px;
}
.mui-menu-title {
  color: $brand-03;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid $brand-03;
  padding: 0 8px 8px;
  .mu-icon {
    margin-right: 8px;
  }
}

.mui-menu-list {
  padding: $spacing-2xs 0;

  .mui-menu-list-item {
    height: $layout-sm;
    line-height: 32px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 4px;
  }

  .mui-menu-list-item:last-child {
    margin-bottom: 0;
  }

  .mui-menu-list-item:hover {
    color: $interactive-01;
  }

  .mui-menu-list-item.is-selected {
    background-color: $hover-ui-accent;
    font-weight: 700;
    color: $interactive-01;
  }

  .mui-menu-list-item.is-disabled,
  .mui-menu-list-item[disabled] {
    cursor: no-drop;
    opacity: 0.5;
    background-color: $ui-01;
    color: $text-01;
  }
}

// 우측 콘텐츠 영역

.mui-input-number {
  width: 90px;
}
